/*----------------------------------------------------------------------------- 
	Home Page style
------------------------------------------------------------------------------*/


#slider-container {	
	width: 950px;
	height: 300px;
	margin: 0 0 20px -20px;
	background: url(../images/slider-bg.jpg) 0 0 no-repeat;	
	padding: 20px;
}

#slider {
	background: #fff;
	width:  950px;
	height:  300px;
}

#nav-container {
	position: relative;
	float:right;
	height: 30px;
	width: 900px;
	margin: -40px 15px 0 0;	
	z-index: 100;
}

#nav-container ul{	
	margin: 0;
	padding: 0;
	height: 30px;
	float:right;
}

#nav-container ul li{	
	list-style: none;
	float: left;
	height: 30px;	
	line-height: 30px;
}

#nav-container ul li a{	
	display: block;
	width: 11px;
	height: 11px;
	margin: 15px 3px 0 3px;
	background: #dddddd;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
}

#nav-container ul li.activeSlide a {	
	background: #d6a026;
}

#latestentries {
	margin: 10px 0 0 0;		
	overflow: overlay;
}


#latestentries div.product {
	float:left;
	width: 155px;
	height: 240px;
	margin: 0 20px 15px 0;
	overflow: hidden;
}

#latestentries div.product:nth-child(4n+4) {
	margin: 0 0 10px 0;
}

#latestentries div.image {
	float:left;
	width: 155px;
	height: 155px;	
}

#latestentries div.description {
	float:left;
	width: 155px;
	height: 45px;
	margin: 5px 0 0 0;	
	overflow: hidden;	
}

#latestentries div.description span {
	color: #000;	
	font-weight: bold;	
}

#latestentries div.description p {
	margin: 3px 0 0 0;
	line-height: 14px;
}

#latestentries div.controls {
	float:left;
	width: 155px;
	height: 30px;
	margin: 5px 0 0 0;	
}

#latestentries div.controls span{
	float: left;
	color: #6e4e17;
	font-size: 13px;	
	line-height: 30px;
	text-shadow:rgba(221,221,221,1) 0 1px 0;
}

#latestentries div.controls a{
	float: right;
	margin: 3px 0 0 0;
}

#latestentries div.image div.outofstock {
	position: relative;
	width: 85px;
	height: 72px;
	background: url(../images/outofstock.png) 0 0 no-repeat;
	z-index: 100;
	margin: -156px 0 0 71px;	
}

div.new {	
	position: absolute;		
	width: 44px;
	height: 50px;
	background: url(../images/bar-new.jpg) 0 0 no-repeat;
	margin: -50px 0 0 626px;	
}