/*----------------------------------------------------------------------------- 
	Registration Page style
------------------------------------------------------------------------------*/

#registration {
	height: 30px;
	width: 940px;
	line-height: 30px;
	background: url(../images/title-bg.png) 0 0 repeat-x;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	text-transform:uppercase;
	padding: 0 0 0 10px;
	color: #fff;
	font-weight: bold;
	margin: 0 0 10px 0;
}

div.register-icon {	
	position: absolute;		
	width: 60px;
	height: 50px;
	background: url(../images/bar-register.jpg) 0 0 no-repeat;
	margin: -60px 0 0 885px;	
}

#complete,
#activation-success {
	margin: 10px 0 0 0;
	border: 5px #F3F3F3 solid;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	padding: 25px 5px 25px 5px;
	overflow: overlay;
	text-align: center;
	background: #eeffcc;
}

#activation-fail {
	margin: 10px 0 0 0;
	border: 5px #F3F3F3 solid;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	padding: 25px 5px 25px 5px;
	overflow: overlay;
	text-align: center;
	background: #ffeeee;
}