/*----------------------------------------------------------------------------- 
	General Page style
------------------------------------------------------------------------------*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative; 
}

html, body {
    height: 100%;
}

#userpanel {
	height: 30px;
	background: #111111;
	background:-moz-linear-gradient(bottom,#111111,#393939);
	background:-webkit-gradient(linear,left bottom,left top,from(#111111),to(#393939));
}

#userpanel #userpanel-wrapper {	
	width: 950px;
	height: 30px;
	margin: 0 auto;		
	line-height: 30px;
}

#userpanel #userpanel-wrapper a#home {
	display: block;	
	float: left;
	height: 30px;
	width: 20px;
	line-height: 30px;	
	background: url(../images/home-icon.png) 0 50% no-repeat;	
}

#userpanel #userpanel-wrapper #user {
	float: left;	
}

#userpanel #userpanel-wrapper #user ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

#userpanel #userpanel-wrapper #user ul li {
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0 5px 0 0; 
}

#userpanel #userpanel-wrapper #user span#username {
	display: block;		
	color: #eeeeee;
	font-size: 11px;	
}

#userpanel #userpanel-wrapper #user span#lastlogin {	
	display: block;	
	color: #a4a4a4;
	font-size: 9px;
}

#userpanel #userpanel-wrapper #controls {
	float: right;
}

#userpanel #userpanel-wrapper #controls ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

#userpanel #userpanel-wrapper #controls ul li {
	float: left;
	height: 30px;
	margin: 0 0 0 10px; 
}

#userpanel #userpanel-wrapper #controls a {	
	display: block;	
	height: 30px;
	line-height: 30px;
	color: #eeeeee;
	font-size: 11px;
}

#userpanel #userpanel-wrapper #controls a:hover {
	color: #ffffff;
}

#userpanel #userpanel-wrapper #controls a#logout {
	background: url(../images/logout-icon.png) 0 50% no-repeat;
	padding: 0 0 0 20px;
}

#userpanel #userpanel-wrapper #controls a#login {
	background: url(../images/login-icon.png) 0 50% no-repeat;
	padding: 0 0 0 20px;
}

#wrapper {
	width: 950px;		
    margin: 0 auto; 	
	padding-bottom:30px;	
}

#header {
	height: 100px;	
}

#logo {
	float:left;
	width: 160px;
	height: 100px;
	background: url(../images/azora.png) 0 0 no-repeat;
}

#logo a {
	display: block;
	width: 160px;
	height: 100px;	
}

#prms {
	float:left;
	margin-left: 10px;
	width: 212px;
	height: 100px;
	background: url(../images/prms-2lines.png) 0 40px no-repeat;
}

#prms a {
	display: block;
	width: 212px;
	height: 100px;	
}

#footer {		
	position:absolute;
	clear: both;
	width: 100%;
	height:30px;   /* Height of the footer */
	bottom:0;
	padding: 10px 0 0 0;
}

#footer #container {	
	width: 950px;
	height: 30px;
	margin: 0 auto;	
	background: #4d4d4d;	
	line-height: 30px;
}

#footer #container #section {
	float: left;
	margin-left: 11px;
}

#footer #container #section a {
	background: url(../images/bullet-green.png) 0 50% no-repeat;
	padding: 0 5px 0 10px;
	color: #eeeeee;
	font-size: 11px;
}

#footer #container #section a:hover {
	color: #ffffff;
}

#footer #container #powered {
	float: right;
	margin-right: 16px;
}

#footer #container #powered a {	
	color: #eeeeee;
	font-size: 11px;
}

#footer #container #powered a:hover {
	color: #ffffff;
}

.push {
	padding-bottom: 20px;
}

.bottomspacing {
	margin: 0 0 20px 0;
}

#left {
	clear: both;
	float: left;
	width: 250px;
	overflow: overlay;
}

#right {
	float: left;
	margin-left: 20px;
	width: 680px;	
	overflow: overlay;
}


.main-menu {
	margin: 0;
	padding: 0;
	width: 250px;	
}

ul.main-menu li.menu-group {
	float: left;
	width: 250px;
	margin: 0 0 10px 0;
}

.main-menu .menu-group-panel-bar {	
	height: 30px;
	width: 250px;
	line-height: 30px;
	background: url(../images/menu-group-bg.png) 0 0 repeat-x;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
}

.main-menu .menu-group-panel-bar span {	
	float: left;
	text-transform:uppercase;
	font-weight: bold;	
	margin-left: 9px;	
}

.main-menu .menu-group-panel-bar a {	
	float: right;
	height: 11px;
	width: 10px;
	margin: 9px 9px 0 0;
	/*background: url(../images/menu-unfold.png) 0 0 repeat-x;*/
}

.main-menu ul.menu-item-list {
	margin: 10px 0 0 0;
	padding: 0;
	width: 250px;
	list-style: none;
}

.main-menu ul.menu-item-list li{
	float: left;
	width: 250px;
	height: 30px;
}

.main-menu ul.menu-item-list li a{
	display: block;
	width: 213px;
	height: 30px;	
	line-height: 30px;	
	color: #000;
	overflow: hidden;
	padding: 0 0 0 37px;
	background: #f8f8f8 url(../images/menu-item-bullet.png) 16px 50% no-repeat;
}

.main-menu ul.menu-item-list li a:hover{
	background: #dddddd url(../images/menu-item-bullet.png) 16px 50% no-repeat;
	color: #000;
}

.main-menu .user-menus {		
	background: url(../images/user-menu-group-bg.png) 0 0 repeat-x;	
	color: #fff;
}

#righttitle {
	height: 30px;
	width: 670px;
	line-height: 30px;
	background: url(../images/title-bg.png) 0 0 repeat-x;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	text-transform:uppercase;
	padding: 0 0 0 10px;
	color: #fff;
	font-weight: bold;
}

#contentcontainer {
	margin: 10px 0 0 0;
	border: 5px #F3F3F3 solid;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	padding: 5px;
	overflow: overlay;
}

#left div.left {
	float: left;
	width: 250px;
	margin-bottom: 20px;
}

#left-top{
	float: left;
	width: 250px;
	margin-bottom: 10px;
}

#rewards-menu-icon {	
	position: absolute;		
	width: 53px;
	height: 50px;
	background: url(../images/bar-rewards.jpg) 0 0 no-repeat;
	margin: -20px 0 0 185px;	
}

#information-menu-icon {	
	position: absolute;		
	width: 53px;
	height: 50px;
	background: url(../images/bar-help.jpg) 0 0 no-repeat;
	margin: -20px 0 0 185px;	
}

#product-menu-icon {	
	position: absolute;		
	width: 53px;
	height: 50px;
	background: url(../images/bar-cart.jpg) 0 0 no-repeat;
	margin: -20px 0 0 185px;	
}

#user-menu-icon {	
	position: absolute;		
	width: 53px;
	height: 50px;
	background: url(../images/bar-manage.jpg) 0 0 no-repeat;
	margin: -20px 0 0 187px;	
}

div.products-listing-icon {	
	position: absolute;		
	width: 60px;
	height: 50px;
	background: url(../images/bar-products.jpg) 0 0 no-repeat;
	margin: -50px 0 0 610px;	
}

div#product-list {
	margin: 10px 0 0 0;		
	overflow: overlay;
}


div#product-list div.product {
	float:left;
	width: 155px;
	height: 240px;
	margin: 0 20px 15px 0;
	overflow: hidden;
}

#product-list div.product:nth-child(4n+4) {
	margin: 0 0 10px 0;
}

#product-list div.image {
	float:left;
	width: 155px;
	height: 155px;	
}

#product-list div.description {
	float:left;
	width: 155px;
	height: 45px;
	margin: 5px 0 0 0;	
	overflow: hidden;	
}

#product-list div.description span {
	color: #000;	
	font-weight: bold;	
}

#product-list div.description p {
	margin: 3px 0 0 0;
	line-height: 14px;
}

#product-list div.controls {
	float:left;
	width: 155px;
	height: 30px;
	margin: 5px 0 0 0;	
}

#product-list div.controls span{
	float: left;
	color: #000;
	font-size: 13px;	
	line-height: 30px;
	text-shadow:rgba(221,221,221,1) 0 1px 0;
}

#product-list div.controls a{
	float: right;
	margin: 3px 0 0 0;
}

#product-list div.image div.outofstock {
	position: relative;
	width: 85px;
	height: 72px;
	background: url(../images/outofstock.png) 0 0 no-repeat;
	z-index: 100;
	margin: -156px 0 0 71px;
}

a#register {
	display: block;
	height: 50px;
	line-height: 45px;
	width: 250px;
	background: #d94a38;
	border: 1ps solid #d14836;
	color: #fff;
	text-align: center;
	-moz-border-radius:10x;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
	font-size: 20px;	
	margin: 0 0 10px 0;
}

a.home-login {
	display: block;
	height: 50px;
	line-height: 45px;
	width: 250px;
	background: #d08841;
	border: 1ps solid #d14836;
	color: #fff;
	text-align: center;
	-moz-border-radius:10x;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
	font-size: 20px;	
	margin: 0 0 10px 0;
}


a#register:hover {
	background: #c13e2d;	
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#termsplaceholder {
	margin: 20px 0 0 0;
}

div.terms-icon {	
	position: absolute;		
	width: 60px;
	height: 50px;
	background: url(../images/bar-terms.jpg) 0 0 no-repeat;
	margin: -50px 0 0 610px;	
}

#pointnumberbox {
	height: 80px;
	width: 250px;
	line-height: 35px;
	padding-top:10px;
	background: #dddddd;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	margin: 10px 0 0 0;
	text-align: center;
	color: #333;
	font-size: 30px;
	text-shadow:rgba(255,255,255,1) 1px 1px 0;
}


.SectionTitle {
	margin: 5px 0 5px 0;
	padding: 9px 3px 9px 7px;
	background: #999;
	color: #fff;
	font-weight: bold;	
}

.cprocess {
	margin: 10px 0 0 0;
	padding: 25px 5px 25px 5px;
	overflow: overlay;
	text-align: center;
}


.info-box {
	margin: 10px;
	padding: 25px 5px 25px 5px;
	overflow: overlay;
	text-align: center;
	background: #d6a026;
	border: 1px solid #4f3004;
	padding: 10px;
	color: #fff;
	font-weight: bold;
}


div.contact-icon {	
	position: absolute;		
	width: 60px;
	height: 50px;
	background: url(../images/bar-contactus.jpg) 0 0 no-repeat;
	margin: -50px 0 0 610px;	
}

div.store-icon {	
	position: absolute;		
	width: 60px;
	height: 50px;
	background: url(../images/bar-store.jpg) 0 0 no-repeat;
	margin: -50px 0 0 610px;	
}