/*----------------------------------------------------------------------------- 
	Login Page style
------------------------------------------------------------------------------*/
#login-wrapper {	
	width: 270px;
	height: 200px;		
}

#loginform {
	width: 270px;
	padding-top: 20px;
}

#forgotform {
	width: 270px;
	padding-top: 50px;
}

#login form p {
	margin-bottom:0;
}

label {
	color:#333;font-size:12px;	
	margin-left:25px;
}

form .submit {
	float:right;
	margin-top:5px;
	margin-right:25px;
}

form p{margin-bottom:10px;}

#user_pass, #user_login, #user_email { 
	font-size:12px;width:210px;padding:3px;margin-top:5px;margin-left:25px;border:1px solid #e5e5e5;background:#fbfbfb;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	height: 20px;
}

input{color:#555;}.clear{clear:both;}

#nav {text-shadow:rgba(255,255,255,1) 0 1px 0;}
	
#nav{margin:0 0 0 8px;padding:12px 10px 10px 16px;}

#forgotform {
	display: none;
}

.login_error {
	margin:5px 25px 0 25px; 
	height: 15px;
	border-width:1px; border-style:solid; padding:5px 3px 5px 5px;
	width:207px;
	background-color: #FFEBE8;
	border-color: #C00;
	-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	display: none;
}

.login_success {
	margin:5px 25px 0 25px; 
	height: 15px;
	border-width:1px; border-style:solid; padding:5px 3px 5px 5px;
	width:207px;
	background-color: #eeffcc;
	border-color: #99dd00;
	-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	display: none;
}

.indicator {
	float:right;
	width: 23px;
	height: 23px;
	background: url(../images/indicator.gif) 50% 50% no-repeat;
	margin-top:7px;
	display: none;
}