Dear {%name%},
<br/><br/>
Welcome to {%company_name%} redemption website.  To complete the registration process, please click on the link below to activate your account.
<br/><br/>
<a href="{%activation_link%}">{%activation_link%}</a>
<br/>
<i>(If the above link does not work, please copy the full address and paste it to your Internet Browser.)</i>
<br/><br/>
<b>Your account detail:</b>
<br/><br/>
Login ID : {%nric%}<br/>
Password : {%password%}
<br/><br/><br/>
Regards,<br/>
{%company_name%} Redemption Website