Dear {%name%},
<br/><br/>
Your account has been successfully activated at {%company_name%} redemption website.
<br/><br/>
You may now start the redemption process with your points. Points will be accumulated upon everytime you shop at our registered stores.<br/>
Point expiration will be start counting from your very first time purchase. You will be notified via email at that time.
<br/><br/><br/>
Regards,<br/>
{%company_name%} Redemption Website