Dear {%name%},
<br/><br/>
Your password has been reset at {%company_name%} redemption website. The following is your updated account information.
<br/><br/>
<b>Your account detail:</b>
<br/><br/>
Login ID : {%nric%}<br/>
Password : {%newpassword%}
<br/>
<i>(Please change this password with yours when you first time login.)</i>
<br/><br/><br/>
Regards,<br/>
{%company_name%} Redemption Website