Dear {%full_name%},
<br/><br/>
Your password has been reset at {%company_name%} PRMS. The following is your updated user information.
<br/><br/>
<b>Your account detail:</b>
<br/><br/>
Login ID : {%username%}<br/>
Password : {%newpassword%}
<br/>
<i>(Please change this password with yours when you first time login.)</i>
<br/><br/><br/>
Regards,<br/>
{%company_name%}  PRMS