Dear {%name%},
<br/><br/>
Your reward points have been expired as following.<br/>
<br/><br/>
<b>Points detail</b>
<br/><br/>
{%points%}<br/>
If you have any enquiry on expiration, please contact our customer support at {%csmail%}.<br/>
<br/><br/><br/>
Regards,<br/>
{%company_name%} Redemption Website