Dear {%name%},
<br/><br/>
Thank you for your purchasing at our store. <br/>
Please be informed that all your reward points on your purchasing are started accumulating in your account.
<br/><br/>
{%expiry_on%}
You may login and check your points detail via following link.<br/>
{%link%}
<br/><br/><br/>
Regards,<br/>
{%company_name%} Redemption Website