Dear {%name%},
<br/><br/>
You have submitted a new redemption application at {%company_name%} Redemption Website.<br/>
The collection will be on ({%cdate%}) at ({%store%}) store.<br/><br/>
The following is your submitted product details:<br/><br/>
{%items%}
<br/>
<i>(Please print this email and bring along with you to collect redemption items.)</i>
<br/><br/>
Regards,<br/>
{%company_name%} Redemption Website