Dear {%name%},
<br/><br/>
We're sorry that your redemption application(s) have been expired at {%company_name%} Redemption Website.
<br/>
You may login and check your redemption via following link.<br/>
{%link%}<br/><br/>
If you have any enquiry on expiration, please contact our customer support at {%csmail%}.<br/>
<br/><br/><br/>
Regards,<br/>
{%company_name%} Redemption Website