Dear {%full_name%},
<br/><br/>
This is kindly inform you that the following redemption application has been cancelled.
<br/><br/>
<b><u>Detail</u></b><br/>
Redemption No. : {%redemption_no%}<br/>
Submitted Date : {%transaction_dt%}
<br/><br/><br/>
Regards,<br/>
{%company_name%}  PRMS