Dear {%full_name%},
<br/><br/>
This is kindly remind you that there are some pending redemption application on {%company_name%} PRMS.
<br/>
Please go to PRMS and kindly check in Redemptions menu under Store Management section.
<br/><br/><br/>
Regards,<br/>
{%company_name%}  PRMS