Dear {%name%},
<br/><br/>
We would like to kindly remind you that your points at {%company_name%} Redemption Website will be expired in {%days%} days.<br/>
<br/>
You may login and check your points detail via following link.<br/>
{%link%}
<br/><br/><br/>
Regards,<br/>
{%company_name%} Redemption Website