/* General Style */

/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;	
	background: transparent;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	clear: both;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }


/*----------------------------------------------------------------------------- 
	Background
------------------------------------------------------------------------------*/
body {
	
}


/*----------------------------------------------------------------------------- 
	Font
------------------------------------------------------------------------------*/
body,
input,
textarea,
select {
	font-family: "Segoe UI", Verdana, Tahoma, Helvetica, "Helvetica Neue", Arial, sans-serif; 
	font-size: 12px;
	color:#000;	
}

a {
	color: #d6a026;
	text-decoration: none;
}

a:hover {
	color: #000;	
}

/*----------------------------------------------------------------------------- 
	Button
------------------------------------------------------------------------------*/
.button, .button-secondary, .submit input, 
input[type=button],input[type=submit] {
	border-color:#bbb;
	color:#555555;
}

.button:hover, .button-secondary:hover, .submit input:hover, 
input[type=button]:hover, input[type=submit]:hover {
	color:#000;
	border-color:#999;
}

.button, .submit input, .button-secondary {
	background:#f2f2f2 url(../images/s-button.png) repeat-x scroll left top;
	font-weight:bold;
	text-shadow:rgba(255,255,255,1) 0 1px 0;
}

.button:active, .submit input:active,
.button-secondary:active {
	background:#eee url(../images/s-button-a.png) repeat-x scroll left top;
}

input.button-primary, button.button-primary, a.button-primary {
	border-color:#9dcd37;
	font-weight:bold;
	color:#fff;
	background: url(../images/p-button.png) repeat-x scroll left top;
	text-shadow:#8e8e8e 0 1px 0;
}

input.button-primary:active, button.button-primary:active, a.button-primary:active {
	background: url(../images/p-button-a.png) repeat-x scroll left top;
	color:#edf6db;
}

input.button-primary:hover, button.button-primary:hover, 
a.button-primary:hover, a.button-primary:focus, a.button-primary:active {
	border-color:#74b006;
	color:#eeeeee;
}

.button-disabled, .button[disabled], 
.button:disabled,.button-secondary[disabled],
.button-secondary:disabled,a.button.disabled {
	color:#aaa!important;
	border-color:#ddd!important;
}

.button-primary-disabled, .button-primary[disabled],
.button-primary:disabled {
	color:#d5e5b8!important;
	background:#9bc351!important;
}

.submit input,
.button,
input.button,
.button-primary,
input.button-primary,
.button-secondary,
input.button-secondary,
.button-highlighted,
input.button-highlighted,
.submit input {
	font-family: "Segoe UI", Verdana, Tahoma, Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
	font-size: 11px !important;
	line-height: 15px;
	padding: 3px 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
	/*margin-top: -1px;*/
}

a.button,
a.button-primary,
a.button-secondary {	
	display: inline-block;	
	height: 15px !important;
	line-height: 15px !important;
	padding: 3px 10px 3px 10px;
	white-space: nowrap;
	moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
}

/*----------------------------------------------------------------------------- 
	tabular
------------------------------------------------------------------------------*/

.tabular {
	width: 100%;	
	border-collapse:separate;	
}

.tabular thead th {
	padding: 7px 3px 7px 3px;
	line-height: 20px;
	background:  #d6a026;	
	text-align: left;
	font-weight: bold;	
	/*text-shadow:#ffffff 0 1px 0;*/
	color: #000;	
	border-collapse:separate;
	border-spacing:5px 5px;
	border-bottom: 5px solid #fff;
}

.tabular thead th:first-child {
	width: 25px;
}

.tabular tfoot th {
	padding: 7px 0 7px 5px;
	line-height: 20px;
	border-color: #ccc; 
	text-align: left;
	font-weight: normal;
	background: #fff;
	border-top: 5px solid #fff;
	border-bottom: 1px dotted #aeaeae;	
	background:#fff url(../images/tf-border.jpg) repeat-x scroll 0 0;
}

.tabular tbody tr td {
	padding: 7px 3px 7px 3px;
	line-height: 20px;
	border-color: #ccc; 
	text-align: left;
	font-weight: normal;	
	border-collapse:separate;
	border-spacing:50px 50px;	
}

.tabular tbody tr td.text-right {
	padding: 7px 3px 7px 3px;
	line-height: 20px;
	border-color: #ccc; 
	text-align: right;
	font-weight: normal;	
	border-collapse:separate;
	border-spacing:50px 50px;	
}

.tabular tbody tr td:first-child {
	width: 25px;
}

.tabular tbody tr td a.detailLink {
	color: #444;
	border-bottom: 1px dotted #0078BD;
}

.tabular tbody tr:nth-child(odd)  { background-color:#eeeeee; }
.tabular tbody tr:nth-child(even) { background-color:#fff; }

.tabular tr:hover td { 
	background: #fcffd9; 
}


/*----------------------------------------------------------------------------- 
	formview
------------------------------------------------------------------------------*/
.formview {
	width: 100%;	
	border-collapse:separate;	
	border-spacing: 5px 5px;
}

.formview td {
	padding: 7px 3px 7px 7px;	
	background: #eeeeee;
}

.formview td input[type=text],
.formview td textarea,
.formview td select,
.formview td input[type=password] {	
	width: 98%;	
}

.formview td.LabelCell {
	background-color: #d6a026;
	font-weight: bold;	
	width: 220px;	
}

.formview td.Required {
	background-image: url(../images/req-triangle.png);
	background-position: 100% 0;
	background-repeat: no-repeat;
}

.formview td.Disabled {
	background-color: #eeeeee;
	color: #a8a8a8;	
}

.formview td.required-warning{
	background-color: #ff8888;
}

.formview td span.invalidtext{
	clear: both;
	color: #c11700;	
	line-height: 20px;
}

.formview td.BottomToolBar {
	padding: 7px 3px 7px 7px;	
	background: #fff;
	border-top: 5px solid #fff;
	border-bottom: 1px dotted #aeaeae;	
	background:#fff url(../images/tf-border.jpg) repeat-x scroll 0 0;
}

.formview td.SectionBar {
	padding: 9px 3px 9px 7px;	
	background: #999;
	color: #fff;
	font-weight: bold;	
}


/*----------------------------------------------------------------------------- 
	Info
------------------------------------------------------------------------------*/

.form-info {
	margin: 0 5px 0 5px;
}

.tabular-info {
	margin: 0 0 5px 0;
}

.error-info {
	background: #ffeeee;
	border: 1px solid #ff8888;
	padding: 10px;
	color: #770000;
	font-weight: bold;
}

.error-info p {
	line-height: 15px;
}

.success-info {
	background: #eeffcc;
	border: 1px solid #99dd00;
	padding: 10px;
	color: #448800;
	font-weight: bold;
}

.success-info p {
	line-height: 15px;
}

.warning-info {
	background: #fdffe3;
	border: 1px solid #ddda00;
	padding: 10px;
	color: #c2bf07;
	font-weight: bold;
}

.warning-info p {
	line-height: 15px;
}
/*----------------------------------------------------------------------------- 
	Download Link
------------------------------------------------------------------------------*/
a.downlink {
	color: #444;
	text-decoration: none;
	text-decoration: underline;
}

a:hover.downlink {
	color: #000;	
	text-decoration: none;
}