/*----------------------------------------------------------------------------- 
	General Page style
------------------------------------------------------------------------------*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative; 
}

html, body {
    height: 100%;
}

#userpanel {
	height: 30px;
	background: #111111;
	background:-moz-linear-gradient(bottom,#111111,#393939);
	background:-webkit-gradient(linear,left bottom,left top,from(#111111),to(#393939));
}

#userpanel #upcontainer {	
	width: 950px;
	height: 30px;
	margin: 0 auto;		
	line-height: 30px;
}

#userpanel #upcontainer #user {
	float: left;	
}

#userpanel #upcontainer #user ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

#userpanel #upcontainer #user ul li {
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0 5px 0 0; 
}

#userpanel #upcontainer #user span#username {
	display: block;
	background: url(../images/user-icon.png) 0 50% no-repeat;
	padding: 0 0 0 25px;
	color: #eeeeee;
	font-size: 11px;	
}

#userpanel #upcontainer #user span#lastlogin {	
	display: block;	
	color: #a4a4a4;
	font-size: 9px;
}

#userpanel #upcontainer #controls {
	float: right;	
}

#userpanel #upcontainer #controls ul#top-menu{
	margin: 0;
	padding: 0;
	list-style:none;
}

#userpanel #upcontainer #controls ul#top-menu li {
	float: left;
	height: 30px;
	margin: 0 0 0 10px;	
}


#userpanel #upcontainer #controls a {	
	display: block;	
	height: 30px;
	line-height: 30px;
	color: #eeeeee;
	font-size: 11px;
}

#userpanel #upcontainer #controls a:hover {
	color: #ffffff;
}

#userpanel #upcontainer #controls a#account {
	background: url(../images/setting-icon.png) 0 50% no-repeat;
	padding: 0 0 0 20px;
}


#userpanel #upcontainer #controls ul#top-menu li ul {	
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;	
}
		
#userpanel #upcontainer #controls ul#top-menu li ul li {	
	float: none;	
	display: inline;	
	height: 30px;	
	margin: 0; 
}
		
#userpanel #upcontainer #controls ul#top-menu li ul li a {	
	width: auto;
	background: #111111;
	height: 30px;
	line-height: 30px;
	padding: 0 10px 0 10px;
}

#userpanel #upcontainer #controls ul#top-menu li ul li a:hover {
	background:  #d6a026;	
}


#userpanel #upcontainer #controls a#logout {
	background: url(../images/logout-icon.png) 0 50% no-repeat;
	padding: 0 0 0 20px;
}

#wrapper {
	width: 950px;		
    margin: 0 auto; 	
	padding-bottom:30px;
}

#header {
	height: 110px;	
}

#logo {
	float:left;
	width: 160px;
	height: 110px;
	background: url(../images/azora.png) 0 50% no-repeat;
}

#logo a {
	display: block;
	width: 160px;
	height: 100px;	
}

#prms {
	float:left;
	margin-left: 10px;
	width: 212px;
	height: 110px;
	background: url(../images/prms-2lines.png) 0 50% no-repeat;
}

#prms a {
	display: block;
	width: 212px;
	height: 100px;	
}

#left {
	clear: both;
	float: left;
	width: 250px;
	overflow: overlay;
}

#right {
	float: left;
	margin-left: 20px;
	width: 680px;	
	overflow: overlay;
}

#main-menu {
	margin: 0;
	padding: 0;
	width: 250px;	
}

ul#main-menu li.menu-group {
	float: left;
	width: 250px;
	margin: 0 0 10px 0;
}

#main-menu .menu-group-panel-bar {	
	height: 30px;
	width: 250px;
	line-height: 30px;
	background: url(../images/menu-group-bg.png) 0 0 repeat-x;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
}

#main-menu .menu-group-panel-bar span {	
	float: left;
	text-transform:uppercase;
	font-weight: bold;	
	margin-left: 9px;	
}

#main-menu .menu-group-panel-bar a {	
	float: right;
	height: 11px;
	width: 10px;
	margin: 9px 9px 0 0;
	background: url(../images/menu-unfold.png) 0 0 repeat-x;
}

#main-menu ul.menu-item-list {
	margin: 10px 0 0 0;
	padding: 0;
	width: 250px;
	list-style: none;
}

#main-menu ul.menu-item-list li{
	float: left;
	width: 250px;
	height: 30px;
}

#main-menu ul.menu-item-list li a{
	display: block;
	width: 213px;
	height: 30px;	
	line-height: 30px;	
	color: #000;
	overflow: hidden;
	padding: 0 0 0 37px;
	background: #f8f8f8 url(../images/menu-item-bullet.png) 16px 50% no-repeat;
}

#main-menu ul.menu-item-list li a:hover{
	background: #dddddd url(../images/menu-item-bullet.png) 16px 50% no-repeat;
	color: #000;
}

#main-menu ul.menu-item-list li a.selected {	
	background: #dddddd url(../images/menu-item-bullet.png) 16px 50% no-repeat;
	color: #555555;
}

#righttitle {
	height: 30px;
	width: 670px;
	line-height: 30px;
	background: url(../images/title-bg.png) 0 0 repeat-x;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	text-transform:uppercase;
	padding: 0 0 0 10px;
	color: #fff;
	font-weight: bold;
}

#contentcontainer {
	margin: 10px 0 0 0;
	border: 5px #F3F3F3 solid;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	padding: 5px;
	overflow: overlay;
}

#footer {		
	position:absolute;
	clear: both;
	width: 100%;
	height:30px;   /* Height of the footer */
	bottom:0;
	padding: 10px 0 0 0;
}

#footer #container {	
	width: 950px;
	height: 30px;
	margin: 0 auto;	
	background: #4d4d4d;	
	line-height: 30px;
}

#footer #container #support {
	float: left;
	margin-left: 16px;
}

#footer #container #support a {
	background: url(../images/bullet-green.png) 0 50% no-repeat;
	padding: 0 0 0 10px;
	color: #eeeeee;
	font-size: 11px;
}

#footer #container #support a:hover {
	color: #ffffff;
}

#footer #container #powered {
	float: right;
	margin-right: 16px;
}

#footer #container #powered a {	
	color: #eeeeee;
	font-size: 11px;
}

#footer #container #powered a:hover {
	color: #ffffff;
}

.push {
	padding-bottom: 20px;
}


.SectionTitle {
	margin: 5px 0 5px 0;
	padding: 9px 3px 9px 7px;
	background: #999;
	color: #fff;
	font-weight: bold;	
}

.cprocess {
	margin: 10px 0 0 0;
	padding: 25px 5px 25px 5px;
	overflow: overlay;
	text-align: center;
}

.info-box {
	margin: 10px;
	padding: 25px 5px 25px 5px;
	overflow: overlay;
	text-align: center;
	background: #eeffcc;
	border: 1px solid #99dd00;
	padding: 10px;
	color: #448800;
	font-weight: bold;
}

.indicator {
	float:right;
	width: 23px;
	height: 23px;
	background: url(../images/indicator.gif) 50% 50% no-repeat;	
	display: none;
}


.rws-tool {
	float: left;	
	width: 200px;
	height: 200px;
	margin: 0 10px 10px 10px;
}

.rws-tool a {
	display: block;	
	width: 150px;
	height: 180px;
	margin: 10px 25px 0 25px;	
}

.rws-tool a div {	
	width: 150px;
	height: 150px;
	margin: 0 0 10px 0;
}

.rws-tool a span {
	clear: both;
	display: block;
	width: 150px;
	line-height: 20px;
	text-align: center;
	background: #E7E7E7;
	-moz-border-radius:5x;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
}

.rws-tool a:hover span {
	background: #B0B0B0;
}

.rws-tool a div.rws-tool-slider {	
	background: url(../images/mod_slider.png) 50% 50% no-repeat;	
}

.rws-tool a div.rws-tool-document {	
	background: url(../images/mod_content.png) 50% 50% no-repeat;	
}