div.main_module div.report_name {padding:0 0 15px 0;}
div.main_module div.report_name input {width:275px;margin-top:4px;}

div.hrFullLine {margin:10px 0px;}

table.report_address_table {margin-bottom:10px;}
table.report_address_table td.label-col {width:130px;}

table.transaction_details_table {width:100%;margin-bottom:10px;}
table.transaction_details_table th, table.transaction_details_table td {padding:4px;vertical-align:middle;}
table.transaction_details_table th.report {font-weight:bold;}
table.transaction_details_table td.checkbox {width:1%;padding:0;}
table.transaction_details_table td.date {width:25%;padding-left:5px;}
table.transaction_details_table th.description {width:30%;}
table.transaction_details_table th.amount, table.transaction_details_table td.amount {width:20%;text-align:right;padding-right:55px !important;}
table.transaction_details_table td.negative {color:#009DD9;}
table.transaction_details_table th.comment {width:25%;}
table.transaction_details_table input.textField {width:130px;}
table.transaction_details_table tr.hr td,
table#transaction-report-options tr.hr td {background:url(../img/global/hr_light_dots.gif) center left repeat-x;padding:4px;height:1px;padding:0;}
table.transaction_details_table tr.hrFull td {padding:4px;padding:0;}
table.transaction_details_table tr.hrFull td div {background:#ececec;height:1px;font-size:1px;overflow:hidden;}
table.transaction_details_table tr.totals td {padding:6px 4px 7px 4px;font-weight:bold;}

div.rewards_point_module {padding-top:10px !important;padding-bottom:10px !important;}
div.rewards_point_module table.rewards_table {width:100%;}
div.rewards_point_module table.rewards_table tr td {vertical-align:middle;}
div.rewards_point_module table.rewards_table td.rewards-image {padding:0 10px 0 5px;} 
div.rewards_point_module table.rewards_table td.rewards-image-shopping {padding-left:13px;} 
div.rewards_point_module table.rewards_table td.rewards-info {padding:0 10px;width:88%;background:url(../img/global/vr_dots.gif) top left repeat-y;}
div.rewards_point_module table.rewards_table td.rewards-info-no-dots {width:88%;}
div.rewards_point_module table.rewards_table td.rewards-link {vertical-align:top;text-align:right;white-space:nowrap;padding-right:10px;}
div.rewards_point_module table.rewards_table td.rewards-btn {text-align:right;}
div.rewards_point_module table.rewards_table h3 {margin:0;}
div.rewards_content {margin:10px 0;}

div.totaldollars {font-weight:bold;margin:5px 0px 10px 15px;font-size:1.1em;}
div.totaldollars .bluespan {color:#009DD9;}
div.link_right {float:right;padding-top:5px;}

div.rewards_activities {padding-top:5px !important;padding-bottom:10px !important;}
table.rewards_activity_table {width:100%;}
table.rewards_activity_table td.desc {width:37%;}
table.rewards_activity_table td.activity {width:15%;text-align:right;}
table.rewards_activity_table td.activity_btn {padding-top:10px;}
table.rewards_activity_table td.activityperiod {width:15%;text-align:right;}
table.rewards_activity_table td.space {width:25%;}
table.rewards_activity_table .activityperiod {font-weight:bold;width:83%;margin-left:330px;}
table.rewards_activity_table tr.hr td {background:url(../img/global/hr_light_dots.gif) center left repeat-x;padding:4px 0;height:1px;padding:0;}
div.rewards_activities div.break {padding:10px;}
table.rewards_activity_table td.footnote {color:#4a4a4a;font-size:0.85em;}

div.request_rebate_module {padding-top:10px !important;}

table#transaction-report-options {border-collapse:collapse;width:100%;}
table#transaction-details-search {width:632px;}
table#transaction-report-options {margin-bottom:20px;}
div.display-report table#transaction-report-options {margin-bottom:0;}
table#transaction-details-search tr td.padder {padding:0;width:10px;background-image:none !important;border:none !important;}
table#transaction-report-options tr.outline td,
table#transaction-details-search tr.outline td	{
	 padding:0;
	 font-size:1px !important;
	 line-height:0px;
	 background-image:url(../img/bg/single-pixel-grey.gif);
	 border-bottom: none !important;
}
table#transaction-details-search tr.upper td,
table#transaction-report-options tr.upper td {
	background-position:top left;
	background-repeat:repeat-x;
}
table#transaction-details-search tr.lower td,
table#transaction-report-options tr.lower td {
	background-position:bottom left;
	background-repeat:repeat-x;
}
table#transaction-details-search tr.upper td {width:599px;}
table#transaction-details-search tr.upper td.padder, table#transaction-details-search tr.lower td.padder {width:10px;}
table#transaction-details-search tr.outline td.corner-top-right,
table#transaction-report-options tr.outline td.corner-top-right {
	 width:6px;
	 height:6px;
	 background-image:url(../img/bg/top-right-corner-grey.gif);
	 background-repeat:no-repeat;
	 font-size:1px;	 
}
table#transaction-report-options tr.outline td.corner-top-left,
table#transaction-details-search tr.outline td.corner-top-left {
	 width:6px;
	 height:6px;
	 background-image:url(../img/bg/bg_top-left-corner-grey.gif);
	 border:none !important;
	 background-repeat:no-repeat;
	 background-position:top left;
	 font-size:1px;
}
table#transaction-report-options tr.outline td.corner-top-right,
table#transaction-details-search tr.outline td.corner-top-right {
	 width:6px;
	 height:6px;
	 background-image:url(../img/bg/bg_top-right-corner-grey.gif);
	 border:none !important;
 	 font-size:1px;
	 background-position:top right;
}
table#transaction-details-search tr.outline td.corner-top-left {width:8px;}
table#transaction-details-search tr.outline td.corner-top-right {width:5px;}
table#transaction-report-options tr.outline td.corner-bot-left,
table#transaction-details-search tr.outline td.corner-bot-left {
	 width:6px;
	 height:6px;
	 background-image:url(../img/bg/bg-left-corner-grey.gif);
	 border:none !important;
	 background-repeat:no-repeat;
	 background-position: bottom left;
     font-size:1px;
}
table#transaction-report-options tr.outline td.corner-bot-right,
table#transaction-details-search tr.outline td.corner-bot-right {
	width:6px;
	height:6px;
	background-image:url(../img/bg/bg-right-corner-grey.gif);
	border:none !important;
	background-position:bottom right;
}
table#transaction-details-search tr.outline td.corner-bot-right {width:5px;}
table#transaction-details-search tr.label-row td {padding-bottom:6px;}
table#transaction-details-search tr.label-row td.date-header {width:152px;}
table#transaction-details-search.nocustom tr.label-row td.date-header {width:172px;}
table#transaction-details-search tr.label-row td.from-header,
table#transaction-details-search tr.label-row td.to-header {width:148px;}
table#transaction-details-search tr.label-row td.type-header {width:151px;}
table#transaction-details-search.nocustom tr.label-row td.type-header {width:427px;}
table#transaction-details-search tr.control-row td {padding-bottom:2px;}
table#transaction-details-search tr.control-row td.transaction-period {width:152px;}
table#transaction-details-search tr.control-row td.transaction-type {width:151px;}
table#transaction-details-search.nocustom tr.control-row td.transaction-period {width:172px;}
table#transaction-details-search.nocustom tr.control-row td.transaction-type {width:427px;vertical-align:0;}
table#transaction-details-search tr.control-row td.transaction-type input#noCustomSubmit {display:none;}
table#transaction-details-search.nocustom tr.control-row td.transaction-type input#noCustomSubmit {display:inline;padding-left:10px;}
table#transaction-details-search tr.control-row td.from-date,
table#transaction-details-search tr.control-row td.to-date {width:148px;}
table#transaction-details-search tr.control-row td.transaction-type select,
table#transaction-details-search tr.control-row td.transaction-period select {vertical-align:top;}
table#transaction-details-search tr.control-row td.from-date input,
table#transaction-details-search tr.control-row td.to-date input {width:110px;}
table#transaction-details-search tr td#button-cell {text-align:right;padding:7px 10px 2px 0;width:599px;}
table#transaction-details-search.nocustom tr.label-row td.from-header,
table#transaction-details-search.nocustom tr.label-row td.to-header,
table#transaction-details-search.nocustom tr.control-row td.from-date,
table#transaction-details-search.nocustom tr.control-row td.to-date,
table#transaction-details-search.nocustom tr.buttonRow {display:none;}
table#transaction-details-detail tbody.showRemove tr.transaction-details td {text-transform:capitalize;}

table#transaction-details-detail {border-collapse:collapse;width:100% !important;}
table#transaction-details-detail thead tr th {
	text-align: left;
	padding:0;
	padding-bottom:8px;
}

table#transaction-details-detail tr.credit td {color:#009DD9;}
table#transaction-details-detail tbody tr td.transaction-date {color:#000;}
table#transaction-details-detail tbody.showRemove tr td {background-color:#ebf6fb;}
table#transaction-details-detail tbody.showRemove tr.transaction-details td,
table#transaction-details-detail tbody.showRemove tr.promo-details td {background-color:#F8FBFD;}
table#transaction-details-detail tbody tr td.trans-tot {text-align:right;font-weight:bold;}

table#transaction-details-detail tfoot tr td {font-weight:bold;}
table#transaction-details-detail tfoot tr td#transaction-totals	{text-align:right;}
table#transaction-report-options tr td.left-edge,
table#transaction-details-search tr td.left-edge {
	 background-image:url(../img/bg/single-pixel-grey.gif);
	 background-position:left top;
	 background-repeat: repeat-y;
	 border-bottom:none !important;
	 font-size:1px;
	 width:8px;
}
table#transaction-report-options tr td.left-edge {width:0;}
table#transaction-report-options tr td.right-edge,
table#transaction-details-search tr td.right-edge {
	 background-image:url(../img/bg/single-pixel-grey.gif);
	 background-position:right top;
	 background-repeat: repeat-y;
	 border-bottom:none !important;
	 font-size:1px;
}
table#transaction-details-search tr td.right-edge {width:5px;}
table#transaction-details-detail tbody tr.promo-message td {
	font-weight: bold;
	padding-bottom:6px;
}
table#transaction-details-detail tbody tr.promo-message td span{
	padding: 2px;
	background: #f8f9b3;
}
table#transaction-details-detail tr td.left-edge,table#transaction-details-detail tr td.right-edge {
	width:1px;
	font-size:0px;
	padding-left:9px;
}

table#transaction-details-detail thead tr th.trans-date {width:193px;}
table#transaction-details-detail thead tr th.trans-string {width:328px;}
table#transaction-details-detail thead tr th.trans-numeric {width:76px;text-align:right;}

table tbody tr.transaction-details {display:none;}
table tbody tr.promo-details {display:none;}
table tbody.clicked tr.promo-message {display:none;}	
table tbody.clicked tr.transaction-details {display:table-row;} 
table tbody.clicked tr.promo-details {display:table-row;} 
table tbody.clicked tr.promo-details td.txn-val {padding-top: 6px;}

table tbody tr.transaction-details td {padding:10px 10px 0 0;}
table tbody tr.promo-details td {padding:0 10px 0 0;}
table tbody tr.transaction-details td.txn-info, table tbody tr.promo-details td.txn-info {text-align:right;}
table tbody tr.transaction-details td.txn-val, table tbody tr.promo-details td.txn-val {font-weight:bold;}
table tbody tr.promo-details td.txn-info img {padding-top: 3px;}
table tbody tr.promo-details td.txn-val p {margin: 0 0 1em 0;width:300px;}
table tbody tr.promo-details td.txn-val p {margin: 0 0 1em 0;}
table tbody tr.promo-details td.txn-val p span{
	background: #F8F9B3 none repeat scroll 0%;
	font-size: 1.1em;
	line-height:140%;
	padding:0pt 3px 3px;	
}
table tbody tr.promo-details td.txn-val p a {font-weight: normal;}
table tbody tr.transaction-details td.request-sreceipt-cell,
table tbody tr.transaction-details td.view-receipt-cell {margin:10px 0;}
table tbody tr.transaction-details td.view-receipt-cell {padding-bottom: 10px;}
table tbody tr.transaction-details td.dispute-cell {padding:10px 0;}

table tbody.ifEmpty {display:none;}
table.isEmpty tbody.ifEmpty {display:table-row-group;}
table tbody.ifEmpty td.empty_text {padding:0 0 10px 0;}

table td a.activator {
	padding-left:14px;
	background-image:url(../img/icon/plus_sign.gif);
	background-position:0px -1px;
	background-repeat:no-repeat;
}
table td a.activator-placeholder {padding-left:14px;}
table td a.activator.expanded {background-image:url(../img/icon/negative_sign.gif);}

table tbody.type-filter, table tbody.type-filter tr, table tbody.type-filter tr td {display:none;}

table#transaction-details-detail tbody tr.top-row td {
	padding-top:6px;
	padding-bottom:6px;
	background-image:url(../img/global/hr_light_dots.gif);
	background-position:top left;
	background-repeat:repeat-x;
}
table#transaction-details-detail tbody tr.top-row td table {border-collapse: collapse;}
table#transaction-details-detail tbody tr.top-row td td {
	background:none;
	padding:0 10px 2px 0;
	border-collapse: collapse;	
}
table#transaction-details-detail tbody tr.top-row td.left-edge {background-image:none;}
table#transaction-details-detail tbody tr.top-row td.right-edge {background-image:none;}

table#transaction-details-detail tfoot tr.top-row td {
	padding-top:6px;
	padding-bottom:6px;
	background-image:url(../img/global/single_light_pixel.jpg);
	background-position:top left;
	background-repeat:repeat-x;
}
table#transaction-details-detail tfoot tr.top-row td.left-edge {background-image:none;}
table#transaction-details-detail tfoot tr.top-row td.right-edge {background-image:none;}

div.account-activity-option{
	padding-top:10px;
	border-top:1px solid #A6DDF2;
	padding-bottom:10px;
}
div.choose_date {margin:8px 0;}
div.choose_file {margin:13px 0 8px 0;}

table#transaction-report-options {border-collapse:separate;border:none;}
table#transaction-report-options td {padding: 2px 8px 2px 0;vertical-align:middle;background:url(../img/bg/bg_dashed_vert_divider.gif) repeat-y right top;}
table#transaction-report-options td#submit_cell {background-image:none;padding-right:0;}
table#transaction-report-options td input {vertical-align:middle;margin-bottom:2px;}
table#transaction-report-options td#opt_quicken img {margin-top:2px;}
table#transaction-report-options label.radio_img {position:relative;top:2px;}

table#transaction-report-options td#opt_spreadsheet {padding-top: 7px;padding-right:0;background-image:none;}
table#transaction-report-options select#spreadsheet-type {margin: 0 3px -1px 0;}
table#transaction-report-options input#spreadsheet-delimiter {width: 10px;}
table#transaction-report-options tr.hr td {padding-top:16px;}

a.down {background-image:url(../img/icon/icon_sort_down.gif);padding-right:10px;background-position:right center;background-repeat:no-repeat;}
a.up {background-image:url(../img/icon/icon_sort_up.gif);padding-right:10px;background-position:right center;background-repeat:no-repeat;}
a.up_down {background-image:url(../img/icon/icon_sort_0.gif);padding-right:15px;background-position:right center;background-repeat:no-repeat;}
/*a#sortAmount {padding-left:10px;padding-right:0px !important;}*/
a#sortAmount.up_down {padding-left:10px;padding-left:0px !important;}
a#sortAmount.up {padding-left:10px;padding-right:0px !important;background-position:left center;}
a#sortAmount.down {padding-left:10px;padding-right:0px !important;background-position:left center;}

select#annual-summary {margin-top:6px;}
img#btn_request {margin-left:10px;margin-top:4px;}
div#account-summary-submitted.hidden,div#account-summary-ready.hidden,div#account-summary-request.hidden {display:none;}

table#account_info_activity td.value {white-space:nowrap;}

table.inline_email div#inline_email_text {position:relative;top:2px;}

tbody#unbilled-transactions h2 {padding-left:0;margin-bottom:0;}
tbody#unbilled-transactions.isEmpty, tbody#unbilled-transactions tfoot.isEmpty {display:none;}

/* AA Overlay styles  */
div#charges-aprs-overlay {display:none;position:absolute; left:200px; width: 630px;margin-top:20px;}
div#charges-aprs-overlay div.overlay_top {height:10px;text-align:center;background:url(../img/bg/bg_overlay_top.png) bottom left no-repeat;font-size:1px;}
div#charges-aprs-overlay div.overlay_main {padding:5px 13px 5px 9px;border-left:1px solid #cccccc;background:url(../img/bg/bg_overlay.png) top right repeat-y;}
div#charges-aprs-overlay div.overlay_btm {height:10px;background:url(../img/bg/bg_overlay_btm.png) bottom left no-repeat;font-size:1px;}
div#charges-aprs-overlay div.inner_module_top {height:5px;background:url(../img/bg/bg_overlay_inner_top.gif) bottom left no-repeat;font-size:1px;padding:0;}
div#charges-aprs-overlay div.inner_module {background-color:#fff;border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:1px 0 8px;}
div#charges-aprs-overlay div.inner_module h2 {padding-top:6px;}
div#charges-aprs-overlay div.inner_module_btm {clear:both;height:5px;background:url(../img/bg/bg_overlay_inner_btm.gif) top left no-repeat;font-size:1px;}
div#charges-aprs-overlay div.fullHrLine {background:#e1e1e1;height:1px;font-size:1px;margin:10px 0 15px 0;overflow:hidden;}
div#charges-aprs-overlay div.inner_module_spacer {height:10px;}
div#charges-aprs-overlay span.link {padding-top: 0; position: relative;top:-10px;}

table.charges-apr-overlay-table table#accountSummaryTable h2, table.charges-apr-overlay-table table#rateSummaryTable h2 {font-weight:normal !important;}
table.charges-apr-overlay-table table#accountSummaryTable h3, table.charges-apr-overlay-table table#rateSummaryTable h3 {padding-left:0;margin-top:10px;}
table.charges-apr-overlay-table tr.inner_module_top td {height:5px;background: url(../img/bg/bg_print_main_top.gif) bottom left no-repeat; font-size:1px; padding:0;}
table.charges-apr-overlay-table tr.inner_module_middle td {background-color:#fff; padding:1px 5px;}
table.charges-apr-overlay-table tr.inner_module_bottom td {height:5px; background: url(../img/bg/bg_print_main_bottom.gif) top left no-repeat; font-size:1px; padding-bottom:8px; clear:both;}
tr.border_top td {border-top:1px solid #e1e1e1; padding-top:5px;}

table#accountSummaryTable td.row-header, table#rateSummaryTable td.row-header {font-weight: bold;}
table#accountSummaryTable{width:100%;font-size:0.65em;color:#171717;}
table#accountSummaryTable td{border:0px ; background:url(../img/global/hr_nav_dots.gif) bottom left repeat-x; height:25px; _height:20px; padding-top:6px; clear:both; font-weight: normal;}
table#accountSummaryTable tr.tableHeader td{font-weight:bold;}
table#accountSummaryTable td.totalRow{font-weight:bold; background-image:none; border-top:1px solid #e1e1e1;}
table#accountSummaryTable td.plusCol{width:30px; text-align:center;}
table#accountSummaryTable td.advancesCol{width:70px;}
table#accountSummaryTable td.normal{font-weight:normal;}

table#rateSummaryTable{width:100%;font-size:0.65em;color:#171717;}
table#rateSummaryTable td{border:0px ; background:url(../img/global/hr_nav_dots.gif) bottom left repeat-x; height:25px; _height:20px; padding-top:6px; clear:both; font-weight: normal;}
table#rateSummaryTable tr.tableHeader td{font-weight:bold;}
table#rateSummaryTable td.firstCol{vertical-align:bottom; width:120px; padding-bottom:8px;}
table#rateSummaryTable td.balanceCol{vertical-align:bottom; width:105px; padding-bottom:8px;}
table#rateSummaryTable td.rateCol{vertical-align:bottom; width:90px; padding-bottom:8px;}
table#rateSummaryTable td.nominalCol{vertical-align:bottom; width:60px; padding-bottom:8px;}
table#rateSummaryTable td.APRCol{vertical-align:bottom; width:100px; padding-bottom:8px;}

td.bottomRow {background-image:none !important;}

div.display-report table#transaction-report-options td#opt_text {width:57px;}
div.display-report table#transaction-report-options td#opt_csv {width:128px;}
div.display-report table#transaction-report-options td#opt_tab {width:109px;}
div.display-report table#transaction-report-options td#opt_custom {background:none;}
div.display-report table#transaction-report-options td#opt_custom label {padding-right:5px;}
div.display-report table#transaction-report-options td#opt_custom input#spreadsheet-delimiter {width:15px;}

table.account_info table.info_table tr.indented td.label {padding-left:10px;}
table.account_info table.info_table tr.indented td {background-image:none;}
table.account_info table.info_table tr.last td {background:transparent url(../img/global/hr_light_dots.gif) repeat-x left bottom;}
table.account_info table.info_table tr.noLine td {background:none;}

table.account_info td.quick_info div.maxed {width:175px !important;border-right:0 !important;}
table.account_info td.info div.maxed {width:282px !important;}
table.account_info td.info {border-left:1px solid #e1e1e1;}
table.account_info td.grad_extras {background:#fff url(../img/bg/bg_bt_grad.html) no-repeat left bottom !important;}
table.account_info td.grad_extras div.offer_module {text-align:left !important;}
table#account_info_activity td.quick_info div.module {border: none;}

/*Download Statements*/
.StatusHeadings {overflow: hidden; width: 290px;}
/*#requestPDFs {margin-top: -5px;}*/
#requestPDFs h2.test {margin-top: 5px;}
#spaceBreak, #spaceBreak1 {display: none;}

table.request_replacement_table span {color:#f00;}
