div.bubble-top {background-image:url(../img/bg/help_bubble/main_top.png);background-repeat:no-repeat;width:183px;background-color:transparent;}
div.bubble-top div.content-box {padding:1px;}
div.bubble-bottom {background-image:url(../img/bg/help_bubble/main_bottom.png);background-repeat:no-repeat;height:3px;font-size:1px;background-color:transparent;width:183px;}
div.pointer-down {width:12px;height:16px;background-image:url(../img/bg/help_bubble/bg_pointer_down.gif);background-repeat:no-repeat;padding:0 !important;margin:0 !important;}
div.pointer-horizontal {width:16px;height:13px;background-image:url(../img/bg/help_bubble/bg_pointer_left.gif);background-repeat:no-repeat;padding:0 !important;margin:0 !important;}
div.innerContent {font-size:.65em;text-align:left;margin:7px 9px 6px 9px;}
div.innerContent p {margin:8px 0 7px 0;}
.def-link {padding-left:5px; vertical-align:top;}
div.def-content {display:none;}
