/*Email Options*/
div.ecomm_module,
div.email_pref div.checklist,
div.main_module div.ecomm_module {position: relative; padding-left: 70px; width: 552px;}
img.card-art-conf {margin: 0 5px 10px 0;vertical-align: top;}
div.email_pref div.checklist h2,
div.ecomm_module h2 {margin: 0 0 20px -60px;}
div.email_pref p.email-policy {margin-top: 20px;}
div.email_pref div.checklist img.conf_leaf,

div.email_pref ul.alert_prefs_status {margin-bottom: 25px; padding-left: 0; list-style: none;}
div.email_pref ul.alert_prefs_status div.alerts_link { width: 161px;}

div.change_email div.change_email_form {display: none;}
div.change_email a.save_changes {display: none;}
div.show_change_email div.change_email_form {display: block;}
div.show_change_email a.make_changes {display: none;}
div.show_change_email a.save_changes {display: inline;}
div.show_change_email {background: #0f0;}
div.change_email_form fieldset {border: 0; margin: 0 0 0 0; padding: 0 0 0 0;}
div.change_email_form label {margin: 0 7px 0 0; padding: 4px 0 0 0; display: block; width: 177px; float: left; text-align: right;}
div.change_email_form input {margin: 0 105px 10px 0; float: left; width: 150px;}

div.apply_form div.ecomm_module {padding-left: 55px;}
div.apply_form div.ecomm_module img.conf_leaf {left:-2px;}
div.apply_form div.ecomm_module h2 {font-size: 1.5em; margin:15px 0 20px -55px;}

div.change_email h3.noFloat {float: none; clear: both; margin-bottom:-5px; padding-top: 10px; width: 100%;}
div.change_email p.noFloat {float: none; width: 100%; padding-top: 5px;}

img.conf_leaf {position: absolute; top: 43px; left: 10px;}
div.ecomm_module h4 {margin: 0 0 10px 0;}
div.ecomm_module p.last_top_p {margin-bottom: 20px;}
div.ecomm_module fieldset {border: none; padding: 0 0 0 0; margin: 0 0 10px 0;}
div.ecomm_module fieldset input {margin: 2px 0 0 0; float: left;}
div.ecomm_module label {font-weight: bold; display: block; float: left; padding: 3px 0 0 11px;}
div#reg_main_container div.ecomm_module fieldset ul,
div.ecomm_module fieldset ul {float: left; margin: 10px 0 0 25px; width: 400px;}
div.ecomm_module fieldset ul li {padding: 0 0 0 20px;}
div.ecomm_module fieldset p {float: left; margin: 10px 0 0 25px; width: 500px;}
div.ecomm_module fieldset a {display: block; float: left; margin: 0 0 20px 25px;}
div.ecomm_module p.agreement {overflow: hidden;}
div.ecomm_module p.agreement label {font-weight: normal; width: 525px;}
div.ecomm_module p.agreement input {float: left; margin: 3px 0 0 0;}

p.extra_account_head {margin: 20px 0 15px 0;}
ul.extra_accounts {list-style-type: none;  padding: 0 0 0 0; margin: 0 0 20px 0;}
ul.extra_accounts li {padding: 0 0 5px 0; font-family:arial, sans-serif;font-size:1.1em;font-weight:bold;line-height: 16px;}

form#verify fieldset {margin: 0 0 10px 0; padding: 0 0 0 0; border: none; font-family:arial, sans-serif;font-size:1.1em; line-height: 16px; font-weight: bold;}
form#verify input {margin: 0 5px 0 0; display: block; float: left; }
form#verify label {display: block; float: left;}
p.verify_account_head {margin: 20px 0 25px 0;}

div.main_alerts_comm img {vertical-align: top;}
div.main_alerts_comm div.inner_module_btmpad {padding-bottom: 40px;}

div.alertHr {margin: 10px 184px 10px 18px; clear: both;}
div.main_alerts_comm div.inner_module {padding-left:0; padding-right:0;}
div.main_alerts_comm div.request_ecomm {padding:1px 10px 1px 47px; height: 75px; background-image: url(../img/icon/alert_leaf.jpg);}
div.main_alerts_comm div.request_ecomm h2 {margin-left: -33px;}

div.main_alerts_comm div.title_area ul {padding-left: 15px; margin: 0 0 0 0;}
div.main_alerts_comm div.cc_header {padding-left:10px;background:#F8FBFD url(../img/bg/bg_gradient_cc_header.html) no-repeat scroll left top;height:51px;margin:0 auto;width:622px;}
div.main_alerts_comm div.hideModule div.cc_header {background: none;}
div.main_alerts_comm div.toggleDiv {padding: 4px 10px 8px 10px;}

div.main_alerts_comm h2 a.toggleLink {display: block; background-position: 0 12px; padding-top: 8px;}
div.main_alerts_comm h2 a.toggleLink img {margin: -8px 10px 0 7px;}

div.main_alerts_comm div.alerts_comm_sec_head {overflow: hidden; margin-top: 10px;}
div.main_alerts_comm div.alerts_comm_sec_head img {float: left; margin: 0 6px 0 0;}
div.main_alerts_comm div.alerts_comm_sec_head h3 {float: left; width: 549px; margin: 2px 0 2px 0;}
div.main_alerts_comm div.alerts_comm_sec_head p {float: left; width: 549px; margin: 0 0 0 0; position: relative;}
div.main_alerts_comm div.alerts_comm_sec_head p span.link {position:absolute; right:0;}

div.main_alerts_comm h4 {margin: 5px 0 0 65px;}
p.alert_prefs_h4_sub {margin: 5px 0 0 65px; padding: 0 0 8px 0; position: relative;}
p.alert_prefs_h4_sub span.link {position:absolute; right:0;}
ul.alert_prefs_status {margin: 5px 0 20px 46px; list-style-type: none; padding-left: 0px; overflow: hidden;}
ul.alert_prefs_status li {overflow: hidden; margin: 0 0 5px 0;}
ul.alert_prefs_status p.alert_prefs_h4_sub {margin: 0 0 0 20px;}
ul.alert_prefs_status div.alerts_header {width: 171px; float: left; font-weight: bold; text-align: right;}
ul.alert_prefs_status div.alerts_mark {margin: 0 25px 0 50px; float: left; width: 15px; height: 12px; background: #fff no-repeat 0 0;}
ul.alert_prefs_status div.alerts_mark_on {background: url(../img/icon/alerts_comm_on.gif) no-repeat 0 0; }
ul.alert_prefs_status div.alerts_mark_off {background: url(../img/icon/alerts_comm_off.gif) no-repeat 0 0;}
ul.alert_prefs_status div.alerts_status {float: left; width: 65px;}
ul.alert_prefs_status div.alerts_link {float: left; width: 240px; text-align:right;}
ul.alert_prefs_status h4 {margin: 0 0 0 0; padding: 7px 0 11px 0;}
ul.alert_prefs_status li h4 {margin: 0 0 0 19px; padding: 0 0 11px 0;}
ul.alert_prefs_status li p {margin: 0 0 0 19px; width: 364px;}
ul.alert_prefs_status li p.ecommCancel {width:auto;}

div.checklist ul.alert_prefs_status {margin-left: 1px;}
div.checklist ul.alert_prefs_status div.alertHr,
div.checklist ul.alert_prefs_status li h4,
div.checklist ul.alert_prefs_status li p,
div.checklist ul.alert_prefs_status p.alert_prefs_h4_sub {margin-left: 0;}

div.reg_main_module h3 img {margin-bottom: 0;}

.ecomm_hide_info {display: none;}
div.showECommInfo {overflow: hidden;}
div.showECommInfo .hide {display: block;}
div.showECommInfo .ecomm_hide_info {display: inline;}
div.showECommInfo a.ecomm_show_info,
div.showECommInfo a.ecomm_show_info:visited,
div.showECommInfo a.ecomm_show_info:hover {text-decoration: none; color: #000; cursor:default;}
 