/* GEN Specific */
html,body{color:#2c2f2d;}
#header_container #nav {background: none; padding: 0 0 0 0; margin-top: 0;}
div#card_nav_container {background:url(../img/bg/bg_card_nav.gif) top left no-repeat;height:56px; margin-top: 0;}
div#card_nav_container div.card_offer {height:100%;}
div#card_nav_container {background:url(../img/gen/bg/bg_card_nav.gif) bottom left no-repeat;width:879px;}
div#card_nav_container div.card_accounts {height:100%;}
div#card_nav_container div.card_offer {background:url(../img/gen/bg/bg_card_nav_overlay.gif) bottom right no-repeat;}
div#card_nav_container div.card_image {padding-top:7px;}
div#card_nav_container div.card_nav {padding-top:15px;}

h2 {color:#285078;}

div#header {margin: 0 0 5px 0;}
div#header table td.header_links br {display: none;}

#header_container div#nav {height:25px;}
#header_container div#nav ul li ul {border: none; margin: 0 0 0 0; margin-top: 0; background: none;}
#header_container div#nav ul li ul li a,
#header_container div#nav ul li ul li.last a {background:#285179 url(../img/gen/nav/nav_hr.gif) bottom left repeat-x;color:#fff; border-right: none; border-left: none; font-size: 11px;}
#header_container div#nav ul li ul li a:hover {background:#2e6192;color:#fff;text-decoration:none !important;}
#header_container div#nav ul li ul li a span {background:url(../img/gen/icon/icon_arrow_white.gif) 10px 11px no-repeat;}
#header_container div#nav ul li ul li a:hover span {background:url(../img/gen/icon/icon_arrow_white.gif) 10px 11px no-repeat;}
div#nav ul li.navOn {position:static;}
div#nav ul li.navOn ul#nav_security {margin-left:-72px; right:auto;}

h1 {color:#565b57;}

div#header {margin: 0 0 0 0;}

a:link,a:visited{color:#285078;}
a:hover{color:#229cd2;}
a.arrow:link,
a.arrow:visited {background:url(../img/gen/icon/icon_arrow_blue.gif) 0 5px no-repeat; padding-left: 7px;}
a.arrow:hover {color:#229cd2;}
div.warning {color:#000;}

div.main_module_top {background:transparent url(../img/gen/bg/bg_main_module_top.gif) top left no-repeat;}
div.main_module {background:transparent url(../img/gen/bg/bg_main_module.gif) top left repeat-y;}
div.main_module_btm {height:11px;background:transparent url(../img/gen/bg/bg_main_module_btm.gif) top left no-repeat;}

div#help_module h2 {color:#285078 !important;}
div#help_module ul li a.supportToggle {background:url(../img/icon_plus_alt.gif) 0 3px no-repeat;padding-left:14px;}
div#help_module ul li a.supportToggle:hover {color:#229cd2;}
div.showHelp ul li a.supportToggle {background-image:url(../img/icon_minus_alt.gif) !important;}

div.citi_advisor div.citi_advisor_content {background:url(../img/gen/bg/bg_citi_advisor.gif) top left repeat-y;border-right:0; border-left: 0;}
div.citi_advisor div.citi_advisor_top {background:url(../img/gen/bg/bg_citi_advisor_top.gif) top left no-repeat;}
div.citi_advisor div.citi_advisor_btm {background:url(../img/gen/bg/bg_citi_advisor_btm.gif) top left no-repeat;height:12px;}

div#main_container {width:656px;}
div.main_module {padding:1px 11px;}
div.offer_container {padding-left:0;}
div.offer_container div.banner_right {margin-left:9px;}
div.popup_help div.page-browse {background:#E6EBF6;}
div.card_details div.card_info h2 a {color:#285078;}

/* PCR40 PG Gradients */
div.cops_btmleft_float div.curr_balance {background:url(../img/gen/bg/bg_cur_balance.gif) 0 1px no-repeat;}
div.cops_btmleft_float div.min_due {background:url(../img/gen/bg/bg_min_amount.gif) 0 1px no-repeat;}
table.account_status td.statement_balance {background:url(../img/gen/bg/bg_statement_balance.gif) 5px 1px no-repeat; color: #fff;}
table.account_status td.min_payment {background:#FFFFFF url(../img/gen/bg/bg_min_payment_full.gif) no-repeat scroll 0 1px; color: #fff;}
table.account_info div.curr_balance,#quick_summary .curr_balance {background:url(../img/gen/bg/bg_cur_balance.gif) 0 1px no-repeat; color: #fff;}
table.account_info div.min_due,#quick_summary .min_due {background:url(../img/gen/bg/bg_min_amount.gif) 0 1px no-repeat; color: #fff;}

table.account_info div.info_links ul li a {background:url(../img/gen/icon/icon_arrow_blue.gif) 0 5px no-repeat; padding-left: 7px;}
div.sidebar_module ul li a {background:url(../img/gen/icon/icon_arrow_blue.gif) 0 5px no-repeat;}

/*from global for re-brand*/
div#footer_brand {float:left;width:100%;padding:6px 0;}
div#footer_brand a {font-weight:bold;padding-left:8px;margin-left:7px;text-decoration:none;}
div#footer_brand a.link_right {position:absolute;right:7px;padding-right:8px;text-decoration:none;}
div#footer_global div.left_module ul {margin:0;padding:0;list-style:none;}
div#footer_global div.left_module ul li {margin:0;padding:1px 0 2px 0;font-weight:normal;}
div#footer_global div.left_module ul li a {display:block;background:url(../img/icon/icon_arrow.gif) 0 5px no-repeat;padding-left:7px;text-decoration:none;}
div#footer_global div.middle_module {float:left;width:520px;margin:0 30px;}
div#footer_global div.middle_module ul {margin:0;padding:0;list-style:none;}
div#footer_global div.middle_module ul li {float:left;margin:0;padding-left:10px;font-weight:normal;}
div#footer_global div.middle_module ul li a {background:url(../img/icon/icon_arrow.gif) 0 5px no-repeat;padding-left:7px;text-decoration:none;}
div#footer_global div.right_module {float:left;width: auto;}
/*END from global for re-brand*/

div#footer_global div.middle_module ul {padding: 0 0 0 55px; margin: 3px 0 0 0;}
div#footer_global div.left_module ul li a {background:url(../img/gen/icon/icon_arrow_blue.gif) 0 5px no-repeat; padding-left: 7px;}
div#footer_global div.middle_module ul li a {background:url(../img/gen/icon/icon_arrow_blue.gif) 0 5px no-repeat; padding-left: 7px;color:#285078;}
div#footer_global div.middle_module ul li a:hover {color:#229cd2;}

div#footer_contextual {background:#f7f7f7;}
div#footer_contextual div.left_module, 
div#footer_contextual div.middle_module,
div#footer_contextual div.right_module  {font-size: 12px;}
div#footer_contextual div ul li a {background:url(../img/gen/icon/icon_arrow_blue.gif) 0 5px no-repeat; padding-left: 7px;}
div#footer_brand {background:#285179; height:15px; border: none; padding: 6px 0 6px 0;font-size: 12px; font-weight: bold;}
div#footer_brand a {color:#fff;background:url(../img/icon/icon_ftr_arrow_left.gif) 0 5px no-repeat;}
div#footer_brand a.link_right {background:url(../img/icon/icon_ftr_arrow_right.gif) right 5px no-repeat; padding-right: 7px; margin: 0 10px 0 0;}

div.bubble-top {background-image:url(../img/gen/bg/help_bubble/main_top.png);}
div.bubble-bottom {background-image:url(../img/gen/bg/help_bubble/main_bottom.png);}
div.pointer-horizontal {width:16px;height:13px;background-image:url(../img/srs/bg/help_bubble/bg_pointer_left.gif);}
div.pointer-down {width:12px;height:16px;background-image:url(../img/srs/bg/help_bubble/bg_pointer_down.gif);background-repeat:no-repeat;padding:0 !important;margin:0 !important;}

div.add_service h4 span {color:#285078;}

div.confirm_module {background:#fff url(../img/gen/bg/bg_confirm_btm.gif) 5px bottom no-repeat !important;}
div.confirm_module_btm {background:url(../img/gen/bg/bg_confirm_rib_btm.gif) top left no-repeat;}

div.popup_help div.page-browse {background:#E5F5FB;}

/* dashboard inner modules */
table.account_info td.quick_info_top {background:url(../img/gen/bg/bg_main_inner_mod_top.gif) top left no-repeat;}
table.account_info td.info_top {background:url(../img/gen/bg/bg_main_inner_mod_top.gif) top right no-repeat;}
table.account_info td.quick_info_btm {background:url(../img/gen/bg/bg_main_inner_mod_btm.gif) top left no-repeat;}
table.account_info td.info_btm {background:url(../img/gen/bg/bg_main_inner_mod_btm.gif) top right no-repeat;}
table.account_info td.quick_info {border-left:1px solid #f2f2f0;}
table.account_info td.quick_info div.module {border-right:1px solid #f2f2f0;}
table.account_info td.info {border-right:1px solid #f2f2f0;}
table.account_info td.extras {background:#fff url(../img/gen/bg/bg_account_extras.gif) top left repeat-y;}
table.account_info td.extras_top {background:url(../img/gen/bg/bg_account_extras_top.gif) top left no-repeat;}
table.account_info td.extras_btm {background:url(../img/gen/bg/bg_account_extras_btm.gif) top left no-repeat;}
table.account_info td.extras div.module_top {background:#fbfbfb url(../img/gen/bg/bg_account_extras_top.gif) top left no-repeat;}
table.account_info td.extras div.module_btm {background:#fbfbfb url(../img/gen/bg/bg_account_extras_btm.gif) no-repeat scroll left top;}

/* extras div inner modules */
div.fpo_extras_container div.x_inner_module {background:#fff url(../img/gen/bg/bg_account_extras.gif) top left repeat-y;}
div.fpo_extras_container div.x_inner_module_top {background:url(../img/gen/bg/bg_account_extras_top.gif) top left no-repeat;}
div.fpo_extras_container div.x_inner_module_btm {background:url(../img/gen/bg/bg_account_extras_btm.gif) top left no-repeat;}
table.account_info td.no_background div.reward_module {background:#fff url(../img/gen/bg/bg_account_extras_high.gif) top left no-repeat;}

/*normal inner modules */
div.main_module div.inner_module_top {background:#fbfbfb url(../img/gen/bg/bg_main_inner_mod_top.gif) bottom left no-repeat;}
div.main_module div.inner_module_btm {background:#fbfbfb url(../img/gen/bg/bg_main_inner_mod_btm.gif) top left no-repeat;}
div.main_module div.inner_module {border-left:1px solid #f2f2f0;border-right:1px solid #f2f2f0;}

h2 a.toggleLink {background:url(../img/gen/icon/ico_minus.gif) 0 2px no-repeat;padding-left:19px;text-decoration:none;color:#009dd9 !important;}
h3 a.toggleLink {background:url(../img/gen/icon/ico_minus.gif) 0 2px no-repeat;padding-left:19px;padding-top:1px;text-decoration:none;color:#171717 !important;}
div.hideModule h2 a.toggleLink, div.hideModule h3 a.toggleLink {background-image:url(../img/gen/icon/ico_plus.gif);}

/* registration pages specific rules below */
div#reg_header_btm {background:url(../img/gen/bg/bg_reg_nav.gif) top left repeat-x;border-bottom:5px solid #285179;}
div#reg_footer_nav {background:#2e6192;}


/***************/
/* logout/language toggle fix */
td.header_links a {position: absolute;top: 30px;}
td.header_links a.arrow {top: 50px;}
