/* General global css styles */
html,body{	font-family:Arial, sans-serif;color:#171717;margin:0;padding:0;text-align:center;height:100%;}
body {background:#fff;}
:focus{-moz-outline-style: none;}

input, select, textarea {font-family:Arial,sans-serif;font-size:12px;}

form {margin:0;}
a img {border:0;}
sup {font-size: smaller; vertical-align: baseline; position: relative; bottom: 0.33em;}
a sup {text-decoration:none !important;}
h2 sup {font-size:.70em;}
p {margin:1em 0;}

a:link,a:visited{color:#3399cc;text-decoration:underline;}
a:hover{text-decoration:none;}
a:link.arrow, a:visited.arrow {padding-left:10px;background:url(../img/icon/icon_arrow.gif) 0 5px no-repeat;text-decoration:none;}
a:hover.arrow {text-decoration:none;color:#000066;}
a.skip span {position:absolute;left:-1000px;}

.hide {display: none;}

td, th {vertical-align:top;padding:0;text-align:left;}

h1 {font-size:20px;font-family:Arial,sans-serif;padding:0;margin:0;color:#000066;}
h1 span.link {float:right;font-family:Arial,sans-serif;font-size:12px;font-weight:normal;padding-top:4px;display:block;}
h1 strong {color:#171717;}
h2 {font-family:Arial, sans-serif;font-size:16px;font-weight:bold;color:#009dd9;padding:0;margin:0 0 5px 0;}
/*ASK*/
h2.h2alt {color:#00975C  !important;}
h2 span.required, h2 span.link {font-family:Arial,sans-serif;font-size:12px;font-weight:normal;color:#171717;float:right;padding-top:2px;display:block;}
h2 span.required span, h3 span.required span, span.required, td.required span, div.required span {color:#f00;}
h2 span.blackened {color:#171717;}
h2.under_hr {margin-top:5px !important;padding-top:0 !important}
h2.h2_btm_margin {margin-bottom:8px;}
h2 div.btn {float:right;padding-top:3px;}
td.required {text-align:right;}
h3 {margin:5px 0;font-size:13px;font-family:Arial,sans-serif;}
h3.full_spacing {margin:10px 0;}
h3.main_mod_h3 {margin:0 0 12px 0;}
h3 span.required, h3 span.link {font-family:,Arial,sans-serif;font-size:12px;font-weight:normal;color:#171717;float:right;padding-top:2px;display:block;}
h4 {font-weight:bold;font-size:12px;margin:0;}
h4 span.required, h4 span.link {font-weight:normal;font-size:12px;float:right;color:#171717;display:block;}
h4 span.required span {color:#f00;}
p span.required {font-weight:normal;font-size:12px;float:right;color:#171717;display:block;}
p span.required span {color:#f00;}
div.required {text-align:right;}
p.required {text-align:right; font-size: 12px;}
.disabled {color:#999;}

/* Main container */
div#container {position:relative;width:878px;text-align:left;margin:0 auto;padding:20px 0 0 15px;}


/* Header styles */
div#header_container {float:left;font-size:11px;}
div#header_container div.warning {float:left;width:100%;margin-top:1em;}

div#logo {float:left;padding-left:7px; width: 356px; overflow: hidden;}
div#logo img.logo_ao {padding-left:15px;}

div#header {float:right;padding-top:10px; margin: 0 15px 10px 0;}
div#header table td.header_welcome div.header_name {width: 219px; white-space:normal;}
div#header table td.header_welcome div.header_name div {float: right; position: relative;}
div#header table td.header_welcome div.header_name img {position: absolute; left: -17px;}
div#header table td.header_welcome span.welcome_msg {font-size:1.1em;font-weight:bold; display: block;}
div#header table td.header_welcome a.citi_link {line-height: 13px; display: block;}
div#header table td.header_welcome br {display: none;}
div#header table td.header_welcome, div#header table td.header_signon {padding:0 10px 0 10px;background:url(../img/global/vr_nav_dots.gif) top right repeat-y;}
div#header table td.header_welcome {width: 219px; padding-left: 0;}
div#header table td.header_signon {width: 188px; padding:0 5px 0 10px;}
div#header table td.header_signon td.label-col {padding-right:5px; width: 75px;}
div#header table td.header_links {padding:0 0 0 10px; width: 72px;}
div#header table td.header_links a {margin: 0 3px 0 0; float: right; display: block;}
div#header table td.header_links a img {margin: 0 0 5px 0; display: block;}

div#inside_footer {clear:both; position:relative; padding:15px 0; height:1%; text-align:left;} 
div#inside_footer #inside_footer_right_top_padding {padding-top:10px;float:right;} 
div#inside_footer #inside_footer_left_UCS {float:left; width:780px;} 
div#inside_footer #inside_footer_right {float:right;}
div#inside_footer #footer_brand_smith_padding {padding-top:20px;}

div#card_nav_container {margin: 10px 0 0 0; float:left;width:884px;background:url(../img/bg/bg_card_nav_glow.gif) top left no-repeat;height:64px;}
div#card_nav_container div.card_image {float:left;width:62px;padding-top:9px;margin-left:20px;margin-right:7px;display:inline;}
div#card_nav_container div.card_nav {float:left;width:575px;padding-top:3px;}
div#card_nav_container div.card_nav h4 {font-weight: normal; margin-top: -13px;margin-bottom: 2px; font-size: 11px;}
div#card_nav_container div.card_nav select {width:350px;}
div#card_nav_container div.card_nav input {padding-left:9px;}
/* Fix 20717. TPR P0003513 */
div#card_nav_container div.card_accounts {float:left;padding-left:20px;padding-top:9px;height:37px;}
div#card_nav_container div.card_accounts table {height:100%;}
div#card_nav_container div.card_accounts td {vertical-align:middle;}
div#card_nav_container div.card_accounts_link {padding-top:4px;}
div#card_nav_container div.card_offer {float:right;width:205px;height:58px;background-position:top left; background-repeat:no-repeat; font-family:Arial, sans-serif;font-size:12px;text-align:center;vertical-align:middle;}
div#card_nav_container div.card_offer table {height:100%;}
div#card_nav_container div.card_offer td {vertical-align:middle;padding:5px 10px;}
div#card_nav_container div.card_offer a {text-decoration:none;}
div#card_nav_container div.card_offer td#fico-ad h3 {margin: 0;font-size:11px;}
div#card_nav_container div.card_offer td#fico-ad a {text-decoration:underline;}

div#card_nav_container select#card_select {font-family:arial, helvetica, sans-serif;}

div#nav {padding-top:10px;float:left;width:884px;}
div#nav ul {padding:0;margin:0;list-style:none;}
div#nav ul li {float:left;padding:0;margin:0 -1px 0 0;}
div#nav ul li img.img_on {display:none;}
div#nav ul li.navOn img.img_on {display:block;}
div#nav ul li.navOn img.img_off {display:none;}
div#nav ul li.current img.img_on {display:block;}
div#nav ul li.current img.img_off {display:none;}

div#nav ul li ul {border-top: 1px solid #d6d6d6; margin-top: 0;position:absolute;left:-1000px;z-index:50;width:200px;}
div#nav ul li.navOn {position: relative; z-index:50;}
div#nav ul li.navOn ul {display:block;left:auto;overflow:hidden;margin-left:-3px;}
div#nav ul li.navOn ul#nav_security {right:-3px;}
div#nav ul li ul li {display:block;float:none;margin:0;}
div#nav ul li ul li a {display:block;color:#3399cc;background:#f7f7f7 ;padding-bottom:1px;text-decoration:none;border-right: 1px solid #d6d6d6;border-left: 1px solid #d6d6d6; font-size: 12px;}
div#nav ul li ul li a span {display:block;padding:6px 10px 6px 16px;}
div#nav ul li ul li a:hover {color:#000066;text-decoration:underline;}
div#nav ul li ul li.first a {margin-top:1px;}
div#nav ul li ul li.last a {background:url(../img/bg/bg_nav_dropdown_lastrow.gif) no-repeat; border-right: 0px;border-left: 0px;}

/* Sidebar styles */
div#sidebar_container {float:left;width:183px;font-size:12px;margin-top:4px;}
div.sidebar_module {margin-top:25px;}
div.sidebar_module ul {padding:0;margin:0;list-style:none;}
div.sidebar_module ul li {padding:4px 0 6px 0;margin:0;color:#999;background:url(../img/global/hr_nav_dots.gif) bottom left repeat-x;}
div.sidebar_module ul li a {display:block;background:url(../img/icon/icon_arrow.gif) 0 5px no-repeat;padding-left:11px;text-decoration:none;}
div.sidebar_module ul li span.current {display:block;background:url(../img/icon/icon_arrow_disabled.gif) 0 5px no-repeat;padding-left:7px;text-decoration:none;}
div.sidebar_module ul li.last {background:none;}

div.sidebar_module div.help_item {padding:4px 0 0 14px;}
div.sidebar_module div.help_item span {font-weight:bold;}
div.sidebar_module div.help_links li {background:none !important;padding:2px 0;}
div.sidebar_module div.help_links a {display:block;background-position:0 5px;}

div#help_module h2 {color:#83b326 !important;text-decoration:none;}
div#help_module ul li a.supportToggle {background:url(../img/icon/plus_sign.gif) 0 0 no-repeat;padding-left:14px; line-height: 14px; text-decoration: none;}
div#help_module ul li a.supportToggle:hover {color:#000066;}
div#help_module div.help_item, div#help_module div.hrNav, div#help_module div.help_card {display:none;}
div#help_module div.help_card {font-family:arial,verdana,san-serif;font-weight:bold;font-size:11px;padding:4px 0 0 14px;}

div.showHelp ul li a.supportToggle {background-image:url(../img/icon/negative_sign.gif) !important;}
div.showHelp div.help_item, div.showHelp div.help_links, div.showHelp div.hrNav, div.showHelp div.help_card {display:block !important;}

div.citi_advisor {margin-top:26px;}
div.citi_advisor h2 {margin:0;padding:0;}
div.citi_advisor h2 img {display:block;}
div.citi_advisor div.citi_advisor_content {padding:0 10px;background:#f9f9f9;border-right:1px solid #dedede; border-left:1px solid #dedede;font-size:11px;}
div.citi_advisor div.side_item {padding:10px 0;background:url(../img/global/hr_nav_dots.gif) bottom left repeat-x;}
div.citi_advisor div.side_item.last {background:none;}
div.citi_advisor div.citi_advisor_top {background:url(../img/bg/bg_citi_advisor_top.gif) top left no-repeat;height:8px;}
div.citi_advisor div.citi_advisor_btm {background:url(../img/bg/bg_citi_advisor_btm.gif) top left no-repeat;height:8px;}

div.offer_container {margin-top:15px; padding-left: 3px;}
div.offer_container div.banner_left {float:left;width:323px;}
div.offer_container div.banner_right {float:left;width:323px;margin-left:11px;}
div.offer_container div.link {text-align:right;clear:both;padding-top:5px; font-size: 11px;}


div#inside_footer {clear:both; position:relative; padding:15px 0; height:1%; text-align:left;} 
div#inside_footer #inside_footer_right_top_padding {padding-top:10px;float:right;} 
div#inside_footer #inside_footer_left_UCS {float:left; width:780px;} 
div#inside_footer #inside_footer_right {float:right;}
div#inside_footer #footer_brand_smith_padding {padding-top:20px;}

/* Main content styles */
div#main_container {float:left;width:661px;margin-left:34px;font-size:12px;}
div#main_container div.title_area {margin:25px 0 20px 0; padding-left: 3px;}
div#main_container div.title_area h1 {padding-bottom:5px;}

div.main_module_top {width:100%;height:16px;background:#f4f7f9 url(../img/bg/bg_main_module_top_glow.gif) top left no-repeat;font-size:1px;}
div.main_module {background:#f4f7f9 url(../img/bg/bg_main_module_glow.gif) top left repeat-y;padding:1px 13px 1px 14px; }
div.main_module_btm {height:16px;background:#f4f7f9 url(../img/bg/bg_main_module_btm_glow.gif) top left no-repeat;margin-bottom:25px;font-size:1px;}

div.main_module div.inner_module_top, table.account_status tr.inner_module_top td {height:5px;background:#f4f7f9 url(../img/bg/bg_main_inner_mod_top.gif) bottom left no-repeat;font-size:1px;padding:0;}
div.main_module div.inner_module {background-color:#fff;border-right:1px solid #dedede; border-left:1px solid #dedede;padding:1px 10px;}
div.main_module div.inner_module h2 {padding-top:6px;}
div.main_module div.inner_module_btm {clear:both;height:5px;background:#f4f7f9 url(../img/bg/bg_main_inner_mod_btm.gif) top left no-repeat;font-size:1px;padding-bottom:8px;}
div.main_module div.inner_module_hr {background:#ececec;border-right:1px solid #dedede; border-left:1px solid #dedede;height:1px;overflow:hidden;}
div.main_module div.no_side_padding {padding-left:0px;padding-right:0px;}
div.main_module div.no_side_padding h2, div.main_module div.no_side_padding h3 {padding-left:10px;padding-right:10px;}
div.main_module div.no_side_padding p, div.main_module div.no_side_padding div.textBlock {padding-left:10px;padding-right:10px;}
div.main_module div.no_side_padding td p {padding-left:0;padding-right:0;}
div.main_module div.no_side_padding div.btn_container {padding-left:10px;padding-right:10px;}
div.main_module div.no_side_padding div.hrLineMarg {margin-left:10px;margin-right:10px;}
div.main_module div.no_side_padding div.hrFullLine {margin:0 10px;}
div.main_module div.no_side_padding div.hrFullLineMarg {margin-left:10px;margin-right:10px;}
div.main_module div.progress_bar {margin-bottom:1em;}
div.main_module div.intro_text {margin:1em 0;padding:0 10px;}
div.main_module div.no_side_padding tbody.paperless_details p,
div.main_module div.no_side_padding tbody.paperless_details h4 {padding-left: 10px; padding-right: 10px;}

div.main_module tr.error_row {display: none;}
div.main_module tr.error_row_show {display: table-row;}

.main_module ul{padding-left:13px; margin-left:0px;}
.main_module ol{padding-left:21px; margin-left:0px;}

.outter_footnote { padding: 0 15px 0 15px;}


/* Footer content styles */
div#footer_container {float:left;width:100%;padding:30px 0 15px 0;font-size:11px;}
div#footer_contextual {float:left;width:100%;background:#f5f5f5;padding:12px 0 13px 0;}
div#footer_contextual div {float:left;display:inline;margin:0 15px 0 15px;font-weight:bold;}
div#footer_contextual div.left_module, div#footer_contextual div.middle_module {width:266px;}
div#footer_contextual div.right_module {width:241px;}
div#footer_contextual div ul {margin:0;padding:0;list-style:none;}
div#footer_contextual div ul li {margin:0;padding:2px 0 1px 0;font-weight:normal;}
div#footer_contextual div ul li a {display:block;background:url(../img/icon/icon_arrow.gif) 0 5px no-repeat;padding-left:10px;text-decoration:none;}

div#footer_brand {float:left;width:100%;height: 13px;padding:9px 0;border-bottom: 1px solid #d6d6d6;border-top: 1px solid #d6d6d6;}
div#footer_brand ul {padding: 0 0 0 0; margin: 0 0 0 0; list-style-type: none; list-style: none; overflow: hidden; text-align:center;}
div#footer_brand ul li {float: right; padding: 0 0 0 20px; display: inline;}
div#footer_brand ul li.first {float: left; padding: 0 0 0 0;}
div#footer_brand ul li a {color: #666; text-decoration: none;}

div#footer_global {float:left;width:100%;padding-top:10px;font-size:11px; }
div#footer_global div.left_module {float:left;width:200px;color:#4a4a4a; }
div#footer_global div.right_module {padding: 0 0 0 0; float: right;text-align:right; width:500px;}
div#footer_global div.right_module a {display: block; float: right; width: 93px;}
div#footer_global div.right_module p {float: right; width:300px; padding-right: 15px; color: #999; margin-top: 0;}

/* Main form table styles */
table.formTable {width:100%;}
table.formTable td {padding:0 6px .5em 0;vertical-align:top;}
table.formTable td.label-col, table.formTable td.label-col-left {width:200px;text-align:right;padding:2px 6px 0 0;}
table.formTable td.label-col-full {padding:2px 6px 2px 0;}
table.formTable td.text-col {padding-top:2px;}
table.formTable td.label-col-left {text-align:left;}
table.formTable td.label-col span, table.formTable td.label-col-left span, table.formTable td.label-col-full span {color:#f00;}
table.formTable tr.textMode td.data-col {padding:2px 6px 0 0;font-weight:bold;}
table.formTable tr.editMode td.text_mode {padding-top:2px;font-weight:bold;}
table.formTable td.inline_link {text-align:right;padding-right:0;padding-top:2px;}
table.formTable td.formSpacing {height:10px;}
table.textFieldWidth input.textField {}
table.formEdit tr.editMode {display:table-row;}
table tr.editMode, table.formEdit tr.textMode {display:none;}
table.formEdit tr.textAndEditMode {display:table-row !important;}
table tbody.hideTextRow tr.textMode {display:none !important;}
div.form_note {font-size:.9em;color:#4a4a4a;margin-top:2px;}
table.formTable td.form_note {padding-top:6px;padding-bottom:14px;}
table.table_top_spacing {margin-top:7px;}
table.verifyTable td {padding-bottom:3px;}

table.formTable tr.paperless td.data-col {vertical-align:middle;}
table.formTable tr.spacer td.data-col {padding-bottom:6px !important;}
table.formTable tr.name-row td, table.formTable tr.mailing-row td, table.formTable tr.phone-row td {padding-top:15px;}

div.btn_container {height:21px;padding:6px 0 10px 0;}
div.btn_container_marg {height:20px;padding-top:0;padding-bottom:9px;margin-top:15px;}
div.btn_container div.btn,
h2 div.btn {float:right;padding-top:3px;}
div.inner_module div.footnote {padding:0;width:500px;margin-bottom:10px;}
div.btn_container div.link {float:left;padding-top:3px;}
div.btn_link_right div.link {float:right;padding-top:5px;margin-right: 10px;}
div.btn_container div.double_link {float:left;}
div.btn_container div.double_link a {padding-bottom:3px;display:block;}

/* Table for checkboxes and legal copy */
table.legal_table, table.radio_table {width:100%;}
table.legal_table td.checkbox, table.radio_table td.radio {width:18px;}
table.radio_table td {padding-bottom:8px;}
table.legal_table td.text {padding:3px;}
table.radio_table td.text {padding:3px 3px 8px 3px;}


/* Account status bar */
table.account_status {width:100%;}
table.account_status th {font-size:13px;font-family:arial, sans-serif;padding:0 11px 5px 0;}
table.account_status th.statement_balance {width:180px;padding-left:11px;}
table.account_status th.min_payment {width:206px;}
table.account_status th span {font-weight:normal;}
table.account_status td {font-weight:bold;font-size:13px;font-family:arial, sans-serif;padding:4px 11px 4px 11px;}
table.account_status td.statement_balance {color:#fff;background:#fff url(../img/bg/bg_statement_balance.gif) 6px 1px no-repeat;border-left:1px solid #e1e1e1; color: #333;}
table.account_status td.min_payment {color:#fff;background:#fff url(../img/bg/bg_min_payment_full.gif) 0 1px no-repeat;padding-left:4px; color: #333;}
table.account_status td.min_payment span {font-size:13px;}
table.account_status td.balance {background:#fff;border-right:1px solid #e1e1e1;padding-left:0px;}
table.account_status th.data_one {width:187px;padding-left:11px;}
table.account_status th.data_two {padding-left:12px;width:202px;}
table.account_status th.data_three {padding-left:7px;}
table.account_status td.data_one {background:#fff url(../img/bg/bg_credit_line_gradient.jpg) 6px 1px no-repeat;border-left:1px solid #e1e1e1;}
table.account_status td.data_two {background:#fff;padding-left:12px;}
table.account_status td.data_three {color:#fff;background:#fff url(../img/bg/bg_credit_line_gradient_2.jpg) 0 1px no-repeat;border-right:1px solid #e1e1e1;padding-left:7px;}
table.account_status tr.terms_row td { padding-bottom: 0; background: #fff; border: 1px solid #E1E1E1; border-width: 0 1px 0 1px; font-size: 1em; font-weight:normal;}

/* Misc global styles */
br.clearboth, div.clear, br.clear_both, br.clear {clear:both;}
div.clearboth {clear:both;height:1px;font-size:1px;}
.errortext{COLOR: red; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE:12px ; FONT-WEIGHT: bold;}
.no_top_margin {margin-top:0 !important;}
div.hrNav {background:url(../img/global/hr_nav_dots.gif) center left repeat-x;height:17px;font-size:1px;clear:both;}
div.hrLine {background:url(../img/global/hr_dots.gif) center left repeat-x;height:17px;font-size:1px;clear:both;}
div.hrLineBlue {background:url(../img/global/hr_blue.html) center left repeat-x;height:17px;font-size:1px;clear:both;}
div.hrLineLight {background:url(../img/global/hr_light_dots.gif) center left repeat-x;height:17px;font-size:1px;clear:both;}
div.hrFullLine {background:#e1e1e1;height:1px;font-size:1px;overflow:hidden;}
div.hrLineMarg {background:url(../img/global/hr_dots.gif) center left repeat-x;height:1px;font-size:1px;clear:both;margin:14px 0 13px 0;}
div.hrFullLineMarg {background:#e1e1e1;height:1px;font-size:1px;overflow:hidden;margin:13px 0 12px 0;}
div.err-msg, div.err-server-msg, div.err-msg-full {margin-bottom:2px;padding-left:11px;width:190px;color:#f00;background:url(../img/icon/icon_error.gif) no-repeat left 3px;font-weight:normal;}
div.err-msg-full {width:100%;}
div.reg_account_info div.err-msg-full {margin-bottom:5px;}
div.footnote {color:#4a4a4a;padding:0 10px;line-height:1.1em;margin-bottom:20px;}
div.image_spacer {margin-bottom:5px;margin-top:10px;}
div.textBlock {margin-right:222px;}
div.delete-email div.textBlock { margin-right:90px; }
div.marg_btm {margin-bottom:5px;}
div.inner_module div.textBlock {margin:1em 100px 1em 0;}
div.footnote div.textBlock {margin-right: 100px;}
p.warning, div.warning, h1.warning, div.longwarning {margin-top:7px;font-weight:bold;background:url(../img/icon/icon_warning.gif) top left no-repeat;padding-left:20px !important; min-height:14px;display:block;font-size:12px;}
h1.warning {background-position: left 25%;}
div.typeC {margin-left:221px;width:auto !important;}
div.warning-padded {margin-bottom:15px;}
div.longwarning { margin-left:30%;margin-top:5px; }
span.font_normal {font-weight:normal;}
p.red, span.red {color:#f00;}
div.inputField {margin:1em 0;}
.bold {font-weight: bold;}
table.table_vert_margin {margin:5px 0;}
tr.top_row td {padding-top:0 !important;}
tr.btm_row td {padding-bottom:0 !important;}
p.btm_elm, div.btm_elm, ul.btm_elm, li.btm_elm {margin-bottom:0 !important;padding-bottom:0 !important;}
tr.valign-mid td {vertical-align:middle;}
tr.valign-btm td {vertical-align:bottom;}
ul.list_items li {margin:2px 0;}
p.full_btm_marg {margin-bottom:15px;}
input.checkbox_left {position:relative;left:-3px;}
p.margin_sm {margin:7px 0 7px 0;}
p.main_mid_link {margin:4px 0 15px 0;}

/*global confirmed pages*/
div.confirm_module {padding-bottom:60px !important;background:#fff url(../img/bg/bg_confirm_btm.gif) 5px bottom no-repeat !important;}
div.confirm_module_btm {height:23px;background:url(../img/bg/bg_confirm_rib_btm.gif) top left no-repeat;margin:13px 0 0 8px;}
table.email_update_table {width:100%;}
table.email_update_table td.data-col {width:210px;}

.float_left {float:left;}
.float_right {float:right;}
.float_right span {color: red;}
.not-bold {font-weight:normal;}
ul.links, ul.bottom_links, ul.list {margin:0;padding:0;list-style:none;}
ul.bottom_links li {margin:5px 0 5px 0 !important;}
ul.padded li {text-indent:-7px;margin:0 0 7px 7px;}
ul.no_indent {padding-left:13px; margin-left:0px; margin-top:11px !important;}
label.radio_text {color:#171717 !important;position:relative;top:-2px;}
table.formTable tr.disabled td, table.formTable tr.disabled td label.radio_text {color:#999 !important;}
label.checkbox_text {position:relative;top:-3px;}
ul.list {margin-bottom:10px;}
ul.list li {margin:0 0 1px 50px;}

table.full_table {width:100%;}
table.full_table td.firstTd, table.full_table th.firstTd {padding-left:10px;}
table.full_table td.lastTd, table.full_table th.lastTd {padding-right:10px;}
table.full_table tr.hrLine td {height:1px;font-size:1px;padding:0;}
table.full_table tr.hrLine td div {background:url(../img/global/hr_light_dots.gif) top left repeat-x;height:1px;font-size:1px;margin:0 10px;overflow:hidden;}
table.full_table tr.hrFullLine td {height:1px;font-size:1px;padding:0;}
table.full_table tr.hrFullLine td div {background:#e1e1e1;height:1px;font-size:1px;margin:0 10px;overflow:hidden;}

/* Toggle Headers */
h2 a.toggleLink {background:url(../img/icon/icon_minus.gif) 0 2px no-repeat;padding-left:19px;text-decoration:none;color:#009dd9 !important;}
h3 a.toggleLink {background:url(../img/icon/icon_minus.gif) 0 2px no-repeat;padding-left:19px;padding-top:1px;text-decoration:none;color:#171717 !important;}
h3 a.no_icon {background:none !important;padding-left:0 !important;}
div.toggleDiv {padding:4px 0 8px 0;}

div.hideModule h2 a.toggleLink, div.hideModule h3 a.toggleLink {background-image:url(../img/icon/icon_plus.gif);}
div.hideModule div.inner_module, div.hideModule div.inner_module_top, div.hideModule div.inner_module_btm {display:none;}
div.hideModule div.toggleDiv {display:none;}
div.hideModule h2 span {display:none;}

div.hide, form.hide, a.hide, span.hide {display:none !important;}


/* Overlay */
div#overlay_container {position:absolute;display:none;width:630px;margin-left:-200px;margin-top:5px;z-index:90;}
div#overlay_container div.overlay_pointer {padding-left:305px;margin-bottom:-2px;position:relative;z-index:10;}
div#overlay_container div.overlay_pointer div {height:28px;width:20px;background:url(../img/bg/bg_overlay_arrow.png) top left no-repeat;}
div#overlay_container div.overlay_top {height:10px;text-align:center;background:url(../img/bg/bg_overlay_top.png) bottom left no-repeat;font-size:1px;}
div#overlay_container div.overlay_main {padding:5px 13px 5px 9px;border-left:1px solid #cccccc;background:url(../img/bg/bg_overlay.png) top right repeat-y;}
div#overlay_container div.overlay_btm {height:10px;background:url(../img/bg/bg_overlay_btm.png) bottom left no-repeat;font-size:1px;}
div#overlay_container div.inner_module_top {height:5px;background:url(../img/bg/bg_overlay_inner_top.gif) bottom left no-repeat;font-size:1px;padding:0;}
div#overlay_container div.inner_module {background-color:#fff;border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:1px 10px 8px 10px;}
div#overlay_container div.inner_module h2 {padding-top:6px;}
div#overlay_container div.inner_module_btm {clear:both;height:5px;background:url(../img/bg/bg_overlay_inner_btm.gif) top left no-repeat;font-size:1px;}
div#overlay_container div.fullHrLine {background:#e1e1e1;height:1px;font-size:1px;margin:10px 0 15px 0;overflow:hidden;}
div#overlay_container div.inner_module_spacer {height:10px;}

table.overlay_links_table {width:100%;}
table.overlay_links_table h3 {margin-top:0;}
table.overlay_links_table th {padding-right:18px;width:33%;vertical-align:bottom;}
table.overlay_links_table td {padding-right:18px;width:33%;}
table.overlay_links_table th.lastTd, table.overlay_links_table td.lastTd {padding-right:0;}
table.overlay_links_table ul {margin:0;padding:0;list-style:none;}
table.overlay_links_table ul li {padding:5px 0;background:url(../img/global/hr_nav_dots.gif) bottom left repeat-x;}
table.overlay_links_table ul li.lastLi {background:none;}
table.overlay_links_table ul li a {display:block;}


table.overlay_offer_table {width:100%;}
table.overlay_offer_table th {width:185px;padding-bottom:10px;}
table.overlay_offer_table td.vrDots {background:url(../img/global/vr_nav_dots.gif) top center repeat-y;}
table.overlay_offer_table td.vrDots div {width:21px;}
table.overlay_offer_table td.offer_img {vertical-align:middle;width:66px;}
table.overlay_offer_table td.offer_links {width:200px;padding-left:15px;text-align:left;}
table.overlay_offer_table td.offer_links div {padding-top:5px;}

div.overlay_confirm {position:absolute;font-size:12px;text-align:left;width:630px;visibility:hidden;top:0;left:0;margin-left:-9px;z-index:100;}
div.overlay_confirm div.overlay_top {height:10px;text-align:center;background:url(../img/bg/bg_overlay_top.png) bottom left no-repeat;font-size:1px;}
div.overlay_confirm div.overlay_main {padding:5px 12px 5px 10px;background:url(../img/bg/bg_overlay.png) 0 0 repeat-y;}
div.overlay_confirm div.overlay_btm {height:10px;background:url(../img/bg/bg_overlay_btm.png) bottom left no-repeat;font-size:1px;}
div.overlay_confirm div.inner_module_top {height:5px;background:url(../img/bg/bg_overlay_inner_top.gif) bottom left no-repeat;font-size:1px;padding:0;}
div.overlay_confirm div.inner_module {zoom: 1; position:static; background-color:#fff;border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:1px 10px 1px 10px;}
div.overlay_confirm div.inner_module h2 {padding-top:6px;}
div.overlay_confirm div.inner_module_btm {clear:both;height:5px;background:url(../img/bg/bg_overlay_inner_btm.gif) top left no-repeat;font-size:1px;}
div.overlay_confirm #h2_delete_overlay, div.overlay_confirm #h2_leaving_overlay {outline:none;}

div#overlay_cloak {position:fixed;top:0;left:0;min-height:100%;height:100%;width:100%;background-color:#333;filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50;visibility:hidden;z-index:90;}


table.auth_table {width:100%;}
table.auth_table td.checkbox {width:18px;}
table.auth_table td.text {padding:3px 3px 10px 3px;}

/*Toggles table  */
div.toggleTable table#hiddenTable{display:none;}
div.toggleTableShow table#shownTable{display:none;}
div.toggleTableShow table#hiddenTable{display:block;}

table.innerFormTable {margin-left:175px;margin-top: 6px;}
table.innerFormTable td {padding:0 6px 1px 0;}
table.email_options_table td.text-col {padding-top:3px;}

table.formTable td.err-msg {padding-left:11px;color:#f00;background:url(../img/icon/icon_error.gif) no-repeat left 3px;}

/* FFIEC pages */
div#security-questions ul, div#security-questions p {padding-right: 80px}
div#security-questions ul li {margin-bottom: 7px;}
div#security-questions div.inner_module p {padding-right: 170px;}
div#security-questions div.required {margin-top: 8px;}
div#security-questions label {font-weight: bold;}
div#security-questions select {width: 280px; margin-left: 7px; }
div#security-questions div.inputField {margin: 5px 0 5px 25px;}

/* FICO Credit Score pages */
div#credit-score ul li {margin-bottom: 7px;}

/* Replacement Card Request pages */
div#main_container.replace-card-request div.inner_module h3 {
font: bold 1em ,Arial,sans-serif;
}

div#main_container.replace-card-request div.inner_module h3,
div#main_container.replace-card-request div.inner_module p {
padding-right: 170px;
}


table.inline_email td label, div#email_change_link, div#email_save_link {position:relative;top:0;}
table.inline_email tr.textMode td.data-col {padding-top:4px;}
table.inline_email td input {width:180px;}
table.inline_email div#inline_email_input, table.inline_email div#email_save_link, div#email_re_enter, div#inline_email_complete {display:none;}
table.inline_email span#inline_email_required {color:red;display:none;}
div#email_re_enter p span {color:red;}
table.inline_email td.complete-col {width:100px;}

table.inline_email div#inline_email_complete {font-weight:bold;margin-left:5px;}
table.inline_email div#inline_email_complete span {position:relative;top:2px;margin-left:5px;}

div.error_required_checkbox {color:red;display:none;}

div#choices_set_two {border-top:1px solid #ECECEC;border-bottom:1px solid #ECECEC;margin:10px 0 15px 30px; overflow: hidden;}
div#choices_set_two table.newsletter-choices {float:left;width:192px;height:27em;background:#fff url(../img/bg/bg_vertical_seperator.gif) repeat-y right top;padding:0 4px 0 3px;margin:1em 0 0 0;}
div#choices_set_two table.newsletter-choices tr td {height:30px;}
div#choices_set_two table.newsletter-choices tr.title-row td {height:25px;padding-left:5px;}
div#choices_set_two table.newsletter-choices tr.seperator td, div#choices_set_two table.newsletter-choices tr.title-bar td {height:0.5em;padding: 0 4px;}
div#choices_set_two table.newsletter-choices tr.select-all td {height:auto;padding-left:6px;}
div#choices_set_two table.newsletter-choices tr.seperator td div.hrLine {height:1px;}
div#choices_set_two table.first {padding-left:0;}
div#choices_set_two table.last {background: none;}
div#choices_set_two tr.title-row td {font-weight:bold;}
div#choices_set_two table.newsletter-choices td.label-col-right {padding-top:2px;}

div.content-box ul { list-style-position: inside; padding: 0;}

div.float-div {overflow:auto;}
div.div-label {float:left;width:200px;text-align:right;}
div.div-value {float:right;width:406px;font-weight:bold;}

ul.link-list {list-style:none;margin:0 0 2em 0;padding:0;}
ul.link-list li {display:block;float:left;margin:0;padding:0 20px 0 0;}

table.cardList td.label-col {text-align:left;font-weight:bold;}
table.cardList td.check-col {text-align:right !important;width:200px;}
table.cardList td.label-col label {margin-left:1em;position:relative;top:3px;}

input.readonly {border:none;background:none;width:100%;}
div#reg_footer_container div#reg_footer_nav.ffiec-inter {height:1px;border-top:1px solid #C1C1C1;background:none;}

div.main_module div.request_ecomm {background: #fff url(../img/icon/icon_email_conf_leaf.jpg) no-repeat 10px 30px; padding-left: 70px;}
div.main_module div.request_ecomm h2 {margin-left: -60px;}

/*More Information Toggle*/
td.more_info {padding: 5px 0 0 0;}
td.more_info a.toggle-link {}
td.more_info a.toggle-c {display: none;}
td.more_info div.more_info_cnt {display: none; padding: 5px 0 0 0;}
td.show_more_info a.toggle-x {display: none;}
td.show_more_info a.toggle-c {display: inline;}
td.show_more_info div.more_info_cnt {display: block;}

.hdr_content_top {height:9px;font-size:1px;background:url(../img/bg/bg_hdr_container_top.gif) no-repeat 0 0;clear:both;width:884px;}
.hdr_content_btm {height:14px;font-size:1px;background:url(../img/bg/bg_hdr_container_btm.gif) no-repeat 0 0;clear:both;}
.hdr_content {background:url(../img/bg/bg_hdr_container_slice.gif) repeat-y 0 0;}
#header_container .hdr_content {padding-left: 18px;}
#header_container #nav {background:url(../img/bg/bg_hdr_container_high_btm.gif) no-repeat left bottom;margin-top:-5px;padding:0 0 3px 9px;}
#header_container #nav ul li ul {background:url(../img/nav/nav_box_container.png) no-repeat left bottom;width:201px;padding-bottom:12px;}
#header_container #nav ul li ul li a {border:0;background:transparent;}
/*GlobalPG*/
div#reg_header_container div#header table, div#header table table {width: auto;}
ul#simple-nav {float:right;list-style:none;padding:0;margin:15px 0 0;}
ul#simple-nav li {float:left;display:block;margin:0 5px 0 0;padding:0 5px 0 0;border-right:1px solid black;}
ul#simple-nav li.last {padding:0;margin:0;border-right:none;}

/*Mobile*/
iframe#ifrm {float:left;}

/*Authenticate User Overlay*/
div#choose_auth_user form {}
div#choose_auth_user form fieldset {border: none; padding: 0 0 0 5px; height: 50px;}
div#choose_auth_user form fieldset input {margin: 0 10px 0 0; display: block; float: left; position: static;}
div#choose_auth_user form fieldset label {margin: 0 0 10px 0; display: block; float: left; width: 540px; line-height: 14px;}
div#choose_auth_user div.hrLineMarg {margin: 5px 0 13px 0;}
div#choose_auth_user p.auth_error {color: red;}



form#SSNsecurityForm td.label-col {width: 300px;}

/* June 23 AO Service Enhancements */
.paperless_signup ul.links_type_a {float:right;list-style-type:none;}
.paperless_signup ul.links_type_a li {float:left;margin-left:32px;}
.paperless_signup ul.links_type_a li a.arrow {display:block;margin-top:3px;}
.paperless_signup h2 {margin-bottom:10px;}
.paperless_signup h3 {font-size:14px;}
.paperless_signup h3 a.expandable {color:#424242;}
.paperless_signup h3 a.expandable:link, .paperless_signup h3 a.expandable:visited, .paperless_signup h2 a.expandable:link, .paperless_signup h2 a.expandable:visited {text-decoration:none;}
.paperless_signup h3 a.expandable:hover, .paperless_signup h2 a.expandable:hover {text-decoration:underline;}
.paperless_signup h2 a.expandable, .paperless_signup h2 a.expanded, .paperless_signup h3 a.expandable, .paperless_signup h3 a.expanded {padding-left:20px;}
.paperless_signup h2 a.expanded, .paperless_signup h2 a.expandable {background-position:0 2px;}
.paperless_signup a.expandable {background:url(../img/icon/ico_plus.gif) no-repeat 0 0;}
.paperless_signup a.expanded {background:url(../img/icon/ico_minus.gif) no-repeat 0 0;}
.paperless_signup ul.card_list {list-style-type:none;}
.paperless_signup ul.card_list li {margin-left:140px;}
.paperless_signup ul.features_list li {margin-left:25px;}
.expandable_details {display:none;}

.info_overlay_container {position:absolute;width:630px;z-index:100;top:200px;left:400px;font-size:12px;visibility:hidden;}
.info_overlay_container h3 {font-size:14px;}
.info_overlay_container h3 a.expandable {color:#424242;}
.info_overlay_container h3 a.expandable:link, .info_overlay_container h3 a.expandable:visited, .info_overlay_container h2 a.expandable:link, .info_overlay_container h2 a.expandable:visited {text-decoration:none;}
.info_overlay_container h3 a.expandable:hover, .info_overlay_container h2 a.expandable:hover {text-decoration:underline;}
.info_overlay_container div.overlay_top {height:10px;text-align:center;background:url(../img/bg/bg_overlay_top.png) bottom left no-repeat;font-size:1px;}
.info_overlay_container div.overlay_main {padding:5px 13px 5px 9px;border-left:1px solid #cccccc;background:url(../img/bg/bg_overlay.png) top right repeat-y;}
.info_overlay_container div.overlay_btm {height:10px;background:url(../img/bg/bg_overlay_btm.png) bottom left no-repeat;font-size:1px;}
.info_overlay_container div.inner_module_top {height:5px;background:url(../img/bg/bg_overlay_inner_top.gif) bottom left no-repeat;font-size:1px;padding:0;}
.info_overlay_container div.inner_module {text-align:left;background-color:#fff;border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:1px 10px 8px 10px;}
.info_overlay_container div.inner_module h2 {padding-top:6px;}
.info_overlay_container div.inner_module_btm {clear:both;height:5px;background:url(../img/bg/bg_overlay_inner_btm.gif) top left no-repeat;font-size:1px;}
.info_overlay_container div.fullHrLine {background:#e1e1e1;height:1px;font-size:1px;margin:10px 0 15px 0;overflow:hidden;}
.info_overlay_container .hrLine {height:4px;}
.info_overlay_container h2.top {float:left;width:300px;}
.info_overlay_container .close_overlay_button {display:block;float:right;margin-top:8px;}
.info_overlay_container ul.card_list, .info_overlay_container ul.links_type_a {list-style-type:none;}
.info_overlay_container ul.card_list li {margin-left:140px;}
.info_overlay_container ul.links_type_a {float:right;}
.info_overlay_container ul.links_type_a li {float:left;margin-left:32px;}
.info_overlay_container ul.links_type_a li a.arrow {display:block;margin-top:3px;}
.info_overlay_container ul.options_type_a li {margin:4px 0;}
.info_overlay_container h2 a.expandable, .info_overlay_container h2 a.expanded, .info_overlay_container h3 a.expandable, .info_overlay_container h3 a.expanded {padding-left:20px;}
.info_overlay_container a.expandable {background:url(../img/icon/ico_plus.gif) no-repeat 0 0;}
.info_overlay_container a.expanded {background:url(../img/icon/ico_minus.gif) no-repeat 0 0;}
.info_overlay_container h2 a.expanded, .info_overlay_container h2 a.expandable {background-position:0 2px;}
.expandable_details {display:none;}
#request_paperless_statements .expandable_details p {margin-left:22px;}

ul.links_type_b {padding-left:0;margin-left:0;}
ul.links_type_b li {float:left;margin-right:12px;}
ul.links_type_c {list-style-type:none;}
ul.links_type_c li.first, ul.links_type_c li.last {float:left;width:50%;}
ul.links_type_c li.last {text-align:right;}

div.spacer_a {height:35px;}
.margined_a {margin-top:10px;}

ul.cards_success_list, ul.cards_fail_list, ul.links_type_b {list-style-type:none;}
ul.cards_success_list li, ul.cards_fail_list li {margin:0 0 2px 110px;background:url(../img/icon/icon_check_sm.gif) no-repeat 0 0;padding-left:25px;}
ul.cards_fail_list li {background:url(../img/icon/icon_x_sm.gif) no-repeat 0 3px;}

dl.email_form dt, dl.email_form dd {float:left;margin-bottom:10px;}
dl.email_form dt {width:50%;text-align:right;padding:3px 10px 0 0;}
dl.email_form dd {width:40%;margin-left:0;}
dl.email_form dd input {width:165px;}

p#latePaymentText{background: url(../img/icon/icon_clock.gif) no-repeat 0 0; padding: 5px 0 0 60px; min-height: 55px; height: auto !important; height: 55px;text-align:left;}

div.card_secure_message_alert {float:left;padding-left:18px;background:url(../img/bg/bg_card_nav_divider.gif) no-repeat 0 2px;height:56px;margin-left:15px;}
div.card_secure_message_alert h4.sma {margin:14px 0 0 0;font-size:11px;background:url(../img/icon/icon_envelope.gif) no-repeat 0 1px;padding-left:20px;}
div.card_secure_message_alert p {margin:1px 0 0 0;padding-left:20px;}

div.info_overlay_container .overlay_main #paperless_email_missing, #paperless_email_found {display:none;}
#paperless_email_missing div.email_action {float:right;width:146px;margin-top:11px;text-align:right;padding-right:5px;}
#paperless_email_missing dl.email_form {float:left;width:430px;}

#failEnrolled, #successEnrolled, #paperless_email_missing,#request_paperless_statements .withOtherAccounts {display:none;}
#request_paperless_statements #emailError {padding-left:223px;color:red;}
#request_paperless_statements #generalError {text-align:center;color:red;margin-top:6px;}
at 0 0;}
.info_overlay_container h2 a.expanded, .info_overlay_container h2 a.expandable {background-position:0 2px;}
.expandable_details {display:none;}
#request_paperless_statements .expandable_details p {margin-left:22px;}

ul.links_type_b {padding-left:0;margin-left:0;}
ul.links_type_b li {float:left;margin-right:12px;}
ul.links_type_c {list-style-type:none;}
ul.links_type_c li.first, ul.links_type_c li.last {float:left;width:50%;}
ul.links_type_c li.last {text-align:right;}

div.spacer_a {height:35px;}
.margined_a {margin-top:10px;}

ul.cards_success_list, ul.cards_fail_list, ul.links_type_b {list-style-type:none;}
ul.cards_success_list li, ul.cards_fail_list li {margin:0 0 2px 110px;background:url(../img/icon/icon_check_sm.gif) no-repeat 0 0;padding-left:25px;}
ul.cards_fail_list li {background:url(../img/icon/icon_x_sm.gif) no-repeat 0 3px;}

dl.email_form dt, dl.email_form dd {float:left;margin-bottom:10px;}
dl.email_form dt {width:50%;text-align:right;padding:3px 10px 0 0;}
dl.email_form dd {width:40%;margin-left:0;}
dl.email_form dd input {width:165px;}

div.card_secure_message_alert {float:left;padding-left:18px;background:url(../img/bg/bg_card_nav_divider.gif) no-repeat 0 2px;height:56px;margin-left:15px;}
div.card_secure_message_alert h4.sma {margin:14px 0 0 0;font-size:11px;background:url(../img/icon/icon_envelope.gif) no-repeat 0 1px;padding-left:20px;}
div.card_secure_message_alert p {margin:1px 0 0 0;padding-left:20px;}

div.info_overlay_container .overlay_main #paperless_email_missing, #paperless_email_found {display:none;}
#paperless_email_missing div.email_action {float:right;width:146px;margin-top:11px;text-align:right;padding-right:5px;}
#paperless_email_missing dl.email_form {float:left;width:430px;}

#failEnrolled, #successEnrolled, #paperless_email_missing, #request_paperless_statements .withOtherAccounts {display:none;}
#request_paperless_statements #emailError {padding-left:223px;color:red;}
#request_paperless_statements #generalError {text-align:center;color:red;margin-top:6px;}


/*Secure message module - 0807035*/
div.card_secure_message_alert {float:left;padding-left:18px;background:url(../img/bg/bg_card_nav_divider.gif) no-repeat 0 2px;height:56px;margin-left:15px;}
div.card_secure_message_alert h4.sma {margin:14px 0 0 0;font-size:11px;background:url(../img/icon/icon_envelope.gif) no-repeat 0 1px;padding-left:20px;}
div.card_secure_message_alert p {margin:1px 0 0 0;padding-left:20px;}
#securityWordSpecial tbody.finalBody {display:none;}

#loadingModule {
    position: absolute;
    display: none;
    width: 241px;
    z-index: 95;
    color: #424242;
}
#loadingModule p {
    font-size: 12px;
    margin: 0;
}
#loadingModule img {
    margin-bottom: 6px;
}
.loadingModuleTop, .loadingModuleBtm {
    height: 22px;
    background: url(../img/bg/bg_loading_top.png) no-repeat 0 0;
}
.loadingModuleBtm {
    background: url(../img/bg/bg_loading_btm.png) no-repeat 0 0;
}
.loadingModule {
    text-align: center;
    padding: 8px 15px;
    background: url(../img/bg/bg_loading.png) repeat-y 0 0;
}
#confirm_paperless_statements ul.cards_success_list li, #confirm_paperless_statements ul.cards_fail_list li {
	margin-left: 57px;
}

table.account_info td.info {background:#fff;padding:6px 9px 10px 9px;border-right:1px solid #e1e1e1;}

/* Fix for defect 19155. TPR P0003512.*/
/* Fix for defect 16268. TPR P0003510. Fixed with September release */
div.CTPError {font-family:arial, helvetica, sans-serif;font-size:1.2em;font-weight:bold;color:#f00;}
