div#header_container {width:893px;}

div.int_container {margin:0 auto !important;width:728px !important;float:none !important;clear:both;}

div#int_header_hr {width:100%;background:url(../img/bg/bg_reg_nav.gif) top left repeat-x; height:26px; border-bottom:5px solid #009dd9;margin-top:10px;margin-bottom:35px;}

div.int_module_top {width:728px;height:12px;background: #fff url(../img/bg/bg_interstitials_module_top.gif) no-repeat 0 0;font-size:1px;}
div.int_module_btm {width:728px;height:11px;background: #fff url(../img/bg/bg_interstitials_module_btm.gif) no-repeat 0 0;font-size:1px;}
div.int_module {width:696px;background: #fff url(../img/bg/bg_interstitials_module.gif) repeat-y 0 0;padding:0 16px 23px 16px;overflow:auto;}

div.int_module div.inner_module_top {width:693px;height:9px;background: #fff url(../img/bg/bg_int_module_inner_top.gif) no-repeat 0 0;font-size:1px;}
div.int_module div.inner_module_btm {width:693px;height:9px;background: #fff url(../img/bg/bg_int_module_inner_btm.gif) no-repeat 0 0;font-size:1px;}
div.int_module div.inner_module {width:673px;background: #fff url(../img/bg/bg_int_module_inner.gif) repeat-y 0 0;overflow:auto;padding:1px 10px;}

div.int_module div.inner_module ul.details_a {width:480px;float:left;padding:0;}
div.int_module div.inner_module ul.details_b {width:160px;float:left;padding:12px 30px 0 0;}



ul.details_a li, ul.details_b li {list-style:none;font-size:11px;}
ul.details_a li {clear:both;}
ul.details_a li {padding:13px 0;}
ul.details_a li dl {margin-left:27px;}
ul.details_a dl dt, ul.details_a dl dd {float:left;}
ul.block_description dl dt, ul.block_description dl dd {float:none;}
ul.block_description dl dd {width:85% !important;}
ul.details_a li dl dt {margin-left:0;width:30%;overflow:hidden;}
ul.details_a li dl dd {margin-left:0;padding:3px 20px 0 0;width:60%;}
ul.details_a li.options {text-align:left;font-size:12px;margin-top:33px;padding-left:10px;}
ul.details_a li.options a, ul.details_a li.options input {padding:0 18px;}
ul.details_a li.options input {margin-bottom:-5px;}

div.int_container h1.int_header {margin: 0 0 10px 0;}

div.int_module .options {text-align:right;font-size:12px;margin-top:33px;margin-bottom:10px;}
div.int_module .options-left {text-align:left;}
div.int_module .options a, div.int_module .options input {padding:0 18px;}
div.int_module .options input {margin-bottom:-5px;}
div.int_module .options a.arrow {font-size: 12px; padding: 0 0 0 11px; margin: 0 5px 0 15px; background-position: 0 5px;}
div.int_module .options .hrLine {margin: 0 0 10px 0;}

div.int_module h1#paperless_statements, div.int_module h1#online_bill_payment, div.int_module h1#balcon_intro, div.int_module h1#account_care {width:695px;height:192px;text-indent:-9999px;margin-bottom:9px;}
div.int_module h1#paperless_statements {background: url(../img/hdr/hdr_paperless_statements.gif) no-repeat 0 0;}
div.int_module h1#online_bill_payment {background: url(../img/hdr/hdr_online_bill_payment.gif) no-repeat 0 0;}
div.int_module h1#balcon_intro {background: url(../img/hdr/hdr_balcon_intro_wv.gif) no-repeat 0 0;}
div.int_module h1#account_care {background: url(../img/hdr/hdr_account_care_intro.html) no-repeat 0 0; height: 200px;}

div.int_module div.margined_module {margin-left:30px;font-size:11px;}
div.int_module div.margined_module ul.benefits li {margin:5px 0;}
div.int_module div.margined_module h2, ul.details_a li dl dt {font-family:verdana,geneva,sans-serif;font-weight:bold;font-size:15px;color:#006;}
div.int_module div.margined_module h2 {margin:18px 0;}

div.int_module h2.int_subheading {width:455px;}
div.int_module .int_mainP {font-size: 12px; padding: 0 0 0 5px;}

/*TEMPLATES*/
div.int_template div.int_module {padding: 4px 10px 4px 10px; background-image: url('../img/bg/bg_int_template_module.gif');}
div.int_template div.int_module_top {background-image: url('../img/bg/bg_int_template_module_top.gif');}
div.int_template div.int_module_btm {background-image: url('../img/bg/bg_int_template_module_btm.gif');}
div.int_template p {margin: 5px 0 0 0; color: #5b5f61;}
div.int_template img {margin: 0 0 10px 0; display: block;}
div.int_template div.inner_module {padding: 6px 10px; width: 673px; overflow: hidden;}
div.int_template div.inner_module img {float: right; margin: 5px 0 0 5px;}
div.int_template div.inner_module h3 {margin: 0 0 15px 0; font-size: 15px; color:#009dd9;}
div.int_template div.inner_module p {margin: 0 0 5px 0; color: #000;}
div.int_template div.inner_module h4 {margin: 0 0 2px 0; color:#009dd9; font-size: 14px; font-family: arial,sans-serif;}
div.int_template div.inner_module h5 {margin: 0 0 5px 0; font-weight: normal; font-size: 12px;}
div.int_template div.inner_module ul {margin: 0 0 15px 0; padding: 0 0 0 20px;}
div.int_template div.inner_module dl {margin: 0 0 0 0;}
div.int_template div.inner_module dt {margin: 0 0 2px 0; color:#009dd9; font-size: 15px; font-family: arial,sans-serif; font-weight: bold;}
div.int_template div.inner_module dd {margin: 0 0 15px 0;}

div.int_template div.int_template_left {padding: 0 15px  0 0; width: /*487px*/472px; float: left;}
div.int_template div.int_template_right {width: 160px; float: left;}
div.int_template div.int_template_right h3 {margin: 0 0 0 0; font-size: 14px; color: #000;}
div.int_template div.int_template_right ul {margin: 0 0 0 0; padding: 0 0 0 0; list-style-type: none; overflow: hidden;}
div.int_template div.int_template_right ul li {margin: 0 0 -1px 0; padding: 10px 0 10px 0; background:transparent url(../img/global/hr_dots.gif) repeat-x scroll left bottom;}
div.int_template div.int_template_right img {margin: 0 0 20px 0; float: none;}
div.int_template div.options {margin: 20px 0 0 0; float: left; overflow: hidden; width: 673px; padding-bottom: 5px;}
div.int_template div.options div.hrLine {margin-bottom: 5px;}
div.int_template div.options input {padding: 0 0 0 18px;}
div.int_template div.options p {font-weight: bold;}

div.int_template2 div.inner_module div.options,
div.int_template3 div.inner_module div.options {float: left; width: 673px;}

div.int_template3 div.inner_module dl {overflow: hidden;}
div.int_template3 div.inner_module dt {width: 150px; float: left;}
div.int_template3 div.inner_module dd {padding: 0 0 0 20px; width: 317px; float: left;}

div.int_template4 div.main_module {margin-bottom: -2px;}
div.int_template4 div.inner_module_btm {padding-bottom: 10px;}
div#main_container.int_template4 div.btn_container {padding-bottom:13px;}

div.int_template5 div.inner_module {padding: 6px 10px 6px 10px; width: 673px;}
div.int_template5 div.inner_module div.int_template_left {padding: 0 20px 0 0; width: 341px; background: url('../img/global/vr_dots.gif') repeat-y right 0;}
div.int_template5 div.inner_module div.int_template_right {padding: 0 0 0 20px; width: 292px;}
div.int_template5 div.inner_module h3 {margin: 0 0 20px 0; font-size: 12px; color: #000;}
div.int_template5 div.inner_module p {}
div.int_template5 div.inner_module ul {padding: 0 0 0 50px;}
div.int_template5 div.inner_module ul li {padding: 0 0 5px 0;}
div.int_template5 div.inner_module div.int_template_right p {font-weight: bold; margin: 0 0 12px 0;}
div.int_template5 div.inner_module div.options {height:42px;margin:20px 0 0;overflow:hidden;text-align:left;padding-bottom: 0;}
div.int_template5 div.inner_module div.options a {margin: 0 0 0 0;}
div.int_template5 div.inner_module div.options input {float: right; padding: 0 0 0 0;}
div.int_template5 div.inner_module_btm {margin: 0 0 10px 0;}

div#main_container.ffiec-inter {clear: both; position: relative; float: none; margin: 0 auto;}


/* AO Service Enhancements June 22, 2009 */
#header_container div.hdr_content {overflow:hidden;}
#main_container.int_container .int_leading_module {background:url(../img/bg/bg_tree_paper_stack.jpg) no-repeat -13px 0;padding-left:240px; padding-right: 0;margin:40px 0 30px 0; width: 456px; min-height: 205px; height: auto !important; height: 205px;}
#main_container.int_container .int_leading_module p, #main_container.int_container .int_module_b p {color:#171717;}
.int_container .int_module_b_top, .int_container .int_module_b_btm {width:694px;height:5px;background:url(../img/bg/bg_int_module_b_top.gif) no-repeat 0 0;font-size:1px;clear:both;}
.int_container .int_module_b {width:616px;background:url(../img/bg/bg_int_module_b.gif) repeat-y 0 0;padding:27px 39px; overflow: hidden; position: relative;}
.int_container .int_module_b_btm {background:url(../img/bg/bg_int_module_b_btm.gif) no-repeat 0 0;font-size:1px;}
.int_container ul.links_type_a {float:right;list-style-type:none;}
.int_container ul.links_type_a li {float:left;margin-left:32px;}
.int_container ul.links_type_a li a.arrow {display:block;margin-top:3px;}
.int_container .int_module_b h2 {margin-bottom:10px;}
.int_container h3 {font-size:14px;}
.int_container h3 a.expandable {color:#424242;}
.int_container h3 a.expandable:link, .int_container h3 a.expandable:visited, .int_container h2 a.expandable:link, .int_container h2 a.expandable:visited {text-decoration:none;}
.int_container h3 a.expandable:hover, .int_container h2 a.expandable:hover {text-decoration:underline;}
.int_container h2 a.expandable, .int_container h2 a.expanded, .int_container h3 a.expandable, .int_container h3 a.expanded {padding-left:20px;}
.int_container h2 a.expanded, .int_container h2 a.expandable {background-position:0 2px;}
.int_container a.expandable {background:url(../img/icon/ico_plus.gif) no-repeat 0 0;}
.int_container a.expanded {background:url(../img/icon/ico_minus.gif) no-repeat 0 0;}
.int_container ul.card_list {list-style-type:none;}
.int_container ul.card_list li {margin-left:140px;}
.int_container a.int_close {display: block; position: absolute; right: 10px; top: 6px;}
.int_container a.int_close img {margin:0;}

.expandable_details {display:none;}

ul.links_type_b {padding-left:0;margin-left:0;}
ul.links_type_b li {float:left;margin-right:12px;}
div.spacer_a {height:35px;}
.margined_a {margin-top:10px;}

ul.cards_success_list, ul.cards_fail_list, ul.links_type_b {list-style-type:none;}
ul.cards_success_list li, ul.cards_fail_list li {margin:0 0 2px 110px;background:url(../img/icon/icon_check_sm.gif) no-repeat 0 0;padding-left:25px;}
ul.cards_fail_list li {background:url(../img/icon/icon_x_sm.gif) no-repeat 0 3px;}

