div#popup_container {position:relative;text-align:left;margin:0 auto;padding:10px;font-size:.65em;}
div#popup_container h2 {margin-top:15px;margin-bottom:-5px;padding:0;}
div#popup_container h1 {margin-top:15px;padding:0;}
div#popup_container ul {margin:1em 0;padding:0;}
div#popup_container ul li {margin:0 0 2px 14px;padding:0;line-height:1.2em;}

div#messageWrapper {text-align: left; margin: 15px auto; font-size: .65em; width: 635px;}

div#popup_container div.close_link, div#messageWrapper div.close_link {text-align:right;}

div#popup_container ul ul li {list-style:none;margin-left:30px;}

.no_bottom_space {margin-bottom:0 !important;padding-bottom:0 !important;}
.no_top_space {margin-top:0 !important;padding-top:0 !important;}

div#logo_container {text-align:left;width:100%;}
div#logo_container .logo {padding-bottom:20px;float:left;width:70px;}
div#logo_container .time {float:left;border:1px solid #000;margin-left:450px;}
div.close {float:right;padding:2px;}
div.popup_help div.page-browse { padding: 0 10px 0 0; height: 25px; line-height: 20px; text-align: right; background:#EBF6FB;}
div.popup_help div.page-browse span.link {vertical-align:middle;}
div.popup_help div.page-browse span.link a {text-decoration:none;}
div.popup_help div.page-browse span.disabled {color:#DADADA;}

div.popup_help ul.help-list-links {list-style:none;}
div#popup_container.popup_help ul.help-list-links li {margin:0;padding:2px 0px;font-weight:normal;}
div.popup_help ul.help-list-links li a {display:block;background:url(../img/icon/icon_arrow.gif) 0 5px no-repeat;padding-left:7px;text-decoration:none;}
input.nextToButton, select.nextToButton {position:relative;top:5px;}

div.popup_help table.helpful-table td.label-col{width: 100px;}
div.popup_help table.helpful-table td.middle-col{width: 155px;}
div.popup_help table.helpful-table td input{margin:0;}
input.nextToButton, select.nextToButton {position:relative;top:5px;}

table.disputeTable {width:100%;}
table.disputeTable td {padding:5px 0;}
table.disputeTable td.num-col {padding-top:8px;}
table.disputeTable td.label-col {padding:7px 5px 5px 5px;}
table.disputeTable input.underline {border: none; border-bottom: 1px solid #7f9db9;}
table.disputeTable input.radio {border: none; vertical-align: bottom;}

div.close_link span {padding-left: 10px;}

div.calendar_container {width:253px;}
div.calendar_container div.calendar_top {background:url(../img/bg/bg_calendar_top.gif) top left no-repeat;height:6px;font-size:1px;}
div.calendar_container div.calendar_title {background:#fff url(../img/bg/bg_calendar_right.gif) top right repeat-y;border-left:1px solid #e1e1e1;padding:0 6px 0 9px;}
div.calendar_container div.calendar_title h3 {margin:0;padding-bottom:5px;width:100%;}
div.calendar_container div.hrFull {background:#e1e1e1 url(../img/bg/bg_calendar_right.gif) top right repeat-y;height:1px;font-size:1px;overflow:hidden;}
div.calendar_container div.calendar_close {float:right;width:9px;padding-right:10px;}
div.calendar_container div.calendar {background:#f5f5f5 url(../img/bg/bg_calendar_right.gif) top right repeat-y;border-left:1px solid #e1e1e1;}
div.calendar_container table {width:100%;}
div.calendar_container table td.prev {width:3px;padding-left:9px;padding-top:3px;}
div.calendar_container table td.next {text-align:right;width:3px;padding-right:9px;padding-top:3px;}
div.calendar_container table td.month {text-align:center;}
div.calendar_container table.calendarTable th {text-align:center;padding:1px 0 2px 0;background:#fff;border:1px solid #e1e1e1;border-left:none;}
div.calendar_container table.calendarTable th.firstTh {border-left:1px solid #e1e1e1;}
div.calendar_container table.calendarTable td {font-size:.9em;text-align:right;color:#ccc;padding:1px 6px 2px 0;}
div.calendar_container table.calendarTable td.active {padding:0;}
div.calendar_container table.calendarTable td a {text-decoration:none;color:#171717;display:block;height:10px;width:12px;padding:1px 2px 3px 2px;text-align:right;}
div.calendar_container table.calendarTable td.payment a {color:#009dd9 !important;}
div.calendar_container table.calendarTable td.today a {background:#000066;color:#fff;font-weight:bold;}
div#popup_container div.calendar_container {position: relative;}
div#popup_container div.calendar {zoom: 1; padding: 0; overflow: hidden; position: relative;}
div#popup_container div.calendar_container h2 {color: #000; font-size: 11px; font-weight: normal; margin: 5px 0 5px 0; text-align:center; zoom: 1;}
div#popup_container div.calendar_container h2 a {padding: 0 15px 0 15px;}
div.calendar_container div.calendar_btm {background:url(../img/bg/bg_calendar_bottom.gif) top left no-repeat;height:6px;font-size:1px;}
div.calendar_container ol {list-style-type: none; margin: 0 0 0 10px; padding: 0 0 0 0; overflow: hidden; border: 1px solid #e1e1e1; border-width: 1px 0 0 1px; zoom: 1; width: 231px; position:relative;}
div.calendar_container ol#day_names {}
div.calendar_container ol#day_numbers {border-width: 0 0 0 1px; margin: 0 0 7px 10px;}
div.calendar_container ol li {margin: 0 0 0 0; padding: 0 0 0 0; position: relative; text-align:center; line-height: 32px; list-style-type: none;  width: 32px; height: 32px; float: left; border: 1px solid #e1e1e1; border-width: 0 1px 1px 0; color: #989797; font-weight: bold;}
div.calendar_container ol li a {color: #000; text-decoration: none;}
div.calendar_container ol li a:hover {text-decoration: underline; color: #000;}
div.calendar_container ol#day_names li {background: #fff; color: #000;}
div.calendar_container ol#day_numbers li {}
div.calendar_container ol#day_numbers li.due a.due_marker {display: block; position: absolute; width: 43px; height: 19px; top: -1px; left: -5px; background: url(../img/bg/bg_due_date.gif) no-repeat 0 0; z-index: 1000; line-height:normal; padding-top: 20px;}
div.calendar_container ol#day_numbers li.due,
div.calendar_container ol#day_numbers li.due a {color: #ff0000;}

#table_offer_details {width:100%;border-collapse:collapse;border-spacing:0;margin-top:10px;}
#table_offer_details tr.row_header th {font-weight:bold;}
#table_offer_details tr td.normal, #table_offer_details tr th.normal {width:20%;padding:5px 30px 7px 0;}
#table_offer_details td.right_align {text-align:right;width:20%;padding:5px 0 7px 0;}
#table_offer_details tr.row_data td{padding-top:5px;padding-bottom:7px;}

#table_offer_details td.top_left, #table_offer_details td.top_right, #table_offer_details td.btm_left, #table_offer_details td.btm_right {width:9px;height:8px;padding:4px 5px 4px 4px;}
#table_offer_details p.disclosure {margin-bottom: 3px;}
#table_offer_details td.top_left {background:url(../img/bg/bg_terms_main_top_left.gif) top left no-repeat;}
#table_offer_details td.top_middle, #table_offer_details td.line {border-top: 1px solid #c8c8c8;}
#table_offer_details td.top_right {background:url(../img/bg/bg_terms_main_top_right.gif) top right no-repeat;}

div.reg_main_module_hr {border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;background:url(../img/global/hr_nav_dots.gif) top left repeat-x;height:1px;font-size:1px;overflow:hidden;}

#table_offer_details td.btm_left {background:url(../img/bg/bg_terms_main_btm_left.gif) bottom left no-repeat;}
#table_offer_details td.btm_middle {border-bottom: 1px solid #c8c8c8;}
#table_offer_details td.btm_right {background:url(../img/bg/bg_terms_main_btm_right.gif) bottom right no-repeat;}

#table_offer_details td.left_border {border-left: 1px solid #c8c8c8; width:9px;}
#table_offer_details td.right_border {border-right: 1px solid #c8c8c8; width:9px;}


p.extraSpace {margin-top: 3em;}

table.address {margin-left: 10em; width:190px;}
