div#container {position:static;width:656px;text-align:left;margin:0;padding:0;}
	
div#header_container,
div#sidebar_container,
div#footer_container,
div#footer_contextual,
.no_print,
div.offer_container {display:none;}

div#main_container {float:none;width:100%;margin-left:0;}

div#nav {height:auto;}

div#footer_brand {float:none;}

div#footer_global {float:none;}
div#footer_global div.left_module {float:left;width:150px;color:#4a4a4a;}

div#footer_global div.middle_module {float:left;width:350px;margin:0 20px;}

div#footer_global div.right_module {float:left;text-align:right;}

input {border: none; border-bottom: 1px solid #000;}
input.radioPrint {border: none;}

div.main_module div.inner_module,
table.account_status td.balance,
table.account_status td.statement_balance {border-left:none; border-right:none;}