div.reg_container {padding:0 !important; font-family:Verdana, Arial, sans-serif;}
div.reg_container a:link, div.reg_container a:visited {color:#000066;}
div.reg_container a.arrow {background:transparent url(../img/icon/icon_arrow_outside.gif) no-repeat scroll 0 5px;padding-left:7px;text-decoration:none;}

div#reg_header_container {position:relative;font-size:.65em;height:66px;}

div#reg_header_container img#logo {position:absolute; top:15px; left:12px;}

div#secureapp {float:right;display:inline;font-family:Arial, sans-serif;background:transparent url(../img/global/vr_nav_dots.gif) repeat-y 0 0;margin:15px 10px 0 0;padding:3px 0 0 15px;}
div#langToggle {float:right;display:inline;font-family:Arial, sans-serif; margin:36px 15px 0 0;padding:3px 0 0 15px;}
div#secureapp p {margin:0; padding-top:2px;padding-bottom:1px;}
div#secureapp h3 {margin:0;}
div#secureapp h3 span {display:none;}

div#reg_header_btm {width:100%;background:url(../img/bg/bg_reg_nav.gif) top left repeat-x; height:26px; border-bottom:5px solid #009dd9;}

div#reg_progress_bar {padding-top:1px;}

div#reg_main_container {float:left;width:636px;font-size:.7em;margin-top:12px; }
div#reg_main_container h1 {font-size:1.5em;margin-bottom:10px;}
div#reg_main_container h2 {font-size:1.5em;margin-top:5px;}
div#reg_main_container h4 {margin-bottom:6px;}
div#reg_main_container h4.extra_padding {margin-top:15px; margin-bottom:6px;}
div#reg_main_container ul {margin:6px 0;padding:0;}
div#reg_main_container ul li {margin:0 0 2px 13px;}

div#reg_main_container div.title_area {margin-bottom:15px;}

div#reg_main_container tr.error_row {display: none;}
div#reg_main_container tr.error_row_show {display: table-row;}

div.reg_main_module_top {width:100%;height:8px;background:url(../img/bg/bg_reg_main_top.gif) top left no-repeat;font-size:1px;}
div.reg_main_module {background:url(../img/bg/bg_reg_main.gif) top left repeat-y;padding:1px 15px 10px 15px;}
div.reg_main_module_grey {background:#f2f2f2 url(../img/bg/bg_reg_main.gif) top left repeat-y;padding:0 15px;}
div.reg_main_module_hr {border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;background:url(../img/global/hr_nav_dots.gif) top left repeat-x;height:1px;font-size:1px;overflow:hidden;}
div.reg_main_module_hr_line {border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;border-top:1px solid #c8c8c8;height:10px;font-size:1px;}
div.reg_main_module_btm {height:8px; background:url(../img/bg/bg_reg_main_btm.gif) top left no-repeat; margin-bottom:25px; font-size:1px;}
div.reg_main_module_btm_grey {height:8px;background:#f2f2f2 url(../img/bg/bg_reg_main_btm_grey.gif) top left no-repeat;font-size:1px;}

div.reg_main_module h2 {margin-bottom:10px;}
div.reg_main_module_grey div.btn_container {padding:15px 0 6px 0;}
div.reg_main_module_grey div.btn_container div#cancel-app { float: left; padding: 3px 0 0; }

div#reg_sidebar_container {float:left;width:190px;margin-left:30px;font-size:.7em;}
div#reg_sidebar_container h2 {margin:12px 0 10px 0;color:#009752;font-size:1.5em;}
div#reg_sidebar_container h2.reg_sidebar_h2 {font-family:arial,sans-serif;font-weight:bold;font-size:1.5em;}
div#reg_sidebar_container h4 {margin-bottom:4px; font-size: 1em;}
div.reg_sidebar_text {margin:0 15px 0 18px;}
div.product {margin: 0 0 10px 0;}
div#reg_sidebar_container.delete-email { margin-bottom: 60px; }
div#reg_sidebar_container div.product h3 {margin: 0 15px 0 3px;font-family:verdana,arial,sans-serif;font-size:1em;}
div#reg_sidebar_container div.product h3 a {text-decoration:none;color:#000;background:url(../img/gen/icon/icon_plus_alt.gif) 0 3px no-repeat;padding-left:14px;}
div#reg_sidebar_container div.showHelp h3 a {background:url(../img/gen/icon/icon_minus_alt.gif) 0 3px no-repeat;padding-left:14px;}
div#reg_sidebar_container div.product div.hrNav,
div#reg_sidebar_container div.product div.reg_sidebar_text {display:none;}
div#reg_sidebar_container div.showHelp div.hrNav,
div#reg_sidebar_container div.showHelp div.reg_sidebar_text {display:block;}
div#reg_sidebar_container div.reg_sidebar_text div {margin-top: 5px;}

div.reg_sidebar_text ul.reg_side_links {padding:0;margin:8px 0 2px 0;list-style:none;}
div.reg_sidebar_text ul.reg_side_links li {padding:1px 0;margin:0;}
div.reg_sidebar_text ul.reg_side_links li a {display:block;background:url(../img/icon/icon_reg_arrow.gif) 0 6px no-repeat;padding-left:7px;text-decoration:none;}

div.reg_sidebar_module_top {background:url(../img/bg/bg_reg_sidebar_top.gif) top left no-repeat;height:3px;font-size:1px;margin-top:15px;}
div.reg_sidebar_module {background:url(../img/bg/bg_reg_sidebar_left.gif) top left repeat-y;padding:0 2px 0 4px;border-right:1px solid #c5c5c5;}
div.reg_sidebar_module_bg {background:url(../img/bg/bg_reg_sidebar.gif) top left repeat-x;padding:10px 15px;}
div.reg_sidebar_module_btm {background:url(../img/bg/bg_reg_sidebar_btm.gif) top left no-repeat;height:4px;font-size:1px;}

div#reg_sidebar_container div.citi_advisor {font-size:.9em;width:212px;}
div#reg_sidebar_container div.citi_advisor h2 {margin:0;}
div.citi_advisor div.reg_citi_advisor_btm {background:url(../img/gen/bg/bg_citi_advisor_btm_alt.gif) top left no-repeat;height:12px;}
div.citi_advisor div.citi_advisor_content {padding:0 10px;background:#fbfbfb url(../img/gen/bg/bg_citi_advisor_alt.gif) left top repeat-y;}

div#reg_footer_container {float:left;width:100%;padding:15px 0;font-size:.7em;}

div#reg_footer_nav {background:#000066;height:25px;text-align:left;padding-left:7px;}
div#reg_footer_nav a:link, div#reg_footer_nav a:visited {color:#fff; text-decoration:none; background:url(../img/global/link_arrow_white.gif) no-repeat left; padding-left:.5em;font-weight:bold;}
div#reg_footer_nav a:hover{text-decoration:underline;}
div#reg_footer_nav div.reg_footer_nav_link {padding-top:6px;}

div#reg_footer_nav1 a:link, div#reg_footer_nav1 a:visited {color:#fff; text-decoration:none; background:url(../img/global/link_arrow_white.gif) no-repeat left; padding-left:.5em;font-weight:bold; float:right;}
div#reg_footer_nav1 a:hover{text-decoration:underline;}
div#reg_footer_nav1 div.reg_footer_nav_link {padding-top:6px;}

div#reg_footer {clear:both; position:relative; padding:15px 0; height:1%; text-align:left;}
div#reg_footer #reg_footer_left {float:left; width:344px;}
div#reg_footer #reg_footer_middle {float:left; width:410px;}
div#reg_footer #reg_footer_right {float:right;}
div#reg_footer #reg_footer_right a {display: block;}
div#reg_footer a {padding-left:10px; margin-left:7px; vertical-align:top;}
div#reg_footer img {text-align:right;}
div#reg_footer span {margin-left:8px;}
img#verisign {position:relative; top:-10px;}

div#reg_footer_nav.UCS {background:#067ab4;}
div#reg_footer #reg_footer_right_top_padding {padding-top:8px;float:right;} 
div#reg_footer #reg_footer_left_UCS {float:left; width:650px;}

div.reg_account_info {float:left;width:405px;}

div.reg_account_info_help {float:left;width:160px;background:url(../img/global/vr_dots.gif) top left repeat-y;padding-left:16px;margin-left:20px;}
div.reg_account_info_help h3 {margin-top:0;}
div.reg_account_info td input.textField, div.reg_account_info td select.selectField {width:165px;}
div.reg_account_info td.data-col {padding-top:2px !important;}

div.do_column {float:left;width:270px;padding-left:5px;padding-right:30px;border-right:1px solid #ececec;margin:7px 0 4px 0;}
div.dont_column {float:left;width:250px;padding:0 30px 0 15px;border-left:1px solid #ececec;margin:7px 0 4px -1px;}
div.do_column h2, div.dont_column h2 {margin-top:0 !important;}
div.do_column ul li, div.dont_column ul li {padding-bottom:3px;}
div.userid_module {padding-top:10px;}
div.userid_module td.required {font-size:.9em;}
div.userid_module input.textField {width:180px;}

div.opt_service_image {float:left;width:64px;margin-top:5px;}
div.opt_service_info {float:left;border-left:1px solid #ececec;width:380px !important;padding-left:15px;margin-top:5px;}
div.opt_service_setup {float:left;border-left:1px solid #ececec;width:525px;padding-left:15px;margin-top:5px;}
div.opt_service_setup table.formTable, div.opt_service_setup table.legal_table {width:310px;}
div.opt_service_setup table.formTable td.label-col {width:125px;}
div.opt_service_setup table.formTable input.textField {width:150px;}
div.opt_service_setup table.formTable td.data-col {vertical-align:bottom;}
div.opt_service_setup div.help_image {float:left;background:url(../img/global/vr_nav_dots.gif) top left repeat-y;padding-left:16px;margin-left:15px;}
div.opt_service_setup table.legal_table {margin-top:10px;}
div.opt_service_setup p.last {margin-bottom:25px;}

table.opt_service_table, table.showRemove {width:100%;}
table.opt_setup_table {width:auto !important;}
table.opt_service_table td.checkbox {width:25px;}
table.opt_service_table td.checkbox_text {padding-right:30px;padding-top:3px;}
table.opt_service_table td.btn {text-align:right;vertical-align:middle;}

div.reg_serv_table {padding-top:12px;padding-bottom:15px;}
div.reg_main_module div.textBlock {margin-top:1em;margin-right:100px;}

table.opt_service_table div.addedText {float:right;}
table.opt_service_table div.addedText div {font-family:arial,sans-serif;font-size:1.25em;font-weight:bold;color:#b1b1b1;padding-bottom:3px;}

div.reg_main_module table.opt_service_table tr.removeRow {display:none;}
div.reg_main_module table.showRemove tr.removeRow {display:table-row;}
div.reg_main_module table.showRemove tr.addRow {display:none;}
div.reg_padding_top {padding-top:10px;}

div.reg_confirm_links {float:right;font-size:.9em;}
div.reg_confirm_link {margin-top:5px;}

div.opt_services_confirm {padding:5px 0;}
div.reg_main_module td.serv_confirm_img {width:50px;padding-right:10px;border-right:1px solid #ececec;}
div.reg_main_module td.serv_confirm {padding-left:15px;width:207px;padding-right:15px;}
div.reg_main_module td.serv_confirm h4 {margin-bottom:1px !important;}
div.reg_main_module td.serv_confirm span.conf_no {font-size:.9em;}
div#reg_main_container div.reg_main_module td.serv_confirm ul {list-style-type: none;}
div#reg_main_container div.reg_main_module td.serv_confirm li {list-style-type: none; margin: 3px 0 3px 0; padding: 0 0 0 20px;}
div.reg_main_module td.serv_confirm li.active {background: url(../img/icon/alerts_comm_on.gif) no-repeat 0 0;}
div.reg_main_module td.serv_confirm li.inactive {background: url(../img/icon/alerts_comm_off.gif) no-repeat 0 0;}

table.sec_word_table {width:100% !important;}
/* registration complete floating module fix */
div.reg_ads {margin-top:15px; overflow: hidden; float: left; width: 638px !important;}
div.reg_ads div.reg_ad {width:304px;float:left;}
div.reg_ads div.reg_ad_top {background:url(../img/bg/bg_reg_mod_top_left.gif) top left no-repeat;height:8px;font-size:1px;}
div.reg_ads div.reg_ad_top div {background:url(../img/bg/bg_reg_mod_top_right.gif) top right no-repeat;height:8px;font-size:1px;}
div.reg_ads div.reg_ad_content {border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;padding:5px 11px;min-height:57px;}
div.reg_ads div.reg_ad_content h2 {margin:0 0 4px 0 !important;padding:0;}
div.reg_ads div.reg_ad_link {padding-bottom:6px;}
div.reg_ads div.reg_ad_btm {background:url(../img/bg/bg_reg_mod_btm_left.gif) top left no-repeat;height:8px;font-size:1px;}
div.reg_ads div.reg_ad_btm div {background:url(../img/bg/bg_reg_mod_btm_right.gif) top right no-repeat;height:8px;font-size:1px;}
div.reg_ads div.reg_ad_left {float:left;}
div.reg_ads div.reg_ad_right {float:left;margin-left:9px;}

div#reg_main_container div.reg_ads div.reg_ad_right {margin-left:0;float:right;}

div#reg_main_container div#removed_services {display:none;}
div#reg_main_container div#reg_divider {height:11px;}

div.forgot_pwd_progress_bar {margin-top:1px;}
div.forgot_pwd_container div.forgot_pwd, div.register_id_container div.register_id {padding-top:5px;}
div.forgot_pwd_container div.reg_main_module_top {margin-top:15px;}
div.register_id_container div.reg_main_module_top {margin-top:10px;}
div.forgot_pwd_container p.warning {font-size:.9em;}

div.register_id_container div.warning {background-position:left 1px;}
div.register_id_container div.warning h1 {margin-bottom:0.5em;}
div.register_id_container div.warning p {font-weight:normal;margin-top:0;padding-right:100px;}
div.register_id_container h2 {margin-top:15px !important;}
div.register_id_container div.register_id {position:relative;}
div.register_id_container div.register_id p {margin:0;}
div.register_id_container div.register_id img.def-link {vertical-align:2px;}
div.register_id_container div.register_id div.textBlock {margin:0 100px 15px 0;}
div.register_id_container div.register_id span#available {padding-left:20px;background:#fff url(../img/icon/icon_check_sm.gif) 5px top no-repeat;font-weight:bold;}
div.register_id_container table#guidelines td {width:250px;padding-left:10px;}
div.register_id_container table#guidelines td.first {padding-left:0;padding-right:10px;border-right:1px solid #E1E1E1;}
div.register_id_container table#guidelines td span {text-transform:uppercase;color:#3f5274;font-size:1.5em;font-weight:bold;}
div.register_id_container table#guidelines td ul {margin-left:1px;}
div.register_id_container div#register_step2, tr#alternateIds {display:none;}
div.register_id_container div#register_step2_1, tr#alternateIds {display:none;}
tr#alternateIds td {padding-left:118px;}
tr#alternateIds td div p {padding-right:0;}
tr#alternateIds ul {list-style:none;margin:10px 0 0 60px;}

div#popover_container {position:absolute;width:529px;z-index:200;top:62px;left:90px;}
div#popover_container div.popover_pointer {padding-left:257px;margin-bottom:-2px;position:relative;z-index:10;}
div#popover_container div.popover_pointer div {height:28px;width:20px;background:url(../img/bg/bg_overlay_arrow.png) top left no-repeat;}
div#popover_container div.popover_top {height:8px;background:url(../img/bg/bg_popover_top.png) bottom left no-repeat;font-size:1px;}
div#popover_container div.popover_main {padding:5px 11px 5px 9px;border-left:1px solid #cccccc;background:url(../img/bg/bg_popover.png) top right repeat-y;}
div#popover_container div.popover_main p {margin-top:5px;}
div#popover_container div.popover_btm {height:8px;background:url(../img/bg/bg_popover_btm.png) bottom left no-repeat;font-size:1px;}
div#popover_container div.popover_inner_module_top {height:5px;background:url(../img/bg/bg_popover_inner_top.gif) bottom left no-repeat;font-size:1px;padding:0;}
div#popover_container div.popover_inner_module {background-color:#fff;border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:5px 10px 8px 10px;}
div#popover_container div.popover_inner_module p.warning {margin-top:0;}
div#popover_container div.popover_inner_module_btm {clear:both;height:5px;background:url(../img/bg/bg_popover_inner_btm.gif) top left no-repeat;font-size:1px;}

div.reg_note_block{margin-right:100px;}
span.reg_note {display:block;font-size:.9em;line-height:1.4;color:#4a4a4a;}
span.font_small {font-size:.9em;}
div.required {font-size:.9em;padding-bottom:10px;}
div#reg_main_container td.required {font-size:.9em;}

div.forgot_pwd_container div.no_padding {padding-left:0px;padding-bottom:0px;padding-right:0px;}
div.forgot_pwd_container div.column1 {float:left;padding:0 15px 15px 10px;width:276px;border-right:1px solid #ececec;}
div.forgot_pwd_container div.column2 {float:left;width:304px;border-left:1px solid #ececec;margin-left:-1px;padding-bottom:15px;}
div.forgot_pwd_container div.column1 td.label-col {width:70px;}
div.forgot_pwd_container div.column1 input.textField {width:180px;}
div.forgot_pwd_container div.column2 div.info_area {padding:0 15px;}
div.forgot_pwd_container div.column2 input.textField {width:180px;margin-top:2px;}

div.reg_main_module_grey table.password_opt_btns {width:100%;}
div.reg_main_module_grey td.column1 {width:286px;text-align:right;border-right:1px solid #dadada;padding:15px 15px 9px 0;}
div.reg_main_module_grey td.column2 {text-align:right;padding:15px 0 9px 0;}
div.reg_main_module_grey table.password_opt_btns td.remember-me span {display:block; float: right; margin: 3px 10px 0 0;}
div.reg_main_module_grey table.password_opt_btns td.remember-me span input{margin: 0 0 0 0;}
div.reg_main_module_grey table.password_opt_btns td.remember-me a {display:block; float: right;}
div.reg_main_module table td.user-col span {display: block; margin: 2px 0 0 0;}
div.reg_main_module table td.user-col select {width: 184px;}

div.reg_main_module_btm_grey div.btm_column1 {width:286px;padding:0 15px;border-right:1px solid #dadada;height:100%;}

table.sec_question_table td {padding:0 0.5px 0.5px 0;}
table.sec_question_table tr.answerRow td {padding-bottom:15px;}
table.sec_question_table select.selectField {width:415px;}
table.sec_question_table input.textField {width:180px;}
table.sec_question_table td.label-col {font-weight:bold;font-size:.9em;padding-top:2px;}
table.sec_question_table td.label-cola {font-weight:normal;font-size:.9em;padding-top:2px;padding-left:135px;}
table.sec_question_table td.label-colb {font-weight:normal;font-size:.9em;padding-left:199px;}
table.sec_question_table td.label-colc {font-weight:normal;font-size:.9em;padding-top:2px;}
table.sec_question_table td.label-cold {font-weight:normal;font-size:.9em;padding-top:2px;padding-left:63px;}

div.reg_main_module p.textBlock {margin:1em 100px 1em 0;}

div.reg_serv_table table.opt_service_table tr.removeRow {display:none;}
div.reg_serv_table table.showRemove tr.removeRow {display:table-row;}
div.reg_serv_table table.showRemove tr.addRow {display:none;}

div.email_policy {margin:2px 0 1px 0;}

div#delete-email-prefs table.radio_table td.text {padding-left:180px;padding-bottom:0;}

table.alerts_comm td.mid-col, table.alerts_comm td.last-col {width:195px;padding-top:2px;}
table.alerts_comm td.mid-col span {position:relative;top:2px;margin-left:3px;font-weight:bold;}
table.alerts_comm td input.input_radio {position:relative;top:-2px;left:-2px;}
table.alerts_comm label.radio_label {position:relative;top:-5px;}
table.alerts_comm td.last-col a {margin-left:5px;}
table.alerts_comm tr.inner td {padding:5px;}
table.alerts_comm tr.inner input.card_name_input {width:160px;}
table.alerts_comm tbody.paperless_complete td.first-col, table.alerts_comm tr.inner td.first-col, table.alerts_comm tr.inner td.last-cell {text-align:right;}
table.alerts_comm tr.inner td.last-cell {padding:5px 10px 10px 5px;}
table.alerts_comm tbody.paperless_details, table.alerts_comm tbody.paperless_complete {display:none;}
table.alerts_comm tbody.paperless_complete td p span {position:relative;top:2px;}
table.alerts_comm tbody.paperless_complete td p.margined {margin-left:25px;}
table.alerts_comm tbody.paperless_complete td h3 {margin-top:0;padding-left:0;padding-top:0;}
table.alerts_comm select#ref_source {width:140px;}
input#adv_email_1, input#adv_email_2 {width:167px;}

table.formTable tr.title-row td {font-weight:bold;padding-left:40px;}
table.formTable td.check-col {width:70px;text-align:right;}
table.formTable td.label-col-right {padding-top:2px;}
table.formTable td.radio-col {width:20px;}

table.alerts_comm tr.inner input.agree_check {position:relative;top:3px;}
table.alerts_comm tr.inner input.all_cards_check {position:relative;top:2px;}


/* NRI Unblock styles */
div#nri-unblock div.reg_account_info, div#nri-unblock div.reg_account_info_help {margin-top:5px;}
div#nri-unblock td input.textField {width: 158px;}
body#nri-unblock h1 span.link {font-size:0.65em;}
form#AORegisterForm {background:url(../img/bg/bg_reg_main.gif) top left repeat-y;}
form#AOLoginForm {background:url(../img/bg/bg_reg_main.gif) top left repeat-y;}
form#AORegisterForm td.note-col {padding-right: 20px;}
form#AORegisterForm td.spaced {padding: 5px 0 11px;}

table#choices_set_two a.cbox_align {margin-left:55px;}
tbody.paperless_complete span.subh_text {position:relative;font-weight:bold;top:0;}

table.inline_email div#inline_email_text {position:relative;top:2px;}
td.serv_confirm_img img.paperless_confirm_image {position:relative;top:-3px;left:4px;}
p span.footnote_email {font-size:0.8em;}

table.signon td.text-col {padding-top:2px;}
div.cb_quick_container {float:right;margin-right:15px;}
div.cb_quick_container label {position:relative;top:-2px;}
div.reg_module_spacer {height:10px;}

table.cardInfo input.textField {width:180px;}
table.cardInfo input.txt3 {width:50px;}
table.cardInfo input.txt4 {width:52px;}
table.cardInfo input.txt5 {width:80px;}
table.cardInfo input.txt9 {width:100px;}
table.cardInfo input.txt12 {width:120px;}
table.cardInfo select.select5 {width:85px;}
table.cardInfo select.select3 {width:54px;}
table.cardInfo select.select4 {width:70px;}
table.cardInfo td.text-col {font-weight:bold;}
p.module_margined {margin-left:1em;}
.reg_btm_margin {margin-bottom:15px;}
div.reg_module_spacer {height:25px;}

/* Verify Account Information */

div#verify_account p.textBlock {margin-right: 100px; font-weight: bold;}
div#verify_account p {font-size: 11px;}

div#verify_account table.formTable td.label-col, 
div#verify_account table.formTable td.label-col-left {padding:0 6px 15px 0;}
div#verify_account table.formTable td.err-msg {padding-bottom:15px;}

/* m */
div.no_float { float: none; }
div.wide_esign div.reg_account_info, div.wide_esign_refer div.reg_account_info { width:100%; }
div.wide_esign table.formTable td.last-cell { padding-right: 0;}
div.wide_esign table.formTable td.checkbox-align label{ display: block; float: left; width: 370px; }
div.wide_esign table.formTable td.checkbox-align input{ display: block; float: left; margin: 0 5px 0 2px; }
div.wide_esign table.formTable td.checkbox {width: 15px;}
div.wide_esign_refer {padding: 10px 0 10px 0;}
div.wide_esign_refer table.formTable td.label-col {width: 250px;}
div.wide_esign .reg_main_module_hr { margin-bottom:12px; }
div.forgot_pwd .reg_main_module_hr { display:none; }
td.label-col-left { text-align:left; }
div.sec_word_narrow { width:512px;}
#SECURITY_WORD_QUESTION { width:356px;}
div.reg_main_module p.small_top_margin {margin-top:4px !important;}

div#logout_reg_main_container {float:left;width:655px;font-size:.7em;margin-top:12px; }
div#logout_reg_main_container h1 {font-size:1.5em;margin-bottom:10px;}
div#logout_reg_main_container h2 {font-size:1.5em;margin-top:5px;}
div#logout_reg_main_container h4 {margin-bottom:6px;}
div#logout_reg_main_container h4.extra_padding {margin-top:15px; margin-bottom:6px;}
div#logout_reg_main_container ul {margin:6px 0;padding:0;}
div#logout_reg_main_container ul li {margin:0 0 2px 13px;}

.hiddenLabel {display: none;}


/* rememeber me related */
#secureSignOnForm table.signon {width: 420px;}

#reg_main_container ul.reg_checkboxes {list-style-type:none;}
#reg_main_container ul.reg_checkboxes li.error {color: #f00;background:transparent url(../img/icon/icon_error.gif) no-repeat 0 3px;padding-left: 11px;display:none;}
.reg_main_module table.signon td.error {color: #f00;font-weight:bold;}

#secureSignOnForm table.signonSecure {width: 315px; float: left;}
#secureSignOnForm table.formTable td.data-col {padding-bottom: 10px;}
#secureSignOnForm div.remember_me_info {width: 230px; float: left; padding: 0 0 0 15px;}
#secureSignOnForm div.remember_me_info p {font-size: 10px; padding: 0 0 0 25px;}

/* wide registration banners fix and footer link vertical centering */
div.reg_ads img {width:323px;}
#reg_footer_container .reg_footer_nav_link table td.pg_right_link {vertical-align:middle;padding-right:10px;}

#reg_main_container table.formTable tr td.smallSpace {padding:0;margin:0;height:10px;font-size:1px;}
.tinyMargin {margin-top:6px;}

.hidden-rem-row,
.hidden-user-row {display: none;}

table.signon select#USERNAME {margin: 0 0 5px 0; width: 100%;}
table.signon select#takeMeTo {margin: 5px 0 0 0;}

img#processing_step1,
img#processing_step2 {float: right; margin: 3px 10px 0 0; display: none;}
img#check_avail_img {margin: -3px 10px 0 0; display: none;}
img#processing_step1.active,
img#check_avail_img.active,
img#processing_step2.active {display: inline;}

div.checkbox-option {padding-left:30px;}
div.checkbox-option .checkbox {margin: 0 0 0 -30px; float: left;}
div.checkbox-option-skip {margin-left:260px;}
div.checkbox-option-skip .checkbox {margin: 0 0 0 -20px; float: left;}

ul.alert_prefs_status {margin-bottom: 25px; padding-left: 0; list-style: none;}
ul.alert_prefs_status li {overflow: hidden; margin: 0 0 5px 0;}
ul.alert_prefs_status div.alerts_header {width: 171px; float: left; font-weight: bold; text-align: right;}
ul.alert_prefs_status div.alerts_mark {margin: 0 25px 0 50px; float: left; width: 15px; height: 12px; background: #fff no-repeat 0 0;}
ul.alert_prefs_status div.alerts_mark_on {background: url(../img/icon/alerts_comm_on.gif);}
ul.alert_prefs_status div.alerts_mark_off {background: url(../img/icon/alerts_comm_off.gif);}
ul.alert_prefs_status div.alerts_status {float: left; width: 65px;}
ul.alert_prefs_status div.alerts_link {float: left; width: 240px; text-align:right;}

div.opt_service_setup table.formTable {margin-bottom: 10px;}
.ecomm_hide_info {display: none;}
div.showECommInfo {overflow: hidden;}
div.showECommInfo .hide {display: block;}
div.showECommInfo .ecomm_hide_info {display: inline;}
div.showECommInfo a.ecomm_show_info,
div.showECommInfo a.ecomm_show_info:visited,
div.showECommInfo a.ecomm_show_info:hover {text-decoration: none; color: #000; cursor:default;}
div#reg_header_container img#logo1 {
	position:absolute;
	left:134px;
	top:14px;
}
div#header table td.header_links a {
	position:absolute;
	top:30px;
}
div#header table td.header_links a.arrow {
	top:50px;
}
div.reg_ads div.reg_ad_right {float:right;}
div.reg_ads div.reg_ad_right a img, div.reg_ads div.reg_ad_left a img {width:314px}
