table.services_table {width:100%;}
table.services_table td.left_col {width:275px;padding:0 20px 0 10px;border-right:1px solid #ececec;}
table.services_table td.right_col {width:275px;padding:0 10px 0 20px;}

div.services_inner_module {padding-bottom:15px !important;}
div.services_module h2.serv_h2 {margin:0 0 10px 10px;}

table.request_replacement_table{width:100%;margin-top:5px;}
table.request_replacement_table td.midalign-right{text-align:right; padding-right:5px;}

table.serv_item_table {width:100%;margin-top:8px;}
table.serv_item_table td {padding:5px 9px 6px 0;}
table.serv_item_table td.firstTd {padding-left:27px;background:url(../img/icon/icon_check_sm.gif) 10px center no-repeat;font-weight:bold;}
table.serv_item_table td.deactiveTd {width:125px;}
table.serv_item_table td.lastTd {width:130px;padding-left:20px;padding-right:10px;text-align:right;}

table.serv_item_table div.deactivateText, table.serv_item_table div.deactivatingText, table.serv_item_table div.prefsText {display:none;color:#999;}
table.serv_item_table div.deactivateText span, table.serv_item_table div.deactivatingText span, table.serv_item_table div.prefsText span {background:url(../img/icon/icon_arrow_disabled.gif) 0 5px no-repeat;padding-left:7px;}

div.service {width:275px;background:url(../img/global/hr_dots.gif) bottom left repeat-x;margin-bottom:15px;}
div.hidden {display:none;}
div.last_service {background:none !important;margin-bottom:0 !important;}
div.last_service div.service_apply div.service_btns {padding-bottom:0 !important;}
div.service h3 {margin:0;}

div.service h3 a.toggleLink {background:url(../img/icon/icon_plus.gif) 0 1px no-repeat;padding-left:19px;text-decoration:none;color:#171717 !important;}
div.service div.showFull h3 a.toggleLink {background-image:url(../img/icon/icon_minus.gif);}
div.add_services h3 {margin-top:10px !important;margin-bottom:10px !important;}
div.add_services h3 a.toggleLink {padding-top:1px;}

div.service h3.complete, div.service div.intro_confirm {display:none;}
div.service div.service_icon {float:right;width:60px;text-align:right;}
div.service div.service_intro {width:212px;min-height:90px;}
div.service div.service_intro_wide {width:100%;}
div.service div.service_intro_sm {width:212px;padding-bottom:10px;}
div.service div.service_intro div.intro_full, div.service div.service_intro span.intro_hide {display:none;}
div.service div.showFull div.intro_full {display:block;}
div.service div.showFull {height:auto !important;}
div.service div.showFull span.intro_hide {display:inline;}
div.service div.intro_short, div.service div.intro_full {margin:1em 0;}
div.service div.showFull div.intro_short, div.service div.showFull span.intro_more {display:none;}
div.service div.service_intro div.intro_toggle {margin-top:10px;}
div.service_apply div.service_btns {padding:10px 0 20px 0;}
div.service_apply div.service_btns div.submit, div.service_apply div.service_btns div.complete {display:none;}
div.service_apply div.service_btns div.complete {font-size:1.3em;color:#171717;font-weight:bold;padding:3px 0;}
div.service_apply div.service_btns div.btn {float:right;width:120px;text-align:right;}
div.service_apply div.service_btns div.price {color:#009dd9;min-height:19px;}
div.service_apply div.price_free {font-size:1.3em;color:#009dd9;font-weight:bold;min-height:19px;}
div.service_apply div.warning {padding:15px 0 20px 24px;background:url(../img/icon/icon_warning.gif) 0 15px no-repeat;}

div.services_module div.add_services div.inner_module {padding-top:8px;padding-bottom:8px;}
div.services_module div.add_services div.hrLine {height:25px;}
div.services_module div.add_services h3 {margin:0;}
div.services_module div.add_services div.service_link {margin-top:.5em;}

div.add_service p.price {color:#009dd9;}
div.add_service p.price_free {font-size:1.3em;color:#009dd9;font-weight:bold;line-height:.5em;}

div#autopay_module {margin-top:10px;}
table.autopay_payment_table td.input-col {width:200px;}
table.autopay_payment_table input.textField {width:170px;}

div.hrFullLine {margin:10px 0px;}

div#alerts_banner {padding-top:46px;}

div#header_container div.alerts_nav {position:relative;}
div.alerts_nav div#disable_cover {position:absolute;background:#fff;top:10px;left:124px;height:25px;width:754px;opacity:.8;filter: alpha(opacity=80);}

div.alert_status {padding-top:5px !important;padding-bottom:5px !important;}
table.alert_status_table {width:100%;}
table.alert_status_table td {padding-right:15px;}
table.alert_status_table td.header {width:90px;}
table.alert_status_table td.radio {width:45px;}
table.alert_status_table td.desc {background:url(../img/global/vr_nav_dots.gif) top left repeat-y;padding-left:15px;width:400px;}

div.alert_dests table.formTable input.textField {width:180px;}
div.alert_dests table.legal_table tr.first_row td {padding-bottom:5px;}

table.alerts_prefs_table {width:100%;border-bottom:1px solid #ececec;margin-bottom:10px;}
table.alerts_prefs_table div.alert_amount {padding:3px 0 5px 0;}
table.alerts_prefs_table div.alert_amount input.textField {width:60px;}
table.alerts_prefs_table td, table.alerts_prefs_table th {padding:5px 10px;text-align:center;}
table.alerts_prefs_table th {border-bottom:1px solid #ececec;padding-bottom:8px;}
table.alerts_prefs_table td.alerts, table.alerts_prefs_table th.alerts {width:310px;padding-left:0;text-align:left;}
table.alerts_prefs_table td.email1, table.alerts_prefs_table td.mobile1 {width:50px;background:#f8fbfd;}
table.alerts_prefs_table td.email2, table.alerts_prefs_table td.mobile2 {width:50px;}
table.alerts_prefs_table tr.hrLine td {background:url(../img/global/hr_light_dots.gif) top left repeat-x;height:1px;font-size:1px;padding:0;}

table.alerts_confirm_info_table {width:100%;margin-bottom:15px;}
table.alerts_confirm_info_table td {padding-right:15px;padding-bottom:2px;} 
table.alerts_confirm_info_table td.col2 {width:55%;background:url(../img/global/vr_nav_dots.gif) top left repeat-y;padding-left:15px;padding-right:0;}

table.alerts_confirm_table {width:100%;}
table.alerts_confirm_table th, table.alerts_confirm_table td {padding:5px 5px 5px 0px;}
table.alerts_confirm_table th.balance {width:30%;}
table.alerts_confirm_table th.frequency {width:15%;}
table.alerts_confirm_table th.email, table.alerts_confirm_table td.email {width:8%;text-align:center;}
table.alerts_confirm_table th.mobile, table.alerts_confirm_table td.mobile {width:8%;text-align:center;}
table.alerts_confirm_table tr.hrLine td {background:url(../img/global/hr_light_dots.gif) top left repeat-x;height:1px;font-size:1px;padding:0;}

table.sec_word_table {margin-top:1em;}

div.how_it_works_module table.StepsTable {width:100%;background:#f4f7fc;margin-bottom:10px;}
div.how_it_works_module table.StepsTable td.label-col-image {padding:15px 0 15px 5px;width:100px;text-align:center;} 
div.how_it_works_module table.StepsTable td.label-col-divider {padding:15px 0px 15px 0px;} 
div.how_it_works_module table.StepsTable td.label-col-info {padding:7px 0px 0px 15px;}
div.how_it_works_module table.StepsTable td.label-col-info p {font-size:1em;}
div.how_it_works_module table.StepsTable p {color:#000;}

div.terms_conditions .textarea {text-align:left;width:98%;border:1px solid #C1C1C1;padding:5px;overflow:auto;margin-top:15px;height:160px}

ol.getstarted li, ul.getstarted li {padding:3px;}

div.landing_module table.LandingTable {width:100%;margin-top:10px;}
div.landing_module table.LandingTable h3 {margin-top:0;}

div.landing_module table.LandingTable td.label-col-image {padding:5px 13px 15px 15px;} 
div.landing_module table.LandingTable td.label-col-divider {padding:0px 0px 0px 0px;background:url(../img/global/vr_nav_solid.gif) top right repeat-y;} 
div.landing_module table.LandingTable td.label-col-info {padding-left:15px;}
div.landing_module table.LandingTable p {color:#000;}
div.inner_module ol.listing {margin:5px 0;}
div.inner_module ul.listing li {padding:3px;}
div.inner_module ol.listing li {padding:4px;}

div.payment_tag_module table.paytagTable {width:100%;} 
div.payment_tag_module table.paytagTable td.label-col-image {padding:10px 15px 5px 25px;} 
div.payment_tag_module table.paytagTable td.label-col-info {padding-left:5px;}
div.payment_tag_module table.paytagTable td.label-col {width:200px;text-align:right;padding:3px 3px 9px 3px;}
div.payment_tag_module table.paytagTable input.textField {width:180px;}
div.payment_tag_module h2 .required, div.payment_tag_module h2 div.link {font-family:verdana,arial,sans-serif;font-size:.6em;font-weight:normal;color:#000;float:right;padding-top:2px;display:block;}
div.payment_tag_module h2 .required span, span.required {color:#f00;}
div.payment_tag_module table.paytagTable tr.hr td {background:url(../img/global/hr_light_dots.gif) center left repeat-x;padding:4px 0;height:1px;padding:0;}
div.payment_tag_module div.payment_tag_module h2 div.link {font-family:verdana,arial,sans-serif;font-size:.6em;font-weight:normal;color:#000;float:right;padding-top:2px;display:block;}
div.payment_tag_module span {color:#f00;}

table.formTable {width:100%;}
table.formTable td.label-col {width:200px;text-align:right;padding-top:2px;}
table.formTable td.data-col {padding-top:2px;font-weight:bold;}
table.formTable td.data-col input {font-weight: normal;}

table.preapproved_module_btm { width: 100%; margin-bottom:10px; }
table.preapproved_module_btm tr, table.preapproved_module_btm tr td { vertical-align: bottom; }
table.preapproved_module_btm tr td.colA { width: 30%; }
table.preapproved_module_btm tr td.colB { width: 20%; text-align: right; padding-right:10px; }
table.preapproved_module_btm tr td.colC { width: 38%; text-align: right; background:url(../img/global/vr_dots.gif) top left repeat-y; padding-right: 1em; }
table.preapproved_module_btm tr td.colD { width: 11%; text-align: right; }

div.threeColBarA {float:left; width:18em; padding-top: 0.5em;}
div.threeColBarB {float:left; width:30%; left: 260px; padding-top: 1em;}
div.threeColBarB p { padding: 0; margin: 0;}
div.threeColBarC {float:right; width:34%; border-left: 1px dotted #CCC; padding-left: 1em; margin-top: 1em;}
div.threeColBarC p { padding: 3px; margin: 3px; }

span.link span.link_save {display:none;}
span.editMode span.link_edit, table.formEdit span.link_edit {display:none;}
span.editMode span.link_save {display:inline;}

#pdf-status {margin-top:10px;margin-bottom:10px;}
#pdf-status td {vertical-align:top;}
#pdf-status td h3 {padding:0;margin:0;}
#pdf-title {width:30%;}
#pdf-note {padding-left:20px;padding-right:30px;background-image:url(../img/bg/bg_vertical_seperator.gif);background-repeat:repeat-y;background-position:0 0;}
#pdf-queue {padding-right:15px; width: 33%;}
#pdf-queue span {margin:0;padding:0;padding-bottom:7px;display:block;background:url(../img/global/hr_dots.gif) bottom left repeat-x;}
td#pdf-delivered {padding-top:4px;}

p.pre-approved {font-size:1.08em;margin:8px 0;}
label.big_label {float:left;padding-top:0px;margin-top:0px; font-weight: bold; font-size:1.3em;font-family:arial,sans-serif;}
input.dollar-value {margin-left:3px;width:171px;}
input.text-value {width:180px;}
td.select-col{width:390px;}

/* Column based layout of offer table */
table.colOfferTable {width: 100%; border-collapse: collapse;}
table.colOfferTable col#first{width: 12%;}
table.colOfferTable colgroup.two_col col{width: 44%;}
table.colOfferTable colgroup.three_col col{width: 29.3%;}
table.colOfferTable colgroup.four_col col{width: 22%;}
table.colOfferTable th {font-size: 1.2em; padding: 0px 9px 0px 9px;}
table.colOfferTable tr.no_border {background: transparent;}
table.colOfferTable td.labels {font-weight: bold; padding: 10px 9px 10px 0;}
table.colOfferTable td.shaded {background: #f8fbfd url(../img/global/hr_dots.gif) left bottom repeat-x;}
table.colOfferTable td {background: transparent url(../img/global/hr_dots.gif) left bottom repeat-x; padding: 10px 9px;}
table.colOfferTable tr.header td {border-bottom: 1px solid #e1e1e1; background: transparent; padding: 0 9px 10px 9px;}
table.colOfferTable tr.buttons td {background: transparent; padding: 10px 9px 7px 9px;}
table.colOfferTable td.links {background: transparent; padding: 0 0 10px 9px;}

/* Row based layout of offer table */
table.rowOfferTable {width: 100%; border-collapse: collapse;}
table.rowOfferTable col#apr{width: 13.5%;}
table.rowOfferTable col#duration{width: 18.5%;}
table.rowOfferTable col#fee{width: 18.5%;}
table.rowOfferTable col#options{width: 26%;}
table.rowOfferTable col#rewards{width: 23.5%;}
table.rowOfferTable tr.heading {background: url(../img/global/hr_dots.gif) left bottom repeat-x;}
table.rowOfferTable th {background: transparent; padding: 10px; vertical-align: bottom;}
table.rowOfferTable tr.offerHeading td {background: #f2fafd url(../img/global/hr_dots.gif) left bottom repeat-x; padding: 10px;}
table.rowOfferTable tr.last td {background: #f8fbfd url(../img/global/hr_dots.gif) left top repeat-x; padding: 10px;}
table.rowOfferTable tr.spacer td {background: transparent; padding: 0px;}
table.rowOfferTable tr.details td {background: transparent;}
table.rowOfferTable td {background: #f8fbfd url(../img/global/vr_dots.gif) right top repeat-y; padding: 10px;}
table.rowOfferTable td ul {padding: 0 10px; margin: 0;}

span.lgText {font-size: 1.2em; font-weight: bold;}
div.footnote div.textBlock ul {margin-top: 30px;}

h3.showText span.required {display:none;}
h3.showEdit span.required {display:inline;}

div#overlay_confirm_delete {position:absolute;width:630px;display:none;top:10%;left:40%;margin-left:-25%;margin-top:25%;z-index:100;}
div#overlay_confirm_delete div.overlay_delete_top {height:10px;text-align:center;background:url(../img/bg/bg_overlay_top.png) bottom left no-repeat;font-size:1px;}
div#overlay_confirm_delete div.overlay_delete_main {padding:5px 13px 5px 9px;border-left:1px solid #cccccc;background:url(../img/bg/bg_overlay.png) top right repeat-y;}
div#overlay_confirm_delete div.overlay_delete_btm {height:10px;background:url(../img/bg/bg_overlay_btm.png) bottom left no-repeat;font-size:1px;}
div#overlay_confirm_delete div.inner_module_top {height:5px;background:url(../img/bg/bg_overlay_inner_top.gif) bottom left no-repeat;font-size:1px;padding:0;}
div#overlay_confirm_delete div.inner_module {background-color:#fff;border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:1px 10px 8px 10px;}
div#overlay_confirm_delete div.inner_module h2 {padding-top:6px;}
div#overlay_confirm_delete div.inner_module_btm {clear:both;height:5px;background:url(../img/bg/bg_overlay_inner_btm.gif) top left no-repeat;font-size:1px;}
div#overlay_confirm_delete div.fullHrLine {background:#e1e1e1;height:1px;font-size:1px;margin:10px 0 15px 0;overflow:hidden;}
div#overlay_confirm_delete div.inner_module_spacer {height:10px;}

div#overlay_delete_cloak {position:fixed;top:0;left:0;min-height:100%;height:100%;width:100%;background-color:#333;filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50;display:none;z-index:90;margin:0;padding:0;}

div#overlay_confirm_leaving {position:absolute;width:630px;display:none;top:10%;left:40%;margin-left:-25%;margin-top:25%;z-index:100;}
div#overlay_confirm_leaving div.overlay_leaving_top {height:10px;text-align:center;background:url(../img/bg/bg_overlay_top.png) bottom left no-repeat;font-size:1px;}
div#overlay_confirm_leaving div.overlay_leaving_main {padding:5px 13px 5px 9px;border-left:1px solid #cccccc;background:url(../img/bg/bg_overlay.png) top right repeat-y;}
div#overlay_confirm_leaving div.overlay_leaving_btm {height:10px;background:url(../img/bg/bg_overlay_btm.png) bottom left no-repeat;font-size:1px;}
div#overlay_confirm_leaving div.inner_module_top {height:5px;background:url(../img/bg/bg_overlay_inner_top.gif) bottom left no-repeat;font-size:1px;padding:0;}
div#overlay_confirm_leaving div.inner_module {background-color:#fff;border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:1px 10px 8px 10px;}
div#overlay_confirm_leaving div.inner_module h2 {padding-top:6px;}
div#overlay_confirm_leaving div.inner_module_btm {clear:both;height:5px;background:url(../img/bg/bg_overlay_inner_btm.gif) top left no-repeat;font-size:1px;}
div#overlay_confirm_leaving div.fullHrLine {background:#e1e1e1;height:1px;font-size:1px;margin:10px 0 15px 0;overflow:hidden;}
div#overlay_confirm_leaving div.inner_module_spacer {height:10px;}

div#overlay_leaving_cloak {position:fixed;top:0;left:0;min-height:100%;height:100%;width:100%;background-color:#333;filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50;display:none;z-index:90;margin:0;padding:0;}
div.btn_container div.text_btn {float:right;padding-top:3px;}

div.hideModule span.hideLink {display: none;}
div.showModule span.hideLink {display: inline;}
div.showModule h3 a.toggleLink {background-image:url(../img/icon/icon_minus.gif) !important;}
div.showModule div.toggleDiv {display:block !important;}

table.balconSummary {width: 100%; border-collapse: collapse;}
table.balconSummary col.lineNum {width: 3%;}
table.balconSummary col.amt {width: 14.5%;}
table.balconSummary col.acct {width: 23%;}
table.balconSummary col.acctName {width: 20%;}
table.balconSummary col.fee {width: 11%;}
table.balconSummary col.status {width: 10%;}
table.balconSummary col.confirm {width: 18.5%;}
table.balconSummary col.actions {width: 28.5%;}
/*table.balconSummary tr {background: url(../img/global/hr_dots.gif) left bottom repeat-x;}*/
table.balconSummary tr.last td {padding-bottom:0;}
table.balconSummary tr.last {background:transparent;}
table.balconSummary tr.totals {background: transparent;}
table.balconSummary th {vertical-align: bottom;padding:3px 0 6px 0;}
table.balconSummary td {padding: 5px 0 7px 0;}
table.balconSummary tr.totals td {text-align: right;}
table.balconSummary div.amount_input input {width:65px}
table.balconSummary tbody.norm_state div.saveLink, table.balconSummary tbody.norm_state div.amount_input {display:none;}
table.balconSummary tbody.norm_state div.makeLink, table.balconSummary tbody.edit_state div.saveLink {display:inline;}
table.balconSummary tbody.norm_state div.amount_val, table.balconSummary tbody.edit_state div.amount_input {display:block;}
table.balconSummary tbody.edit_state div.makeLink, table.balconSummary tbody.edit_state div.amount_val {display:none;}
table.balconSummary div.err-server-msg, table.balconDetails div.err-server {width:auto;}
table.balconSummary td.actions {text-align:right;}
table.balconSummary td.actions div.makeLink, table.balconSummary td.actions div.saveLink {padding-right:10px;}
table.balconSummary input {width:60px;}
table.balconSummary tr.dataRow td {background-image:none !important;}
table.balconSummary tr th, table.balconSummary tr td {background:url(../img/global/hr_dots.gif) repeat-x;}


.noTransfers {display: none;}
.transferDetails {display: block;}


table.balconTotals {width:100%;}
table.balconTotalsMarg {margin-bottom:8px;}
table.balconTotals td {padding: 5px 0 7px 22px;text-align:right;}
table.balconTotals td.total {width:87%;}
table.balconTotals td.changes {padding-left: 0; width: 163px; text-align: left;}
table.balconTotals td.total_val {font-weight:bold;}
table.balconTotals td.total_val span {padding-right: 10px;}
table.balconTotals tr.midLine td {background: transparent; border-bottom: 1px solid #ececec;}
table.balconTotals tr.first td {padding-top:0;}
table.balconTotals td.side {width:1px;padding-left:9px;}

table.transferStatus {width: 100%; border-collapse: collapse;}
table.transferStatus col#reqDate {width: 18%;}
table.transferStatus col#amt {width: 17%;}
table.transferStatus col#paidTo {width: 33%;}
table.transferStatus col#status {width: 15%;}
table.transferStatus col#confirm {width: 18%;}
table.transferStatus tr {background: url(../img/global/hr_dots.gif) left bottom repeat-x;}
table.transferStatus tr.last {background: transparent;}
table.transferStatus th {vertical-align: bottom;}
table.transferStatus th, table.transferStatus td {padding: 6px;}
table.transferStatus td.shaded {background: #f8fbfd url(../img/global/hr_dots.gif) left bottom repeat-x;}
table.transferStatus tr.last td.shaded {background: #f8fbfd;}

table#select_offer_sort_table a.down {background-image:url(../img/icon/icon_sort_down.gif);padding-right:10px;background-position:right center;background-repeat:no-repeat;}
table#select_offer_sort_table a.up {background-image:url(../img/icon/icon_sort_up.gif);padding-right:10px;background-position:right center;background-repeat:no-repeat;}

p.watch_out_warning {width:85%;min-height:33px;}
p.watch_out_warning span.adobe_reader_wrapper {float:right;margin-left:2em;}
p.no_margin_padding {margin:0;padding:0;}

p.terms_box {text-align: right;}
p.terms_box span.req {position:relative;color:red;top:-4px;}
p.terms_box label.checkbox_text {position:relative;top:-3px;margin-right:1em;}

div.terms_box {overflow: hidden; width: 405px; margin-left: 208px; margin-bottom: 5px;}
div.terms_box label.checkbox_text {float: right; margin-right: 10px; line-height: 20px; width: 276px;}
div.terms_box div.terms_check {width: 35px; float: right; color: #FF0000;}
div.terms_box_error {width: 375px; margin-left: 227px; margin-bottom: 5px;}
span.rfloat {float:right;}

#direct_deposit .hidden, #pay_creditors .hidden, #check_to_self .hidden {display:none;}
#direct_deposit .visible, #pay_creditors .visible, #check_to_self .visible {display:inline;}
#direct_deposit input.amount_box, #pay_creditors input.amount_box, #check_to_self input.amount_box {width:60px;}

table.balconSummary td.changes_col {width:110px;}
.errortext
{  COLOR: red; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE:12px ; FONT-WEIGHT: bold  }

table.balconTotals {width:100%;}
table.balconTotalsMarg {margin-bottom:8px;}
table.balconTotals td {padding: 5px 0 7px 22px;text-align:right;}
table.balconTotals td.total {width:90%;}
table.balconTotals td.total_val {font-weight:bold;}
table.balconTotals tr.midLine td {background: transparent; border-bottom: 1px solid #ececec;}
table.balconTotals tr.first td {padding-top:0;}
table.balconTotals td.side {width:1px;padding-left:9px;}

span#amt_subtotal, span#amt_totalfees, span#amt_totalamount {font-weight:bold;}

/* Side panel for Balance Transfer */
div.bal_xfer_help {margin-top:26px;}
div.bal_xfer_help div.help_content_top {background:url(../img/bg/bg_balance_xfer_help_top.gif) top left no-repeat; height: 12px;}
div.bal_xfer_help div.help_content {padding:0 10px; background:url(../img/bg/bg_balance_xfer_help_side.gif) top left repeat-y;}
div.bal_xfer_help div.help_content_btm {background:url(../img/bg/bg_balance_xfer_help_btm.gif) top left no-repeat; height: 13px;}
div.bal_xfer_help div.help_content h2 {margin:12px 0 2px 0;}
div.bal_xfer_help div.side_item {padding:5px 0 7px 0;background:url(../img/global/hr_nav_dots.gif) bottom left repeat-x;}
div.bal_xfer_help div.side_item.first {padding:0 0 13px 0;border-bottom: 1px solid #e1e1e1;background: transparent;}
div.bal_xfer_help div.help_links {padding-bottom:3px;}
div.bal_xfer_help div.help_links ul {margin:0;padding:0;list-style:none;}
div.bal_xfer_help div.help_links ul li {margin:0;padding:1px 0;font-weight:normal;}
div.bal_xfer_help div.help_links a {display:block;background:url(../img/icon/icon_arrow.gif) 0 5px no-repeat;padding-left:7px;margin-top:6px;text-decoration:none;}

table.balconSecQuestions {width:450px;}
table.balconSecQuestions td.label-col {width:150px;}
table.balconSecQuestions tr.radio_row td {padding-bottom:0;}
table.balconSecQuestions input.textField {width:215px;}

h3.h3_lock {margin-top:8px;}
h3.h3_lock img {position:relative;top:3px;}
table.balconDetails {width:100%;}
table.balconDetails col.side {width:10px;}
table.balconDetails col.lineNum {width:2px;}
table.balconDetails col.amt {width:65px;}
table.balconDetails col.acct {width:137px;}
table.balconDetails col.payTo {width:110px;}
table.balconDetails col.category {width:135px;}
table.balconDetails div.err-server-msg, table.balconDetails div.err-server {width:auto;}
table.balconDetails tr th, table.balconDetails tr td {background:url(../img/global/hr_dots.gif) bottom left repeat-x;}
table.balconDetails tr th.side, table.balconDetails tr td.side {background-image:none !important;}
table.balconDetails tr.add_row td, table.balconDetails tr.no_bg td {background-image:none !important;}
table.balconDetails tr.add_row td {padding-top:7px;}
table.balconDetails tr.extra_text td {padding-top:0;padding-bottom:10px;}
table.balconDetails th {vertical-align:bottom;padding-bottom:9px;}
table.balconDetails th span {color:#f00;}
table.balconDetails td {vertical-align:middle;padding:5px 10px 6px 0;}
table.balconDetails td.dollar{padding-right:0;}
table.balconDetails td.actions {padding-right:0;text-align:right;}
table.balconDetails td.loading, table.balconDetails td.results {text-align:right;}
table.balconDetails td.loading div.loading {width:46px;}
table.balconDetails td.loading div.loading img {display:none;}
table.balconDetails tbody.showLoading td.loading img {display:block;}

table.balconDetails tbody.finding tr td {background:#f8fbfd url(../img/global/hr_dots.gif) bottom left repeat-x;}
table.balconDetails tbody.finding tr td {background:#f8fbfd url(../img/global/hr_dots.gif) bottom left repeat-x;}
table.balconDetails tbody.show_results tr.add_merch_text,
table.balconDetails tbody.show_results tr.add_merch_row,
table.balconDetails tbody.show_results tr.add_merch_row select,
table.balconDetails tbody.show_results tr.add_merch_btn {display:none;}
table.balconDetails tbody.show_results tr.add_merch_results {display:table-row;}
table.balconDetails tbody.show_results tr.add_merch_results select {display:block;}

table.balconDetails input.textFieldSm {width:55px;}
table.balconDetails input.textFieldLg {width:127px;}
table.balconDetails input.textField {width:100px;}
table.balconDetails select.selectField {width:125px;}
table.balconDetails select.selectFieldLg {width:240px;}
table.balconDetails tr.add_merch_text td {padding-top:8px;padding-bottom:6px;background-image:none !important;}
table.balconDetails tr.add_merch_row td.label-col {text-align:right;}
table.balconDetails tr.add_merch_row td.label-col span {color:#f00;}
table.balconDetails tr.add_merch_row input.textField {width:235px;}
table.balconDetails tr.add_merch_row input.textFieldSm {width:121px;}
table.balconDetails tr.add_merch_row td {padding-top:2px;padding-bottom:2px;background-image:none !important;}
table.balconDetails tr.add_merch_btn td {padding-top:11px;padding-bottom:15px;}
table.balconDetails tr.error_row td {background-image:none !important;padding-bottom:0;}
table.balconDetails span.disabled {color:#999;text-decoration:underline;}

div.address_change td input.textField, div.address_change td select.selectField {width:180px;}

div#download_custom_delimiter_cont {display:none;margin:2px;}

/* LOYC Styles */
.loyc_module div.column_type_a {margin-right:15px;}
.loyc_module div.column_type_a, .loyc_module div.column_type_b {float:left;width:280px;}
.loyc_module div.column_type_a dl dt, .loyc_module div.column_type_b dl dt {font-weight:bold;margin-bottom:10px;}
.loyc_module div.column_type_a dl dd, .loyc_module div.column_type_b dl dd {margin-left:0;height:60px;}
.loyc_module div.column_type_a label, .loyc_module div.column_type_b label {font-weight:bold;}
.loyc_module table.rowOfferTable, .loyc_module table.colOfferTable {margin-top:25px;}
.loyc_module div.loyc_option_a, .loyc_module div.loyc_option_b {display:none;}
.loyc_module table.colOfferTable th a:link, .loyc_module table.colOfferTable th a:visited, .loyc_module table.colOfferTable th a:hover {font-size:0.8em;font-weight:normal;text-decoration:none;}
.loyc_module table.colOfferTable th a:hover {text-decoration:underline;}
.loyc_module table.colOfferTable td.links {padding-top:20px;}

#balanceSummary {width:100%;background:url(../img/bg/dotted-line.gif) repeat-x 0 0;}
#balanceSummary td, #balanceSummary th {padding:6px 0;background:url(../img/bg/dotted-line.gif) repeat-x left bottom;}
#balanceSummary tr th {font-weight:bold;width:180px;}
/* End of LOYC Styles */