/* Style for login.php */

#backtoredemption {
	position:absolute;
	top:0;
	left:0;
	border-bottom:#6fa706 1px solid;
	background:#86ca09;
	background:-moz-linear-gradient(bottom,#77b306,#8cd308);
	background:-webkit-gradient(linear,left bottom,left top,from(#77b306),to(#8cd308));height:30px;width:100%;}

#backtoredemption a {
	text-decoration:none;
	display:block;
	line-height: 30px;
	padding: 0 0 0 15px;
	color: #426600;
}

#backtoredemption a:hover {
	color: #FFF;
}

#login {
	width: 350px;
	margin: 110px auto;		
}

#logo {
	width: 350px;
	height: 100px;
	background: url(../images/azora.png) 50% 50% no-repeat;
}

#prms {
	margin: 5px 0 0 0;
	width: 350px;
	height: 20px;
	background: url(../images/prms.png) 0 0 no-repeat;
}


form { 
	margin-top:25px;	
	padding:16px 16px 40px 16px;
	font-weight:normal;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
	border:1px solid #e5e5e5;
	-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	box-shadow:rgba(200,200,200,1) 0 4px 18px;
}

.button-primary {
	width: 70px;
}

form .forgetmenot {
	font-weight:normal;
	float:left;
	margin-bottom:0;}
		
#login form p {
	margin-bottom:0;
}

label {
	color:#777;font-size:15px;
}

form .forgetmenot label{font-size:11px;line-height:19px;}
form .submit,.alignright{float:right;}
form p{margin-bottom:24px;}

#nav {text-shadow:rgba(255,255,255,1) 0 1px 0;}

#login_error, .message {
	margin:0 0 16px 8px;
	border-width:1px;
	border-style:solid;
	padding:12px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	background-color: #FFEBE8;
	border-color: #C00;
}

#info {
	margin:0 0 16px 8px;
	border-width:1px;
	border-style:solid;
	padding:12px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	background: #eeffcc;
	border-color: #99dd00;
}
	
#nav{float:left; padding:5px 10px 10px 2px;}
#user_pass,#user_login,#user_email{font-size:16px;width:97%;padding:3px;margin-top:5px;margin-right:6px;margin-bottom:16px;border:1px solid #e5e5e5;background:#fbfbfb;}
input{color:#555;}.clear{clear:both;}


#login_error,.message {
	margin:16px 0 10px 0; border-width:1px; border-style:solid; padding:12px; 
	-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	background-color: #FFEBE8;
	border-color: #C00;
}

#info {
	margin:16px 0 10px 0; border-width:1px; border-style:solid; padding:12px; 
	-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	background: #eeffcc;
	border-color: #99dd00;
}

.button-primary {
	font-family: "Segoe UI", Verdana, Tahoma, Helvetica, "Helvetica Neue", Arial, sans-serif; 
	padding:3px 10px;
	border:none;
	line-height: 16px !important;
	font-size:12px;
	border-width:1px;
	border-style:solid;
	-moz-border-radius:13px;
	-khtml-border-radius:13px;
	-webkit-border-radius:13px;border-radius:13px;cursor:pointer;text-decoration:none;margin-top:-2px;
}

input.button-primary,button.button-primary,a.button-primary { 
	border-color:#9dcd37;font-weight:bold;color:#fff;background:#bffb3f url(../images/p-button.png) repeat-x scroll left top;text-shadow:#8e8e8e 0 1px 0;}
	
input.button-primary:active,button.button-primary:active,a.button-primary:active { 
	background:#6f9922 url(../images/p-button-a.png) repeat-x scroll left top;color:#edf6db;}
	
input.button-primary:hover,button.button-primary:hover,a.button-primary:hover,a.button-primary:focus,a.button-primary:active { border-color:#74b006;color:#eeeeee; }

#forgotform {
	display: none;
}